{% extends 'model/content/detail.html' %}
{% block extra_data %}
                    <div>
                        <table class="table-condensed table-bordered" >

                            <tr>
                                <th>DATE & DAY :	</th>
                                <td>{% if model.start_date %}{{ model.start_date }}{% if model.end_date %} - {{model.end_date}}{% endif %}{% else %}TBD{% endif %}</td>
                            </tr>
                            {% if model.duration %}
                            <tr>
                                <th>Duration :	</th>
                                <td>{{ model.duration }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Location :	</th>
                                <td>{% if model.location %}{{ model.location }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Organiser :	</th>
                                <td>{% if model.organiser and model.organiser.id %}{{ model.organiser.name }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Amount :	</th>
                                <td>{% if model.amount %}{{ model.amount }}{% else %} Amount will be updated soon.{% endif %}</td>
                            </tr>
                        </table>
                    </div>
{% endblock %}

