{% extends '/model/content/editor.html' %}
{% block extra_fields %}
        <div class="row">
                <div class="heading">
                    <h4 class="form-heading">Types included<small>&nbsp; <a href="#" class="edit-form-tags" data-key="{{content.id}}" data-field="facets" data-value="{% for c in content.facets %}{{c}},{%endfor %}" data-type="events">(change)</a></small></h4>
                    <hr/>
                </div>
                {% for f in content.facets %}
                <span>{{f}}{% if not loop.last %}, {% endif %}</span>
                {% endfor %}
                </table>
        </div>
        <br/>
        <br/>
{% endblock %}

