
<section class="container-fluid p-0">
    <div class="activity-banner"  style="background:url({{model.cover_image_path}}) no-repeat ; background-size: 100%;">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="favourite">
                    <img src="../images/acitivity-icon.jpg" class="img-rounded img-responsive">
                    <a href=""><h3>Add to Favourite</h3></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <h2>{{ model.name }}</h2>
            </div>
        </div>
    </div>
</section>

<!----------------TABS---------------->
    <section class="container-fluid p-0">
        <div role="tabpanel" data-example-id="togglable-tabs">
            <div class="border-grey-t border-grey-b h-56">
                <div class="container text-center">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#about"  role="tab" data-toggle="tab" aria-controls="about" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>About</strong></a></li>
                        <li class=""><a href="#adventures"  role="tab" data-toggle="tab" aria-controls="adventures" aria-expanded="false">'
                        <span class="fa fa-child"></span> <strong>Adventures</strong> </a></li>
                        <li class=""><a href="#favourited" role="tab" data-toggle="tab" aria-controls="favourited" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Favourited By</strong> <span class="badge">15</span></a></li>
                        <li class=""><a href="#photosvideos" role="tab" data-toggle="tab" aria-controls="photosvideos" aria-expanded="false">
                        <span class="fa fa-image"></span> <strong>Photos/Videos</strong> <span class="badge">22</span></a></li>
                        <li class=""><a href="#discussions" role="tab" data-toggle="tab" aria-controls="discussions" aria-expanded="false">
                        <span class="fa fa-comment"></span> <strong>Discussions</strong> <span class="badge">8</span></a></li>
                        <li class=""><a href="#journals" role="tab" data-toggle="tab" aria-controls="journals" aria-expanded="false">
                        <span class="fa fa-book"></span> <strong>Journals</strong> <span class="badge">16</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="about" aria-labelledby="about">
                    <div class="col-xs-12 col-md-12 tab-details">
                        {{model.process_about|safe}}
                    </div>
                    {% if model.dos|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-left">
                        <h3>Do's</h3>
                        <ul class="my-list-right">
                            {% for do in model.dos %}
                                <li>{{do}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if model.donts|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-right">
                          <h3>Don'ts</h3>
                          <ul class="my-list-wrong">
                              {% for dont in model.donts %}
                                <li>{{dont}}</li>
                              {% endfor %}
                          </ul>
                    </div>
                    {% endif %}
                  </div>

                    <!--------------ADVENTURE TAB DATA--------->

                  <div role="tabpanel" class="tab-pane fade" id="adventures" aria-labelledby="adventures">

                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <h4 class="oswald pl-10 pt-15">Trekking & Hiking Adventures in India</h4>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <form class="form-inline mb-10 pull-right">
                                <select class="form-control">
                                    <option class="">FILTER BY RATING</option>
                                    <option class="rating-easy">EASY</option>
                                    <option class="rating-medium">MEDIUM</option>
                                    <option class="rating-difficult">DIFFICULT</option>
                                    <option class="rating-extreme">EXTREME</option>
                                </select>
                                <input class="form-control" list="location" placeholder="FILTER BY LOCATION">
                                <datalist id="location">
                                    <option value="Lorem Ipsum ">
                                    <option value="Iorem Ipsum ">
                                    <option value="Jorem Ipsum ">
                                    <option value="Morem Ipsum ">
                                    <option value="Korem Ipsum ">
                                </datalist>
                                <button class="btn btn-default oswald">RESET</button>
                            </form>
                        </div>
                    </section>

                    <div class="container-fluid fitrangi-thumb">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-medium">MEDIUM</a>
                                </article>
                              </div>

                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>

                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-easy">EASY</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-medium">MEDIUM</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-extreme">EXTREME</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-easy">EASY</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-extreme">EXTREME</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-difficult">DIFFICULT</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-easy">EASY</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                              <img src="../images/slider-3.jpg" alt="...">

                              <div class="caption captop">
                                <article>
                                    <h4>51 Votes : </h4>
                                    <a href="" class="btn rating-difficult">DIFFICULT</a>
                                </article>
                              </div>
                              <div class="caption capbottom">
                                <a href="" class="btn btn-default"><span class="fa fa-user"></span></a>
                                <a href="" class="btn btn-default"><span class="fa fa-tags"></span></a>
                              </div>
                              <div class="caption">
                                <h4>Lorem Ipsum at Ladakh</h4>
                              </div>
                            </div>
                        </div>

                         <script>
                             $(document).ready(function() {
                                 $.ajax({
                                    type: 'get',
                                    url: '/views/template?model_view=adventure&card_type=grid&as_list=True&page=1&layout=nolayout'
                                }).done(function (data) {
                                    $('#activity_adventure').html(data);
                                });
                             });
                         </script>
                      </div>
                  </div><!--Tab Pane End-->

                    <!-----------FAVOURITED TAB DATA------->

                  <div role="tabpanel" class="tab-pane fade" id="favourited" aria-labelledby="favourited">
                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="oswald pl-10 pt-15">Favourited by</h4>
                        </div>
                    </section>
                    <section class="container-fluid">

      		            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			                <ul class="media-list">
                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/pro-pic.jpg" class="img-circle img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>

                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/pro-pic.jpg" class="img-circle img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>

                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/pro-pic.jpg" class="img-circle img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>
			                </ul>
			            </div>

      		            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul class="media-list">
                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/poplr-pro1.jpg" class="media-object img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>

                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/poplr-pro2.jpg" class="media-object img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>

                                <li>
                                <article class="fitrangi-profile">
                                    <img src="../images/poplr-pro1.jpg" class="media-object img-responsive pull-left p-5" width="60" height="100">
                                    <a href="" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
                                    <h4>User Name Comes Here</h4>
                                    <h5><span class="fa fa-map-marker"></span> Mumbai, Maharashtra </h5>
                                </article>
                                </li>
			                </ul>
      		            </div>
            	    </section>
                  </div><!--Tab Pane End-->
                     <!-----------PHOTO/VIDEO GALLARY TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="photosvideos" aria-labelledby="photosvideos">

                           <div class="col-xs-12 col-md-12 tab-details">
                              <div class="fotorama thumbnail" data-nav="thumbs" data-width="100%" data-ratio="1980/1366" data-maxwidth="1366" data-minheight="200" data-maxheight="400">
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                              </div>
                           </div>
                  </div>
                        <!-----------DISCUSSION TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="discussions" aria-labelledby="discussions">

                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="oswald pl-10 pt-15">Trekking & Hiking : Discussion</h4>
                        </div>
                    </section>

                    <div class="container-fluid discussion">

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle p-10" src="../images/pro.jpg" width="100"  alt="...">
                                  </a>
                                </div>

                                <div class="media-body">
                                  <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                </div>

                                <div class="media-right">
                                    <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                    <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                    <a class="last-seen">32Min</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle p-10" src="../images/pro.jpg" width="100"  alt="...">
                                  </a>
                                </div>

                                <div class="media-body">
                                  <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                </div>

                                <div class="media-right">
                                    <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                    <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                    <a class="last-seen">32Min</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle p-10" src="../images/pro.jpg" width="100"  alt="...">
                                  </a>
                                </div>

                                <div class="media-body">
                                  <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                </div>

                                <div class="media-right">
                                    <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                    <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                    <a class="last-seen">32Min</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle p-10" src="../images/pro.jpg" width="100"  alt="...">
                                  </a>
                                </div>

                                <div class="media-body">
                                  <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                </div>

                                <div class="media-right">
                                    <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                    <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                    <a class="last-seen">32Min</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle p-10" src="../images/pro.jpg" width="100"  alt="...">
                                  </a>
                                </div>

                                <div class="media-body">
                                  <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                </div>

                                <div class="media-right">
                                    <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                    <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                    <a class="last-seen">32Min</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <section class="container-fluid">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary">Add a Discussion</button>
                            <button type="button" class="btn btn-primary">Go to Discussion</button>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <nav>
                              <ul class="pagination m-0 pull-right ">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <i class="fa fa-angle-double-left"></i>
                                  </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <i class="fa fa-angle-double-right"></i>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </section>
                    <script>
                        $(document).ready(function() {
                            $.ajax({
                            type: 'get',
                            url: '/views/template?model_view=discussion&card_type=row&as_list=True&page=1&layout=nolayout'
                            }).done(function (data) {
                                 $('#discussion_models').html(data);
                            });
                        });
                    </script>
                  </div><!--Tab Pane End-->

                        <!-----------JOURNALS TAB DATA------->

                  <div role="tabpanel" class="tab-pane fade" id="journals" aria-labelledby="journals">
                        <section class="container-fluid border-grey-b mb-10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="oswald pl-10 pt-15">Journals</h4>
                            </div>
                        </section>

      	                <section class="container-fluid fitrangi-journal">

                            <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4><span>Lorem Ipsum dolor sit is the dummy content</span></h4>
                            </a>

                            <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4><span>Lorem Ipsum dolor sit is the dummy content</span></h4>
                            </a>

                            <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4><span>Lorem Ipsum dolor sit is the dummy content</span></h4>
                            </a>


                            <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4><span>Lorem Ipsum dolor sit is the dummy content</span></h4>
                            </a>
                        </section>
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            type: 'get',
                                            url: '/views/template?model_view=article&card_type=grid&as_list=True&page=1&layout=nolayout'
                                        }).done(function (data) {
                                            $('#article_models').html(data);
                                        });
                                    });
                                </script>
                  </div><!--Tab Pane End-->

                            <hr class="clearfix divider">
                       </section>
                  </div>
                </div>
            </div>
        </div>
    </section>


