{# % extends 'site/models/common/_detail.html' % #}

<section class="container-fluid p-0">
    <div class="activity-banner">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="favourite">
                    <img src="../images/acitivity-icon.jpg" class="img-rounded img-responsive">
                    <a href=""><h3>Add to Favourite</h3></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <h2>{{ model.name }}</h2>
            </div>
        </div>
    </div>
</section>

<!----------------TABS---------------->
    <section class="container-fluid p-0">
        <div role="tabpanel" data-example-id="togglable-tabs">
            <div class="border-grey-t border-grey-b h-56">
                <div class="container text-center">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#about"  role="tab" data-toggle="tab" aria-controls="about" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>About</strong></a></li>
                        <li class=""><a href="#adventures"  role="tab" data-toggle="tab" aria-controls="adventures" aria-expanded="false">'
                        <span class="fa fa-child"></span> <strong>Adventures</strong> </a></li>
                        <li class=""><a href="#favourited" role="tab" data-toggle="tab" aria-controls="favourited" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Favourited By</strong> <span class="badge">15</span></a></li>
                        <li class=""><a href="#photosvideos" role="tab" data-toggle="tab" aria-controls="photosvideos" aria-expanded="false">
                        <span class="fa fa-image"></span> <strong>Photos/Videos</strong> <span class="badge">22</span></a></li>
                        <li class=""><a href="#discussions" role="tab" data-toggle="tab" aria-controls="discussions" aria-expanded="false">
                        <span class="fa fa-comment"></span> <strong>Discussions</strong> <span class="badge">8</span></a></li>
                        <li class=""><a href="#journals" role="tab" data-toggle="tab" aria-controls="journals" aria-expanded="false">
                        <span class="fa fa-book"></span> <strong>Journals</strong> <span class="badge">16</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="about" aria-labelledby="about">
                    <div class="col-xs-12 col-md-12 tab-details">
                        {{model.about|safe}}
                    </div>
                    {% if model.dos|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-left">
                        <h3>Do's</h3>
                        <ul class="my-list-right">
                            {% for do in model.dos %}
                                <li>{{do}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if model.donts|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-right">
                          <h3>Don'ts</h3>
                          <ul class="my-list-wrong">
                              {% for dont in model.donts %}
                                <li>{{dont}}</li>
                              {% endfor %}
                          </ul>
                    </div>
                    {% endif %}
                  </div>
                    <!--------------ADVENTURE TAB DATA--------->
                  <div role="tabpanel" class="tab-pane fade" id="adventures" aria-labelledby="adventures">
                     <section class="p-0">
                         <div id="activity_adventure" class="fitrangi-thumb">

                         </div>
                         <script>
                             $(document).ready(function() {
                                 $.ajax({
                                    type: 'get',
                                    url: '/views/template?model_view=adventure&card_type=grid&as_list=True&page=1&layout=nolayout'
                                }).done(function (data) {
                                    $('#activity_adventure').html(data);
                                });
                             });
                         </script>
                      </section>
                  </div>
                    <!-----------FAVOURITED TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="favourited" aria-labelledby="favourited">
                      <h4>Favourited</h4>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                     <!-----------PHOTO/VIDEO GALLARY TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="photosvideos" aria-labelledby="photosvideos">

                           <div class="col-xs-12 col-md-12 tab-details">
                              <div class="fotorama thumbnail" data-nav="thumbs">
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                                  <a href=""><img src="../images/slider-3.jpg"></a>
                                  <a href=""><img src="../images/slider-2.jpg"></a>
                                  <a href=""><img src="../images/slider-1.jpg"></a>
                              </div>
                           </div>
                  </div>
                        <!-----------DISCUSSION TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="discussions" aria-labelledby="discussions">
                         <hr class="clearfix divider">
                        <section class="container-fluid discussion pb-20">
                          <h2 class="my-h2">Trekking & Hiking:Latest Discussion</h2>
                          <div class="container">
                             <ul class="media-list">
                                  <li class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="img-circle" src="../images/pro.jpg" width="120"  alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                        <div class="media-bottom">

                                            <div class="pull-right">
                                                <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                                <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                            </div>

                                            <div class="media-right">
                                                <a class="last-seen">32Min</a>
                                            </div>

                                        </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="img-circle" src="../images/pro.jpg" width="120"  alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                        <div class="media-bottom">

                                            <div class="pull-right">
                                                <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                                <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                            </div>

                                            <div class="media-right">
                                                <a class="last-seen">32Min</a>
                                            </div>

                                        </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="img-circle" src="../images/pro.jpg" width="120"  alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                        <div class="media-bottom">

                                            <div class="pull-right">
                                                <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                                <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                            </div>

                                            <div class="media-right">
                                                <a class="last-seen">32Min</a>
                                            </div>

                                        </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="img-circle" src="../images/pro.jpg" width="120"  alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                        <div class="media-bottom">

                                            <div class="pull-right">
                                                <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                                <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                            </div>

                                            <div class="media-right">
                                                <a class="last-seen">32Min</a>
                                            </div>

                                        </div>
                                    </div>
                                  </li>
                                  <li class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="img-circle" src="../images/pro.jpg" width="120"  alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting industry.</h4>
                                        <div class="media-bottom">

                                            <div class="pull-right">
                                                <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                                                <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                                            </div>

                                            <div class="media-right">
                                                <a class="last-seen">32Min</a>
                                            </div>

                                        </div>
                                    </div>
                                  </li>
                             </ul>
                                 <hr class="clearfix divider">
                                <div class="pull-left">
                                <button class="btn btn-primary">Add a discussion</button>
                                <button class="btn btn-primary">Go to discussion</button>
                                </div>
                          </div>
                        </section>
                  </div>
                        <!-----------JOURNALS TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="journals" aria-labelledby="journals">
                       <hr class="clearfix divider">
                       <section class="container-fluid journal ">
                            <h2 class="my-h2">Trekking & Hiking:Popular from journal</h2>
                            <div class="container">
                                <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4>Lorem Ipsum dolor sit is the dummy content</h4>
                                </a>

                                <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4>Lorem Ipsum dolor sit is the dummy content</h4>
                                </a>

                                <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4>Lorem Ipsum dolor sit is the dummy content</h4>
                                </a>

                                <a href="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4>Lorem Ipsum dolor sit is the dummy content</h4>
                                </a>

                                <a href="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img src="../images/journal-1.jpg">
                                <h4>Lorem Ipsum dolor sit is the dummy content</h4>
                                </a>
                                <div class="pull-left">
                                    <button class="btn btn-primary">Go to Journal</button>
                                </div>
                            </div>
                            <hr class="clearfix divider">
                       </section>
                  </div>
                </div>
            </div>
        </div>
    </section>


