<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item row">
      <div class="col-md-1"><i class="glyphicon glyphicon-bookmark pull-left"></i></div>
      <div class="col-md-10">
      <h4 class="list-group-item-heading"><a href="#">List group item heading</a></h4>
      <small class="list-group-item-text">This text will have simple description about the text.</small>
      </div>
      <div class="col-md-1 text-right">123 <i class="glyphicon glyphicon-star"></i></div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1"><i class="glyphicon glyphicon-bookmark pull-left"></i></div>
      <div class="col-md-10">
      <h4 class="list-group-item-heading"><a href="#">List group item heading 1</a></h4>
      <small class="list-group-item-text">This text will have simple description about the text.</small>
      </div>
      <div class="col-md-1 text-right">560 <i class="glyphicon glyphicon-star"></i></div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1"><i class="glyphicon glyphicon-user pull-left"></i></div>
      <div class="col-md-10">
      <h4 class="list-group-item-heading"><a href="#">List group item heading 2</a></h4>
      <small class="list-group-item-text">This text will have simple description about the text.</small>
      </div>
      <div class="col-md-1 text-right">340 <i class="glyphicon glyphicon-star"></i></div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1"><i class="glyphicon glyphicon-bookmark pull-left"></i></div>
      <div class="col-md-10">
      <h4 class="list-group-item-heading"><a href="#">List group item heading 3</a></h4>
      <small class="list-group-item-text">This text will have simple description about the text.</small>
      </div>
      <div class="col-md-1 text-right">1004 <i class="glyphicon glyphicon-star"></i></div>
    </li>
  </ul>
</div>
