<div class="{% block grid_size %}{% endblock %}">
    <div class="thumbnail text-center">
        <div>
            <a href="{{model.slug}}"><img src="{{model.cover_image_path_small}}"  alt="{{model.name}}"></a>
        </div>

        <!--div class="caption captop">
            <article>
                <h4><a class="label label-warning label-as-badge" href="{{model.slug}}#adventure-review-area" style="color: white">{% set reviews_count=model.reviews_count %}{% if reviews_count > 0 %}{{reviews_count}} Reviews{% else %}Write review{% endif %}</a></h4>
                <a href="#" class="btn rating-{{model.extremity|lower}}">{{model.extremity}}</a>
            </article>
        </div-->
        <!--div class="caption capbottom">
            {% if user and not user.is_business_profile %}
                {% if not model in user.accomplished_adventure %}
                    <button type="button" class="btn btn-default hoverable" data-action="add-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}"  role="button" data-placement="left" data-toggle="popover" data-content="Done this" data-trigger="hover"><span class="fa fa-flag grey"></span>&nbsp; </button>
                {% else %}
                    <button type="button" class="btn btn-default hoverable" data-action="remove-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}" role="button" data-placement="left" data-toggle="popover" data-content="Undo this" data-trigger="hover"><span class="fa fa-flag green"></span>&nbsp; </button>
                {% endif %}
                {% if not model in user.wish_list_adventure %}
                    <button type="button" class="btn btn-default hoverable" data-action="add-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}" role="button" data-placement="right" data-toggle="popover" data-content="Add to wishlist" data-trigger="hover"><span class="fa fa-list grey"></span>&nbsp; </button>
                {% else %}
                    <button type="button" class="btn btn-default hoverable" data-action="remove-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}" role="button" data-placement="right" data-toggle="popover" data-content="Remove from wishlist" data-trigger="hover"><span class="fa fa-list green">&nbsp; </span> </button>
                {% endif %}
            {% endif %}
        </div-->
        <div class="caption">
            <h4><a class="text-muted" href="{{model.slug}}">{{model.name_short}}</a> </h4>
        </div>

    </div>
</div>

