<div class="{% block grid_size %}col-lg-4 col-md-4 col-sm-6 col-xs-12{% endblock %}">
    <div class="thumbnail">
       <a class="text-muted" href="{{model.slug}}"><img src="{{model.cover_image_path_small}}"  alt="..."></a>

        <div class="caption captop">
            <article>
                <h4>{% set reviews_count=model.reviews_count %}{% if reviews_count > 0 %}{{reviews_count}} Reviews{% else %}Not reviewed yet{% endif %}</h4>
                <a href="" class="btn rating-{{model.extremity|lower}}">{{model.extremity}}</a>
            </article>
        </div>
        <div class="caption capbottom">
            {% if user %}
                {% if not model in user.accomplished_adventure %}
                    <a href="#" class="btn btn-default" data-action="add-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-check"></span>&nbsp;</a>
                {% else %}
                    <a href="#" class="btn btn-default" data-action="remove-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-check orange"></span>&nbsp;</a>
                {% endif %}
                {% if not model in user.wish_list_adventure %}
                    <a href="#" class="btn btn-default" data-action="add-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-star"></span> </a>
                {% else %}
                    <a href="#" class="btn btn-default" data-action="remove-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-star orange"></span> </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="caption">
            <h4><a class="text-muted" href="{{model.slug}}">{{model.name}}</a> </h4>
        </div>

    </div>
</div>

