<section class="container-fluid p-0">
    <div class="blogs-banner" style="{{background_cover}}">
        <section class="container  blogs-heading">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{model.title}} </h2>
	            <div class="media">
    	            <center><img src="{{model.author.cover_image_path}}" class="img-circle text-center" width="48"></center>
                    <br/>
                    <h4>by {{model.author.name}}</h4>&nbsp;|&nbsp;
    	            <h4>{{model.since}}</h4>&nbsp;|&nbsp;
                    <h4>{{model.comments_count}}&nbsp;Comments</h4>&nbsp;|&nbsp;
                    <h4>{{model.views}}&nbsp;Views</h4>

	            </div>
            </div>
            <br/>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-4 col-md-offset-4">
                {% import 'site/includes/share-button.html' as share %}
                <div class="share-blog-bg text-center">
                    {{ share.show(model.title, model.description, model.slug) }}
                </div>
            </div>
        </section>
    </div>
</section>

<hr class="clearfix divider">

<section class="container">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 blogs-content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fitrangi-tags-list">
            <article class="text-left">
                <span class="fs-20 pr-20 oswald middle">Posted in (Channels and Tags): </span>
                {% for channel in model.channels %}
                <a href="#">{{channel.name}}</a>
                {% endfor %}
                {% for tag in model.tags %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
            </article>
        </div>
        <hr/>
        {% if model.get_videos_list() %}
        <div class="col-sm-12 thumbnail">{{model.get_videos_list()|safe}}</div>
        <hr/>
        {% endif %}
        {{model.process_content|safe}}
        <hr/>
        <input id="post-filter" type="hidden" data-model="post" data-category="all" data-filter="parent__article__pk" value="{{model.id}}" data-filter-status="fixed" />
        <div class="">
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'comment') }}
            {{ comments|safe }}
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-3">
        <h4 class="lightgrey">Sponsored</h4>


        <section class="row sponsored-thumb">
            {{ advertisement_list|safe}}

        </section>
        <h4 class="lightgrey border-grey-b pb-5 ">Related</h4>
        <section class="row sponsored-thumb">
            <input id="article-not-same-filter" type="hidden" data-category="all" data-model="article" data-filter="id__ne" value="{{model.id}}"/>
            {{ related|safe }}
        </section>
    </div>
</section>
<script>
    $(document).ready(function(){
        window.App.filter('post-filter');
        window.App.filter('article-not-same-filter');


    });

</script>
