<section class="container-fluid p-0">
    <div class="blogs-banner" style="{{background_cover}}">
        <section class="container  blogs-heading">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{model.title}} </h2>
	            <div class="media">
    	            <center><a href="{{model.author.slug}}"><img src="{{model.author.cover_image_path}}" class="img-circle text-center" width="48"></a></center>
                    <br/>
                    <h4>by {{model.author.name}}</h4>&nbsp;|&nbsp;
    	            <h4>{{model.since}}</h4>&nbsp;|&nbsp;
                    <h4>{{model.comments_count}}&nbsp;Comments</h4>&nbsp;|&nbsp;
                    <h4>{{model.views}}&nbsp;Views</h4>
                    {% if user %}<h6><a href="#" class="btn btn-link uppercase red" data-action="not-ok" data-model="article" data-model-id="{{model.id}}" data-user-id="{{user.id}}">Report as Not Ok</a></h6>{% endif %}
	            </div>
            </div>
            <br/>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-4 col-md-offset-4">
                {% import 'site/includes/share-button.html' as share %}
                <div class="share-blog-bg text-center">
                    {{ share.show(model.title, model.description, model.slug) }}
                </div>
            </div>
        </section>
    </div>
    {% include 'site/includes/img-hider.html'%}
</section>

<hr class="clearfix divider">

<section class="container">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="fitrangi-tags-list">
                <article class="text-left">
                <span class="fs-20 pr-20 oswald middle">Posted in (Channels and Tags): </span>
                {% for channel in model.channels %}
                <a href="#">{{channel.name}}</a>
                {% endfor %}
                {% for tag in model.tags %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
                </article>
            </div>
            <hr/>

            {% if model.get_videos_list() %}
            <div class="col-md-12 col-sm-12 block">
                {{model.get_videos_list()|safe}}
            </div>
            <hr/>
            {% endif %}
            <div id="actual-content-box" class="col-md-12 col-sm-12">
                <div id="content-box2" style="display:none;">
                    {{model.process_content|safe}}
                </div>
                <div id="content-box">
                </div>
                <br/>
                <br/>
                <script>
                $(document).ready(function(){
                    var max_width = parseInt($('#actual-content-box').width());
                    var content = $.parseHTML($('#content-box2').html());
                    var content_list = []
                    $.each(content, function( i, el ) {
                        var tag = el.tagName;
                        var elem_txt = $(el).html();
                        console.log('[->]' + elem_txt);
                        if (elem_txt == undefined || elem_txt.length == 0)  {
                            return;
                        }
                        var u = 0;
                        while(elem_txt.indexOf('style="width', u) > -1) {
                            var i = elem_txt.indexOf('style="width', u)
                            var j = elem_txt.indexOf('"', i + 1);
                            var k = elem_txt.indexOf('"', j + 1);
                            var u_txt = elem_txt.substring(j, k + 1);
                            var v_arr = u_txt.split(' ')
                            if (v_arr.length > 1){
                                var x = v_arr[1]
                                if (x.indexOf('px;') > -1) {
                                    var width = x.replace('px;', '');
                                    width = parseInt(width.replace('"', ''));
                                    if (max_width == 0) {
                                        var width2 = "" + Math.floor(0.6 * width);
                                        console.log('[*] Replacing ' + width + ' with ' + width2);
                                        elem_txt = elem_txt.replace(width, width2);
                                    } else {
                                        if (max_width < width) {
                                            elem_txt = elem_txt.replace(width, max_width);
                                        }
                                    }
                                }
                            }
                            u = i + 1
                        }
                        content_list.push('<'+tag+'>' + elem_txt + '</'+tag+'>');
                    });
                    $('#content-box').html(content_list.join(''))
                });
                </script>
            </div>
        </div>
        <hr/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input id="post-filter" type="hidden" data-model="post" data-category="all" data-filter="parent__article__pk" value="{{model.id}}" data-filter-status="fixed" />
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'comment') }}
            {{ comments|safe }}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4 class="lightgrey">Sponsored</h4>


        <section class="row sponsored-thumb">
            {{ advertisement_list|safe}}

        </section>
        <h4 class="lightgrey border-grey-b pb-5 ">Related</h4>
        <section class="row sponsored-thumb">
            <input id="article-not-same-filter" type="hidden" data-category="all" data-model="article" data-filter="id__ne" value="{{model.id}}"/>
            {{ related|safe }}
        </section>
    </div>
</section>
<script>
    $(document).ready(function(){
        window.App.filter('post-filter');
        window.App.filter('article-not-same-filter');


    });

</script>
