<section class="container-fluid p-0">
    <div class="discussion-banner"
         style="{{background_cover}}">

        <section class="container discussion-heading">

            <input id="admin-published-filter" type="hidden" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a data-user-id="{{user.id}}" data-action="add-discussion" href="#" class="btn btn-primary btn-lg  m-5">Add a discussion</a>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div class="input-group">
                        <input id="name-filter" data-filter="title__icontains" data-model="discussion" type="text" class="form-control input-md no-radius p-20" placeholder="Search by Name">
                        <span class="input-group-btn no-radius"><button data-model="discussion" data-filter-submit="search" class="btn btn-default btn-md" type="button"><i class="fa fa-search"></i></button></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <!--button data-user-id="{{user.id}}" data-action="add-discussion" class="btn btn-primary btn-block btn-lg">Add Discussion</button-->
                <h4>“Knowledge cannot be gained if it is not been shared” is what every fitrangi believes. So put your
                    quries related to Adventure Sports/Tourism in India</h4>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fitrangi-tags-list">
                <h2>Featured Tags</h2>
                <article class="text-center" id="channel-list">
                    <a href="/community/discussion">All</a>
                </article>
                <input id="channel-filter" type="hidden" data-model="discussion" data-filter="channels__channel__name"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=channel&attr=name'
                        }).done(function (data) {
                            var channel_list = data.split(',');
                            var channels = '';
                            for(var i = 0; i < channel_list.length; i++) {
                                if (channel_list[i] != null && channel_list[i].length > 0) channels += '<a href="/community/discussion?query=channels__channel__name:'+ channel_list[i]+ ';" >'+ channel_list[i]+ '</a>';
                            }
                            $('#channel-list').append(channels);
                        });
                    });
                </script>

                <hr class="divider">

                <article class="text-center" id="tag-list">
                    <a href="/community/discussion">All</a>
                </article>
                <input id="tag-filter" type="hidden" data-model="discussion" data-filter="tags"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=tag&attr=name&size=15'
                        }).done(function (data) {
                            var tag_list = data.split(',');
                            var tags = '';
                            for(var i = 0; i < tag_list.length; i++) {
                                if (tag_list[i] != null && tag_list[i].length > 0) tags += '<a href="/community/discussion?query=tags:'+ tag_list[i]+ ';" >'+ tag_list[i]+ '</a>';
                            }
                            $('#tag-list').append(tags);
                        });
                    });
                </script>

            </div>


        </section>


    </div>
</section>

<section class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#latest" role="tab" data-toggle="tab" aria-controls="top-blogs" aria-expanded="false"><span class="fa fa-refresh"></span> <strong>Latest</strong> </a></li>
                    <li><a href="#featured" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false"> <span class="fa fa-bolt"></span> <strong>Featured</strong></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="featured" aria-labelledby="featured">
                    <section class="container-fluid discussion">
                            {{featured|safe}}
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane fade active in" id="latest" aria-labelledby="latest">
                    <section class="container-fluid mb-10 discussion">
                            {{latest|safe}}
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('name-filter');
        App.filter('channel-filter');
        App.filter('tag-filter');
        App.filter('admin-published-filter');

    });
</script>
{% if filters.get('channels__channel__name') %}
  <script>
    $(document).ready(function(){
        $('#channel-filter').val('{{filters.get("channels__channel__name")}}');
    });
</script>
{% endif %}
 {% if filters.get('tags') %}
  <script>
    $(document).ready(function(){
        $('#tag-filter').val('{{filters.get("tags")}}');
    });
</script>
{% endif %}
