<section class="container-fluid p-0">
    <div class="finder-banner" style="{{background_cover}}">

        <section class="container">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 finder-heading">
                <h2>Interact, connect and network!</h2>

                <h3>Search people and organization that interest you!</h3>
                <br/>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist">
                <input id="category-filter" data-category="all" data-model="profile" data-filter="type__profile_type__name" list="category" placeholder="SELECT CATEGORY" value="">
                <datalist id="category">
                    {%  for t in types %}
                    <option value="{{ t }}">
                    {%  endfor  %}
                </datalist>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist">
                 <input id="activity-filter" data-category="all" data-model="profile" data-filter="relationship__favorited_by__activity__name__iexact" list="activity" placeholder="FILTER BY ACTIVITY">
                <datalist id="activity">
                    <option value="">
                </datalist>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: '/options?model_name=activity&attr=name'
                        }).done(function (data) {
                            $('#activity').append(data);

                        });
                    });
                </script>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist">
                <input class="geo-complete" placeholder="SORT BY LOCATION" data-sorter="location" data-category="all" data-model="profile">
                <form>
                    <input type="hidden" id="location-sorter-lat" name="lat" id="lat" data-category="all" data-model="profile" data-sorter="location_lat"/>
                    <input type="hidden" id="location-sorter-lng" name="lng" id="lng" data-category="all" data-model="profile" data-sorter="location_lng"/>
                    <input type="hidden" id="location-sorter-locality" name="locality_short" data-category="all" data-model="profile" data-sorter="location_locality"/>
                    <input type="hidden" id="location-sorter-region2" name="administrative_area_level_2" data-category="all" data-model="profile" data-sorter="location_region2"/>
                    <input type="hidden" id="location-sorter-region1" name="administrative_area_level_1" data-category="all" data-model="profile" data-sorter="location_region1"/>
                    <input type="hidden" id="location-sorter-country" name="country_short" data-category="all" data-model="profile" data-sorter="location_country"/>
                </form>
            </div>


            <div class="col-lg-offset-4 col-md-offset-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="profile" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="profile" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                </div>
            </div>


        </section>


    </div>
</section>

<section id="finder-container" class="container border-grey-b text-right p-10 mb-20">

    <h2 class="inline oswald pull-left m-0 pl-10">Users</h2>

    <!--button type="button" class="btn btn-default"><i class="fa fa-plus"></i> Be Fitrangi</button>
    <button type="button" class="btn btn-default"><i class="fa fa-building"></i> Add new Organisation</button>
    <button type="button" class="btn btn-default"><i class="fa fa-users"></i> Invite Friends</button-->

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
        <div class="input-group">
            <input id="name-filter" data-filter="name__icontains" data-model="profile" type="text" class="form-control input-lg no-radius" placeholder="Search by Name" style="margin-top: 1px;">
            <span class="input-group-btn no-radius" style="padding-top: 2px;"><button data-category="all" data-model="profile" data-filter-submit="search"  class="btn btn-primary btn-sm" type="button"><i
                    class="fa fa-search"></i></button></span>
        </div>
    </div>

</section>


<section id="model-container-section" class="container-fluid p-0">
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="media-list">
                {{profiles_list|safe}}
            </ul>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('category-filter');
        App.filter('activity-filter');
        App.filter('name-filter');
        App.sorter('location-sorter-lat');
        App.sorter('location-sorter-lng');
        App.sorter('location-sorter-locality');
        App.sorter('location-sorter-region2');
        App.sorter('location-sorter-region1');
        App.sorter('location-sorter-country');

    });
</script>
{% if filters.get('type__profile_type__name') %}
<script>
    $(document).ready(function(){
        var category = '{{filters.get("type__profile_type__name")}}';
        $('#category-filter').val(category);
    });
</script>
{% endif %}
