<section class="container-fluid p1">
    <div class="trips-banner" style="{{background_cover}}">

        <section class="container">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-adventuretrips-heading">
                <h2>Find Near by Adventures. 2500+ Adventures and Counting </h2>

                <h3>Filter by City/State or Find Location by Activity</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input id="activity-filter" data-category="all" data-model="trip" data-filter="activities__activity__name" list="activity" placeholder="FILTER BY ACTIVITY">
                <datalist id="activity">
                    <option value="">
                </datalist>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: '/options?model_name=activity&attr=name'
                        }).done(function (data) {
                            $('#activity').append(data);

                        });
                    });
                </script>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">

               <input id="location-filter" data-category="all" data-model="trip" data-filter="location__location__name" list="location" placeholder="FILTER BY LOCATION">
                <datalist id="location">
                    <option value="">
                </datalist>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: '/options?model_name=location&attr=name'
                        }).done(function (data) {
                            $('#location').append(data);
                        });
                    });
                </script>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fitrangi-range">
                <div class="form-group">
                    <h3>Price Range Starts</h3>

                    <div class="range range-primary">
                        <input id="price-start-filter" data-category="all" data-model="trip" data-filter="price__gte" data-filter-type="float" type="range" min="0" max="20000" step="1000" onchange="rangePrimary1.value=value">
                        <output id="rangePrimary1"></output>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fitrangi-range">
                <div class="form-group">
                    <h3>Price Range Ends</h3>

                    <div class="range range-primary">
                        <input id="price-end-filter" data-category="all" data-model="trip" data-filter="price__lte" data-filter-type="float" type="range" min="0" max="20000" step="1000" onchange="rangePrimary2.value=value">
                        <output id="rangePrimary2"></output>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 fitrangi-range">
                <div class="form-group">
                    <h3>Date Starts After</h3>

                    <div class="range range-primary">
                        <input id="start-date-filter" data-category="all" data-model="trip" data-filter="start_date__gte" type="date" name="start">
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 fitrangi-range">
                <div class="form-group">
                    <h3>Date Ends Before</h3>

                    <div class="range range-primary">
                        <input id="end-date-filter" data-category="all" data-model="trip" data-filter="end_date__lte" type="date" name="end">
                    </div>

                </div>
            </div>


            <div class="col-lg-offset-4 col-md-offset-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="trip" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="trip" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                </div>
            </div>


        </section>


    </div>
</section>

<hr class="clearfix divider">

<section  id="model-container-section" class="container-fluid p-0">
    <div class="container fitrangi-trips">

        {{ trips|safe }}
    </div>
</section>

 <script>
    $(document).ready(function(){

        $('#activity-filter').val('');
        $('#location-filter').val('');
        $('#start-date-filter').val('');
        $('#end-date-filter').val('');
        $('#price-start-filter').val('0');
        $('#rangePrimary1').val('0');
        $('#price-end-filter').val('20000');
        $('#rangePrimary2').val('20000');
        window.App.filter('activity-filter');
        window.App.filter('location-filter');
        window.App.filter('start-date-filter');
        window.App.filter('end-date-filter');
        window.App.filter('price-start-filter');
        window.App.filter('price-end-filter');
    });
</script>
{% if filters.get('activities__activity__name') %}
  <script>
    $(document).ready(function(){
        $('#activity-filter').val('{{filters.get("activities__activity__name")}}');
    });
</script>
{% endif %}
 {% if filters.get('location__location__name') %}
  <script>
    $(document).ready(function(){
        $('#location-filter').val('{{filters.get("location__location__name")}}');
    });
</script>
{% endif %}
