<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                {% if user and user.is_admin_or_business_profile %}
                <a data-user-id="{{user.id}}" href="#" class="btn btn-primary btn-lg m-5 pull-right" onclick="javascript: window.location.href='/add-edit/trip'">Add a trip</a>
                {% endif %}
                <input id="name-filter" data-filter="name__icontains" data-model="trip" type="hidden">
                <h2>Find, Connect and Experience</h2>
                <h3>Search upcoming trips that interest you!</h3>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Filters</a>
            </div>
            <br/>

        </div>
    </div>
</section>

<section class="collapse" id="collapseFilter">
    <br/>
    <div class="thumbnail container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Search by applying specific filters</h4>
        </div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input id="activity-filter" data-model="trip" data-filter="activities__activity__name" list="activity" placeholder="FILTER BY ACTIVITY">
                <datalist id="activity">
                    <option value="">
                </datalist>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: '/options?model_name=trip&attr=activities&attr2=activity&attr3=name'
                        }).done(function (data) {
                            $('#activity').append(data);

                        });
                    });
                </script>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input class="geo-complete" placeholder="SORT BY LOCATION" data-sorter="location" data-model="trip">
                <form>
                    <input type="hidden" id="location-sorter-lat" name="lat" data-category="upcoming" data-model="trip" data-sorter="location_lat"/>
                    <input type="hidden" id="location-sorter-lng" name="lng" data-category="upcoming" data-model="trip" data-sorter="location_lng"/>
                    <input type="hidden" id="location-sorter-locality" name="locality_short" data-category="upcoming" data-model="trip" data-sorter="location_locality"/>
                    <input type="hidden" id="location-sorter-region2" name="administrative_area_level_2" data-category="upcoming" data-model="trip" data-sorter="location_region2"/>
                    <input type="hidden" id="location-sorter-region1" name="administrative_area_level_1" data-category="upcoming" data-model="trip" data-sorter="location_region1"/>
                    <input type="hidden" id="location-sorter-country" name="country_short" data-model="trip" data-category="upcoming" data-sorter="location_country"/>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fitrangi-datalist fitrangi-range">
                <div class="form-group">
                    <h4>Search by Organizer</h4>

                    <div class="range range-primary">
                        <input id="organizer-filter" data-model="trip" data-filter="organizer__profile__name" list="organizer" placeholder="FILTER BY ORGANIZER">
                        <datalist id="organizer">
                            <option value="">
                        </datalist>
                        <script>
                            $(document).ready(function(){
                                $.ajax({
                                    url: '/options?model_name=trip&attr=organizer&attr2=name'
                                }).done(function (data) {
                                    $('#organizer').append(data);
                                });
                            });
                        </script>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fitrangi-range">
                <div class="form-group">
                    <h4>Price Range</h4>

                    <div class="range range-primary">
                        <input id="rangePrimary0" type="range" min="0" max="20000" step="1000" onchange="rangePrimary1.value='upto Rs. ' + value;price_start_filter.value=value">
                        <output id="rangePrimary1"></output>
                        <output class="hide" id="price_start_filter" data-model="trip" data-filter="price__lte" data-filter-type="float"></output>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fitrangi-range">
                <div class="form-group">
                    <h4>Date Starts</h4>

                    <div class="range range-primary">
                        <input id="start-date-filter" data-category="upcoming" data-model="trip" data-filter="start_date__gte" type="date" name="start" value="{{now}}">
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fitrangi-datalist fitrangi-range">
                <div class="form-group">
                    <h4>Departure Location</h4>

                    <div class="range range-primary">
                        <input id="departure-filter" data-model="trip" list="departure-from" data-filter="starting_from__icontains" placeholder="Starting Location"/>
                        <datalist id="departure-from">
                                <option value="">
                        </datalist>
                        <script>
                            $(document).ready(function(){
                                $.ajax({
                                    url: '/options2?model_name=trip&method=distinct_starting_cities'
                                }).done(function (data) {
                                    $('#departure-from').append(data);
                                });
                            });
                        </script>
                    </div>
                </div>

            </div>


            <div class="col-lg-offset-4 col-md-offset-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-model="trip" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-model="trip" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                </div>
            </div>

    </div>
</section>

<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#upcoming" role="tab" data-toggle="tab" aria-controls="upcoming" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>Upcoming Trips</strong></a></li>
                    <li class=""><a href="#on-request" role="tab" data-toggle="tab" aria-controls="on-request"
                            aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>On Request Trips</strong> </a></li>
                    {% if user %}<!--li class=""><a href="#interesting" role="tab" data-toggle="tab" aria-controls="interesting"
                            aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>Interesting or Joined Trips </strong> </a></li-->{% endif %}
                    {% if user and (user.is_organizer or user.is_admin) %}<li class=""><a href="#my-trips" role="tab" data-toggle="tab" aria-controls="my-trips"
                            aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>My Trips</strong> </a></li>{% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="upcoming" aria-labelledby="upcoming">
                    <div class="container fitrangi-trips">
                        <input id="start-date-default-filter" data-category="upcoming" data-model="trip" data-filter="start_date__gt" type="hidden" name="start" value="{{now}}" data-filter-status="fixed">
                        <input id="fixed-trip-filter" data-category="upcoming" data-model="trip" data-filter="departure_type__iexact" type="hidden" value="Fixed" data-filter-status="fixed">
                        {{ upcoming|safe }}
                    </div>
                </div>
                <!--div role="tabpanel" class="tab-pane fade" id="interesting" aria-labelledby="interesting">
                    <div class="container fitrangi-trips">
                        {% if user %}
                        <input id="interesting-trip-filter" data-category="interesting" data-model="trip" data-filter="relationship__interested__profile" type="hidden" value="{{user.id}}" data-filter-status="fixed">
                        {{ interesting|safe }}
                        {% endif %}
                    </div>
                </div-->
                <div role="tabpanel" class="tab-pane fade" id="on-request" aria-labelledby="on-request">
                    <div class="container fitrangi-trips">
                        <input id="on-request-trip-filter" data-category="on-request" data-model="trip" data-filter="departure_type__exact" type="hidden" value="On Request" data-filter-status="fixed">
                        {{ on_request|safe }}
                    </div>
                </div>
                {% if user and (user.is_organizer or user.is_admin) %}
                <div role="tabpanel" class="tab-pane fade" id="my-trips" aria-labelledby="my-trips">
                    <div class="container fitrangi-trips">
                        {% if user and (user.is_organizer or user.is_admin) %}
                        <input id="my-trip-filter" data-category="my-trips" data-model="trip" data-filter="organizer__profile__id" type="hidden" value="{{user.id}}" data-filter-status="fixed">
                        {{ my_trips |safe }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

 <script>
     $('#activity-filter').val('');
     $('#start-date-filter').val('');
     $('#end-date-filter').val('');
     $('#rangePrimary0').val('0');
     $('#rangePrimary1').val('0');
     $('price_start_filter').html('');
     $('price_end_filter').html('');
    $(document).ready(function(){

        window.App.current_date = $('#start-date-default-filter').val();
        $('#start-date-filter').on('change', function(e){
            e.stopPropagation();
            console.log('Changing date... ');
            console.log('Current is ' + window.App.current_date);
            console.log('Main Filter is ' + $('#start-date-filter').val());

            if ($('#start-date-filter').val() != undefined && $('#start-date-filter').val().length > 0) {
                $('#start-date-default-filter').val('');
                console.log('Now default filter is ' + $('#start-date-default-filter').val());
            } else {
                $('#start-date-default-filter').val(window.App.current_date);
                console.log('Now default filter is ' + $('#start-date-default-filter').val());
            }
        });


        window.App.filter('name-filter');
        window.App.filter('activity-filter');
        window.App.filter('start-date-filter');
        window.App.filter('start-date-default-filter');
        window.App.filter('interesting-trip-filter');
        window.App.filter('price_start_filter');
        window.App.filter('my-trip-filter');
        window.App.filter('fixed-trip-filter');
        window.App.filter('on-request-trip-filter');
        window.App.filter('departure-filter');
        window.App.sorter('location-sorter-lat');
        window.App.sorter('location-sorter-lng');
        window.App.sorter('location-sorter-locality');
        window.App.sorter('location-sorter-region2');
        window.App.sorter('location-sorter-region1');
        window.App.sorter('location-sorter-country');
    });
</script>
{% if filters.get('activities__activity__name') %}
  <script>
    $(document).ready(function(){
        $('#activity-filter').val('{{filters.get("activities__activity__name")}}');
    });
</script>
{% endif %}
{% if filters.get('name__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("name__icontains")}}');
    });
</script>
{% endif %}
