<div class="container-fluid">
<div class="row">
    <div class="col-sm-2">
        <a class="" href="#">
            <img title="image" style="" class="img-responsive" src="{% if model and model.main_image %}/img/{{ model.get_class_name()}}/{{model.id}}{% else %}http://placehold.it/300x300{% endif %}"/>
        </a>
    </div>
    <div class="col-sm-10">
        <h5>
            {{ model.title }}
            <br/>
            <small style="font-family:courier,'new courier';" class="text-muted">Posted on {{ model.created_timestamp.strftime('%d-%m-%Y') }}</small>
            <br/>
            <a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-info">Read More</a>
        </h5>
    </div>
</div>
</div>
<hr/>
