<div class="">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a  class="pull-right" href="/model/{{model.channel_factory(model)}}/{{model.id}}">More</a>
			<h4>{{ model.title }}</h4>
		</div>
		<div class="panel-body">
			<p>
			<img class="img-responsive" src="{% if model.main_image and model.main_image.image %}/img/{{model.get_class_name()}}/{{model.id}}{% else %}http://placehold.it/250x300{% endif %}"></a>
			</p>
			<div class="clearfix"></div>
			<hr>
			{% if model.description and model.description|length > 0 %}{{ model.description }}{% else %} {{ model.text[0:100]|escape }} {%endif%}
		</div>
	</div>
</div>
