<tr>
    <td>
        <img
            src="{% if not model.has_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}"
            height="40px">
    </td>
    <td>{{ model.title }}</td>
    <td>{{ model.created_by.name }}</td>
    <td> {% if model.published %}<i class="fa fa-check-circle"></i> {% else %} <i class="fa fa-close"></i> {% endif %}</td>
    <td> {% if model.admin_published %}<i class="fa fa-check-circle"></i> {% else %} <i class="fa fa-close"></i> {% endif %}</td>
    <td><a href="{{detail}}{{model.id}}">Details</a></td>
</tr>