<section class="container fitrangi-conversation">

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-section">
    <div class="profile online">
        <a href="#" class="pull-left">
            <figure class="profile-picture">
                <img src="{{user.cover_image_path}}" class="img-circle img-responsive" alt="User Name">
            </figure>
        </a>
        <h5>{{user.name}}</h5>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">

                <span class="online">Online</span>
                <span class="busy">Busy</span>
                <span class="away">Away</span>
                <span class="offline">Offline</span>
                <span class="caret"></span>

            </a>
            <!--ul class="dropdown-menu status-dropdown default" role="menu">
                <li><a data-status="online"><span class="label label-status label-online">&nbsp;</span> Online</a></li>
                <li><a data-status="busy"><span class="label label-status label-busy">&nbsp;</span> Busy</a></li>
                <li><a data-status="away"><span class="label label-status label-away">&nbsp;</span> Away</a></li>
                <li><a data-status="offline"><span class="label label-status label-offline">&nbsp;</span> Offline</a>
                </li>
            </ul-->
        </div>

    </div>

    <div class="contact-list">


    </div>

</div>
<!--col4 End -->

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 chat-section">

    <div class="profile online">
        <div class="current-chat">

        <a href="#" class="pull-left">
            <figure class="profile-picture">
                <img id="user-image" src="" class="img-circle img-responsive">
            </figure>
        </a>
        <h5 id="user-name"></h5>
        </div>
    </div>

    <div class="chat-messages">
        <ul class="messages" data-user-id="">


        </ul>
    </div>

    <div class="write-message">
        <form class="row">

            <div class="form-group col-xs-1">
                <div class="btn-group dropup">
                    <a class="attachment" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-arrow-right"></i>

                    </a>
                </div>
            </div>


            <div class="form-group col-xs-10">
                <textarea data-context="message" data-action="chat-send" class="form-control" placeholder="Write message"></textarea>
            </div>

            <div class="form-group col-xs-1 sent">
                <a  data-action="chat-send" href="#"><i class="fa fa-paper-plane"></i></a>
            </div>

        </form>
    </div>

</div>
<!--col8 End -->

</section>


<script>
    $(document).ready(function() {

        window.App.messaging = window.App.messaging || {};
        window.App.messaging.on_chat = true;

        var initial = '{{initial.id}}';
        window.App.messaging.selected_user  = initial;
        window.App.messaging.initial_user   = initial;

        $('[data-context="message"]').on('keydown', function(event){
            if(event.keyCode==13){
                $('a[data-action="chat-send"]').trigger('click');
            }
        });

        $('a[data-action="chat-send"]').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            send_message();
        });

        var send_message = function(){
            var author = $('body').attr('data-logged-in-as');
            if (author == undefined)  {
                console.log("User is not logged in " + author);
            }
            var recipient = $('.messages').attr('data-user-id');
            var message = $('[data-context="message"][data-action="chat-send"]').val();
            window.App.messaging.send(message, recipient);
            $('[data-context="message"]').val('');
        }

        $('body').on('click', '.contact', function(e){
            e.stopPropagation();
            var id = $(this).attr('data-user-id');
            window.App.messaging.selected_user  = id;
            window.App.messaging.update_users();
            window.App.messaging.update_messages();
        });

    });
</script>
