{% extends 'admin/list.html' %}
{% block model_row_header %}
    <tr>
        <td></td>
        <td>Name</td>
        <td>Email</td>
        <td></td>
    </tr>
{% endblock %}
{% block model_row_data %}
{% for model in models %}
<tr>
    <td>{% if model.cover_image %}<img src="{{model.cover_image.thumbnail_url}}"/>{% endif %}</td>
    <td>{{model.name}}</td>
    <td>{{model.email}}</td>
    <td>
        <a href="/admin/profile/{{model.id}}?type=profile" class="btn btn-link"><i class="fa fa-edit"></i> Edit</a>
        <a href="/admin/profile/{{model.id}}?type=profile" class="btn btn-link"><i class="fa fa-bomb"></i> Delete</a>
    </td>
</tr>
{% endfor %}
{% endblock %}

