{% extends 'site/layout.html' %}
{% block body %}
<section class="container-fluid p-0">
<div class="adventures-banner">






<section class="container">


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-adventures-heading">
<h2>Find Near by Adventures. 2500+ Adventures and Counting </h2>
<h3>Filter by City/State or Find Location by Activity</h3>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

<div class="btn-group fitrangi-select">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    <span>FILTER BY ACTIVITY</span> <i class="fa fa-caret-down"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#"> <input type="checkbox"> Option 1 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 2 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 3 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 4 </a></li>
  </ul>
</div>

</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

<div class="btn-group fitrangi-select">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    <span>FILTER BY LOCATION</span> <i class="fa fa-caret-down"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#"> <input type="checkbox"> Option 1 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 2 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 3 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 4 </a></li>
  </ul>
</div>

</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

<div class="btn-group fitrangi-select">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    <span>SORT BY</span> <i class="fa fa-caret-down"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#"> <input type="checkbox"> Option 1 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 2 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 3 </a></li>
    <li><a href="#"> <input type="checkbox"> Option 4 </a></li>
  </ul>
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 text-center">
  <a href="" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
</div>

</section>





</div>
</section>

<hr class="clearfix divider">

<section class="container-fluid p-0">
<div class="container fitrangi-thumb">

    {{view|safe}}

</div>
</section>

{% endblock %}