<section class="container-fluid p-0">
    <div class="adventure-banner"
         style="{{background_cover}}">

        <div class="container">

            <section class="container carousel-caption carousel-caption2">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>{{model.title}}</h2>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr/>
                    <p>{{model.description}}</p>
                    <br/>
                    <h4>Sponsored By</h4>
                    <a href="{{model.sponsorer.slug}}"><img src="{{model.sponsorer.cover_image_path_small}}" width="60px" height="60px"/></a>
                    <br/>
                    <a href="{{model.sponsorer.slug}}"><span class="white">{{model.sponsorer.name}}</span></a>
                </div>


            </section>


        </div>

    </div>
</section>

<section class="container p-0" id="adventure-review-area">

    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">

                    <li class="active"><a href="#about-reviews" role="tab" data-toggle="tab"
                                          aria-controls="about-reviews"
                                          aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>About Contest</strong></a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="about-reviews"
                     aria-labelledby="about-reviews">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="container-fluid">
                                {{model.content|safe}}
                            </div>
                            <hr class="w-100 clearfix border-grey-b"/>


                            <div>

                                {% if model.is_closed %}
                                <div class="text-center">
                                    <h3 class="">WINNERS FOR THE CONTEST</h3>
                                    <hr class="w-100 clearfix border-grey-b"/>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                        <div class="form-group text-center">
                                            <label>1<sup>st</sup> Winner of the Contest</label>
                                        </div>
                                        <div class="text-center thumbnail">
                                            {% if model.winner %}
                                            <a href="{{model.winner.slug}}"><img src="{{model.winner.cover_image_path_small}}"/></a>
                                            <div class="caption"><a href="{{model.winner.slug}}"><h4 class="lg">{{model.winner.name}}</h4></a></div>
                                            {% else %}
                                            <a href="#"><img src="/img/Profile-Picture2.jpg" width="160"/></a>
                                            <div class="caption"><h4 class="lg">No Winner</h4></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                        <div class="form-group text-center">
                                            <label>2<sup>nd</sup> Winner of the Contest</label>
                                        </div>
                                        <div class="text-center thumbnail">
                                            {% if model.winner2 %}
                                            <a href="{{model.winner2.slug}}"><img src="{{model.winner2.cover_image_path_small}}"/></a>
                                            <div class="caption"><a href="{{model.winner2.slug}}"><h4 class="lg">{{model.winner2.name}}</h4></a></div>
                                            {% else %}
                                            <a href="#"><img src="/img/Profile-Picture2.jpg" width="160"/></a>
                                            <div class="caption"><h4 class="lg">No Winner</h4></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                        <div class="form-group text-center">
                                            <label>3<sup>rd</sup> Winner of the Contest</label>
                                        </div>
                                        <div class="text-center thumbnail">
                                            {% if model.winner3 %}
                                            <a href="{{model.winner3.slug}}"><img src="{{model.winner3.cover_image_path_small}}"/></a>
                                            <div class="caption"><a href="{{model.winner3.slug}}"><h4 class="lg">{{model.winner3.name}}</h4></a></div>
                                            {% else %}
                                            <a href="#"><img src="/img/Profile-Picture2.jpg" width="160"/></a>
                                            <div class="caption"><h4 class="lg">No Winner</h4></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <h4>Questions</h4>
                                    <hr/>
                                </div>
                                <div>
                                    {% for question in model.questions %}
                                    <div class="well well-sm" style="background: #F0F8FF;">
                                        <h4>{{question.enumeration}} - {{question.question}}</h4>
                                        <p>Correct: {{question.correct_option}} - {{question.get_correct_answer()}}</p>
                                    </div>
                                    {% endfor %}
                                </div>

                                {% else %}
                                <div class="form-group text-center">
                                    <h4>Questions</h4>
                                    <hr/>
                                </div>
                               <div>
                                    {% for question in model.questions %}
                                    <div class="well well-sm" style="background: #F0F8FF;">
                                        <h4>{{question.question}}</h4>

                                        <div>
                                            {% for option in question.options %}
                                            <div class="input-group" {% if not user %}{% endif %}>
                                                <input type="radio" name="{{question.enumeration}}" value="{{option.enumaration}}" data-question="{{question.enumeration}}"
                                                       data-answer="{{option.enumaration}}" {%if not user%}disabled{% endif %}>&nbsp;&nbsp;{{ option.option }}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% if user %}
                                    <div class="form-group">
                                        {% if model.has_user_answered(user) %}
                                        <button class="btn btn-primary disabled" data-action="submit-answers">
                                            You have already answered
                                        </button>
                                        {% else %}
                                        <button class="btn btn-primary" data-action="submit-answers">
                                            Submit
                                        </button>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="form-group">
                                        <script>
                                            $(document).ready(function () {
                                                BootstrapDialog.show({
                                                    title: 'Information!',
                                                    message: 'You must be logged in to submit answers...',
                                                    buttons: [
                                                        {
                                                            label: 'Close',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Register',
                                                            action: function(dialogRef) {
                                                                window.location.href="/register?target={{model.slug}}";
                                                            }
                                                        },
                                                        {
                                                            cssClass: 'btn-primary',
                                                            label: 'Login',
                                                            action: function(dialogRef) {
                                                                window.location.href="/login?target={{model.slug}}";
                                                            }
                                                        }
                                                    ]
                                                });
                                            })
                                        </script>
                                        <a href="/login?target={{model.slug}}" class="btn btn-primary">
                                            Login to submit the answers
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            {% for ad_view in ad_views %}
                                {{ad_view|safe}}
                            {% endfor %}
                        </div>
                    </div>
                    <!--Tab Pane End-->
                </div>


            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var user = '{{user.id}}';
        var contest = '{{model.id}}';
        var total_questions = parseInt('{{model.questions|length}}');
        var App = window.App;

        //App.filter('review-filter');
        $('body').on('click', '[data-action="submit-answers"]', function (e) {
            e.stopPropagation();
            var answers = [];

            $.each($('input[data-question][data-answer]:checked'), function (i, elem) {
                answers.push([$(elem).attr('data-question'), $(elem).attr('data-answer')]);
            });
            if (answers.length != total_questions) {
                BootstrapDialog.alert('Answer all the questions, before submitting!');
                return;
            }
            console.log(JSON.stringify(answers));
            App.content.answer_contest(user, contest, answers);
        });
    });
</script>
