<section class="col-lg-12 col-xs-12 user-post thumbnail">
    <div class="container-fluid media" style="margin-top:0px;">
        <div class="media-left">
            <img src="{{model.author.cover_image_path}}" class="img-rounded" width="48">
        </div>
        <div class="media-body">
            <h3><a href="{{model.author.slug}}" style="color:#00C4A6;">{{model.author.name}}</a></h3>
            <h5><i class="fa fa-map-marker"></i> {% if model.author.location.name %}{{model.author.location.name}}{% else %}Unknown{% endif %}</h5>
        </div>

    </div>
    <div class="post-content container-fluid">
        {% if model.video_embed and model.video_embed|length > 0 %}
        <article>{{model.video_embed}}</article>
        <hr/>
        {% endif %}
        {% if model.cover_image and model.cover_image_path|length > 0 %}
        <article><img class="" src="{{model.cover_image_path}}" width="100%"/></article>
        <hr/>
        {% endif %}
        <article class="" data-content-view="complete" data-model-id="{{model.id}}">
            {{ model.process_content|safe }}
        </article>
        <br/>
        <br/>
        <!--article class="row">
            {#% for indx in xrange(model.gallery_size) %#}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#" target="_blank">
                    <img src="{{model.gallery_image_path}}{{indx}}" class="img-responsive img-thumbnail">
                </a>
            </div>
            {#% endfor %#}
        </article-->
    </div>
</section>
<hr class="divider clearfix"/>
