{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
<tr>
    <td valign="top" class="textContent">
        <p>{% block message %}Someone just posted an enquiry for {% if model %}{% if model.name %}"{{model.name}}"{% else %}"{{model.title}}"{% endif %}{% endif %}.{% endblock %}</p>
        <p>Following are the details:</p>
        <ul>
            <li><b>Name</b>:&nbsp;&nbsp;{% if booking and booking.preferred_name %}{{booking.preferred_name}}{% else %}{{booking.booking_by.name}}{% endif %}</li>
            <li><b>Email</b>:&nbsp;&nbsp;{% if booking and booking.preferred_email %}{{booking.preferred_email}}{% else %}{{booking.booking_by.email}}{% endif %}</li>
            <li><b>Phone</b>:&nbsp;&nbsp;{% if booking and booking.preferred_phone %}{{booking.preferred_phone }}{% else %}{{booking.booking_by.phone}}{% endif %}</li>
            <li><b>Preference for contact</b>:&nbsp;&nbsp;{% if booking and booking.contact_preference%}{{booking.contact_preference}}{% else %}Email{% endif %}</li>
            <li><b>Message</b>:&nbsp;&nbsp;{% if booking and booking.enquiry %}{{booking.enquiry}}{% else %}No message{% endif %}</li>
        </ul>
    </td>
</tr>
</table>
{% endblock %}
