{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
    <tr>
        <td valign="top" class="textContent">
            <p>To complete your profile, please confirm that you have received this email by clicking on this button:</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle" class="textContent" style="align: center;">
            <a href="{{link}}" target="_blank">CONFIRM BY EMAIL ADDRESS</a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="textContent">
            <p>If the link is not displayed correctly, please copy the URL below paste it into your browser.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle" class="textContent">
            <a href="{{link}}">{{link}}</a>
        </td>
    </tr>
</table>
{% endblock %}
