{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 15px !important;">
   <div class="text-muted">
      <p>To complete your profile, please confirm that you have received this email by clicking on this button:</p>
   </div>
</div>
<div class="text-center">
   <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='{{link}}'">CONFIRM BY EMAIL ADDRESS</button>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 15px !important;">
   <div class="text-muted">
        <p>If the link is not displayed correctly, please copy the URL below paste it into your browser.</p>
        <p><a href="{{link}}">{{link}}</a></p>
   </div>
</div>

{% endblock %}
