{% extends 'generic/main/channel_base.html' %}

{% block header_script %}
        <style>
        </style>
{% endblock %}
{% block body %}
<div class="container">
    <div id="masthead">
	  <div class="container">
		<div class="row">
		  <div class="col-md-7">
			<h1> Discussions<p class="lead"></p></h1>
		  </div>
		  <div class="col-md-5">
			<div class="pull-right">
			  <div class="row">
				<div class="col-sm-12">
                    <form role="form">
                        <a href="/model/{{channel_name}}/add" class="btn btn-primary">Post Your Question Here</a>
                    </form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div><!-- /cont -->

	  <div class="container">
		<div class="row">
		  <div class="col-md-12">
			<div class="top-spacer"> </div>
		  </div>
		</div>
	  </div><!-- /cont -->
</div>
<hr/>
<div class="row">
    <div class="col-lg-9">
        <div>
            {% if models | length  == 0 %}
            <div class="well well-large">
                <span class="text-info text-warning text-center">No discussions as of yet!</span>
            </div>
            {% else %}
            <div class="col-md-12">

                <div class="panel">
			        <div class="panel-body">
                        {% for v in models %}
                        {{ v.render()|safe }}
                        {% endfor %}

			        </div>
			        <hr/>

			    </div>
		    </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well well-small row">
            {% for t in tags %}
            <div class=""><span class="label label-info">{{ t }}</span></div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<br/>
<br/>
<br/>
{% if pageinfo %}
    {{ pageinfo.render()|safe }}
{% endif %}
{% endblock %}
