{% extends 'site/layout.html' %}
{% block body %}

<section class="container-fluid p-0">
    <div class="home-banner">
        <h2 class="my-h2">Discover nearest adventures</h2>

        <form class="form-inline search-form text-center col-lg-8 col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2"
              action="#" method="get">
            <div class="form-group">
                <span class="fa fa-map-marker"></span>
                <select class="form-control" data-placeholder="Choose a Country...">
                    <option>Choose a Country...</option>
                    <option>Mumbai</option>
                    <option>Kolkatta</option>
                    <option>Chennai</option>
                    <option>Delhi</option>
                </select>

            </div>
            <div class="form-group">
                <span class="fa fa-search"></span>
                <input type="text" name="search-text" class="form-control" placeholder="Select Activity">
            </div>
            <div class="form-group">
                <button class="btn btn-primary search-btn no-radius">Submit</button>
            </div>

        </form>

        <br>
        <br>
        <br>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-85 text-center white fitrangi">
            <h3 class="light my-h3" >Fitrangi Counter</h3>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Members</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Adventure</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Discussion</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Journals</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Registered</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h4>1200</h4>

                <p>Comments</p>
            </div>


        </div>

    </div>
</section>


<section class="container adventure">
    <h2 class="my-h2">Choose your adventure</h2>

    <div class="row">
        <div class="col-sm-offset-4 col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Bungee jumping" title="Bungee Jumping"><img
                src="images/adventure-icons/air-activities/bungee-jumping.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Hang Gliding " title="Hang Gliding"><img
                src="images/adventure-icons/air-activities/hang-gliding.png"></a></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Hot Air Ballooning" title="Hot Air Balooning"><img
                src="images/adventure-icons/air-activities/hot-air-balooning.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Paragliding" title="Paragliding"><img
                src="images/adventure-icons/air-activities/paragliding.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Para Motoring" title="Para Motoring"><img
                src="images/adventure-icons/air-activities/para-motoring.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Parasailing" title="Parasailing"><img
                src="images/adventure-icons/air-activities/parasailing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Sky Diving" title="Sky Diving"><img
                src="images/adventure-icons/air-activities/sky-diving.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Zip Line" title="Zip Line"><img
                src="images/adventure-icons/air-activities/zip-line.png"></a></div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Camping" title="Camping"><img
                src="images/adventure-icons/land-activities/camping.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Canyoning" title="Canyoning"><img
                src="images/adventure-icons/land-activities/canyoning.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Cycling-Biking" title="Cycling And Biking"><img
                src="images/adventure-icons/land-activities/cycling-biking.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Horse Riding" title="Horse Riding"><img
                src="images/adventure-icons/land-activities/horse-riding.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Marathons" title="Marathons"><img
                src="images/adventure-icons/land-activities/marathons.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Mountaineering" title="Mountaineering"><img
                src="images/adventure-icons/land-activities/mountaineering.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Rappelling and Valley Crossing" title="Rappelling & Valley-Crossing"><img
                src="images/adventure-icons/land-activities/rappelling-valley-crossing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Rock Climbing" title="Rock Climbing"><img
                src="images/adventure-icons/land-activities/rock-climbing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Skiing" title="Skiing"><img
                src="images/adventure-icons/land-activities/skiing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Snow - Flow" title="Snowboarding"><img
                src="images/adventure-icons/land-activities/snowboarding.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Trekking and Hiking" title="Trekking & Hiking"><img
                src="images/adventure-icons/land-activities/trekking-hiking.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Zorbing" title="Zorbing"><img
                src="images/adventure-icons/land-activities/zorbing.png"></a></div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Kayaking" title="Kayaking"><img
                src="images/adventure-icons/water-activities/kayaking.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Kite Surfing" title="Kite Surfing"><img
                src="images/adventure-icons/water-activities/kite-surfing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Scuba Diving" title="Scuba Diving"><img
                src="images/adventure-icons/water-activities/scuba-diving.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Snorkelling" title="Snorkelling"><img
                src="images/adventure-icons/water-activities/snorkelling.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Surfing" title="Surfing"><img
                src="images/adventure-icons/water-activities/surfing.png"></a></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"><a href="/explore/activity?name=Water Rafting" title="Water Rafting"><img
                src="images/adventure-icons/water-activities/water-rafting.png"></a></div>
    </div>

</section>


<section class="container-fluid journal lightgrey-bg pb-20">
    <h2 class="my-h2">Popular from journal</h2>

    <div class="container">


        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 radius-15 ">
            <img src="images/journal-1.jpg">
            <h4>Lorem Ipsum dolor sit is the dummy content</h4>
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/journal-1.jpg">
            <h4>Lorem Ipsum dolor sit is the dummy content</h4>
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/journal-1.jpg">
            <h4>Lorem Ipsum dolor sit is the dummy content</h4>
        </a>

        <a href="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 radius-15">
            <img src="images/journal-1.jpg">
            <h4>Lorem Ipsum dolor sit is the dummy content</h4>
        </a>

        <a href="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="images/journal-1.jpg">
            <h4>Lorem Ipsum dolor sit is the dummy content</h4>
        </a>

        <div class="pull-right">
            <button class="btn btn-primary">View All</button>
        </div>

    </div>


</section>


<section class="container-fluid profiles pb-20">
    <h2 class="my-h2">Popular Profiles</h2>

    <div class="container">

        <ul class="pp-grid">
            <li>
                <div class="pp-item pp-img-1">
                    <div class="pp-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="pp-item pp-img-1">
                    <div class="pp-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="pp-item pp-img-1">
                    <div class="pp-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="pp-item pp-img-1">
                    <div class="pp-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>
        </ul>

        <hr>

        <ul class="pp-grid">

            <li>
                <div class="pagep-item pp-img-2">
                    <div class="pagep-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="pagep-item pp-img-3">
                    <div class="pagep-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="pagep-item pp-img-2">
                    <div class="pagep-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>
            </li>


            <li>
                <div class="pagep-item pp-img-3 no-radius">
                    <div class="pagep-info">
                        <h3>Name Comes Here</h3>

                        <p>Mumbai</p>
                    </div>
                </div>

            </li>
        </ul>

        <div class="pull-right">
            <button class="btn btn-primary">View All</button>
        </div>

    </div>

</section>


<section class="container-fluid events lightgrey-bg pb-20">
    <h2 class="my-h2">Interesting Events</h2>

    <div class="container">


        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events1.jpg" class="img-responsive">
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events2.jpg" class="img-responsive">
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events3.jpg" class="img-responsive">
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events4.jpg" class="img-responsive">
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events1.jpg" class="img-responsive">
        </a>

        <a href="" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="images/in-events2.jpg" class="img-responsive">
        </a>

        <div class="pull-right">
            <button class="btn btn-primary">View All</button>
        </div>

    </div>


</section>


<section class="container-fluid discussion pb-20">
    <h2 class="my-h2" >Trending Discussion</h2>

    <div class="container">

        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/pro.jpg" width="100" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting
                        industry.</h4>

                    <div class="media-bottom">

                        <div class="media-left">
                            <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                            <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                        </div>

                        <div class="media-right">
                            <a class="last-seen">32Min</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/pro.jpg" width="100" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting
                        industry.</h4>

                    <div class="media-bottom">

                        <div class="media-left">
                            <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                            <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                        </div>

                        <div class="media-right">
                            <a class="last-seen">32Min</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/pro.jpg" width="100" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting
                        industry.</h4>

                    <div class="media-bottom">

                        <div class="media-left">
                            <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                            <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                        </div>

                        <div class="media-right">
                            <a class="last-seen">32Min</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/pro.jpg" width="100" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting
                        industry.</h4>

                    <div class="media-bottom">

                        <div class="media-left">
                            <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                            <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                        </div>

                        <div class="media-right">
                            <a class="last-seen">32Min</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/pro.jpg" width="100" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum is simply dummy text of the printing typesetting
                        industry.</h4>

                    <div class="media-bottom">

                        <div class="media-left">
                            <a href=""><span class="fa fa-comment"></span> Comment Here</a>
                            <a href=""><span class="fa fa-tag"></span> Tag it Here</a>
                        </div>

                        <div class="media-right">
                            <a class="last-seen">32Min</a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <div class="pull-right">
            <button class="btn btn-primary">View All</button>
        </div>

    </div>

</section>


<section class="container-fluid footer-signup lightgrey-bg">
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label class="my-h3">Be Adventureous. Be Fitrangi! Join us by Registering right now.</label>
                <!--<button class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">Register</button>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal"
                        data-whatever="@getbootstrap">Register
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribe-modal"
                        data-whatever="@getbootstrap">Subscribe
                </button>
            </div>
        </form>
    </div>

            <!-----------------------Bootstrap MODAL For Signup---------------------->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title my-h3" id="exampleModalLabel">Sign up</h6>
                </div>
                <form name="signup-form" action="">
                <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Username:</label>
                            <input type="text"  id="username" class="form-control" placeholder="YOUR USERNAME" required="Please Enter Username" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            <input type="email" id="email" class="form-control" placeholder="XYZ123@ABC.COM" required="Please Enter Your Email">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Password:</label>
                            <input type="password" id="password" class="form-control" placeholder="********" required="Password Is Required">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Confirm Password:</label>
                            <input type="password" id="confirm-password" class="form-control" placeholder="********" required="Confirm Your Password">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn-signup"  class="btn btn-primary">Signup</button>
                </div>
               </form>
            </div>
        </div>
    </div>
        <!-----------------------Bootstrap MODAL For Subscribe---------------------->
    <div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title my-h3" id="exampleModalLabel">Subscribe For Latest Fitrangi Updates!!!</h6>
                </div>
                <form name="subscribe-form" action="">
                <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Name:</label>
                            <input type="text" id="name" class="form-control" placeholder="YOUR NAME" required="Please Enter Your Name" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            <input type="email" id="email" class="form-control" placeholder="XYZ123@ABC.COM" required="Please Enter Your Email">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn-subscribe" class="btn btn-primary">Subscribe</button>
                </div>
                </form>
            </div>
        </div>
    </div>


</section>

{% endblock %}
