{% extends 'generic/main/base.html' %}
{% block header_css %}

    <link href="/assets/css/stylish-portfolio.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- Navigation
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle pull-right"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper" class="pull-right">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Start Bootstrap</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    -->
    <!-- Header -->
    <section id="top" class="header2">
        <div class="text-vertical-center text-white">
            <h1>India's complete adventure portal</h1>
            <h3>Be a part of growing adventure community</h3>
            <br>
            <a href="#adventure" class="btn btn-dark btn-lg"><i class="fa fa-angle-down"></i> </a>
        </div>
    </section>


    <!-- Callout -->
    <section id="adventure" class="callout">
        <br/>
        <div class="col-sm-12 col-md-12 text-vertical-center">
            <h1 class="text-muted">Choose your adventure</h1>
            <hr/>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2" ><a href="/model/Activity?title=Camping"   title="Camping"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Camping.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Canyoning" title="Canyoning"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Canyoning.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Cycling and Biking" title="Cycling & Biking"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Cycling-&-Biking.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Marathons" title="Marathons"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Marathons.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Mountaineering" title="Mountaineering"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Mountaineering.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Rappelling and Valley Crossing" title="Rappelling & Valley Crossing"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Rappelling-&-Valley-Crossing.png"  ></a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2" ><a href="/model/Activity?title=Rock Climbing" title="Rock Climbing"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Rock-Climbing.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Trekking and Hiking" title="Trekking & Hiking"><img src="/assets/img/LOW SIZE PNG's/LAND SPORTS/Trekking-&-Hiking.png"  ></a></span>
                                <span class="col-sm-2"><a href="/model/Activity?title=Horse Riding" title="Horse Riding"><img src="/assets/img/LOW SIZE PNG's/OTHER SPORTS/Horse-Riding.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Stargazing" title="Star Gazing"><img src="/assets/img/LOW SIZE PNG's/OTHER SPORTS/Star-Gazing.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Zorbing" title="Zorbing"><img src="/assets/img/LOW SIZE PNG's/OTHER SPORTS/Zorbing.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Bungee Jumping" title="Bungee Jumping"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Bungee-Jumping.png"  ></a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2"  ><a href="model/Activity?title=Hang Gliding" title="Hang-Gliding"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Hang-Gliding.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Hot air Ballooning" title="Hot air Ballooning"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Hot-Air-Balooning.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Paragliding" title="Paragliding"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Paragliding.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Para Motoring" title="ParaMotoring"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Para-Motoring.png" ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Parasailing" title="Parasailing"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Parasailing.png"  ></a></span>
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Sky Diving" title="Sky Diving"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Sky-Diving.png"  ></a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2" ><a href="/model/Activity?title=Zip Line" title="Zip Line"><img src="/assets/img/LOW SIZE PNG's/SKY - FLY/Zip-Line.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Skiing" title="Skiing"><img src="/assets/img/LOW SIZE PNG's/SNOW - FLOW/Skiing.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Snowboarding" title="Snowboarding"><img src="/assets/img/LOW SIZE PNG's/SNOW - FLOW/Snowboarding.png"  ></a></span>
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Architecture Monuments" title="Architectural Monuments" ><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Architectural-Monuments.png" ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Beaches" title="Beaches"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Beaches.png" ></a></span>
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Forts and Caves" title="Forts & Caves"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Forts-&-Caves.png" ></a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Hill Station" title="Hill Stations"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Hill-Stations.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Places to Visit" title="Places to Visit"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Places-to-Visit.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Theme Parks" title="Theme Parks"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Theme-Park.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Wildlife Sanctuaries and Safaris" title="Wild Life Safari"><img src="/assets/img/LOW SIZE PNG's/TRAVELLING & SIGHTSEEING/Wildlife-Safari.png"  ></a></span>
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Kayaking" title="Kayaking"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Kayaking.png"  ></a></span>
                                <span class="col-sm-2 " ><a href="/model/Activity?title=Kite Surfing" title="Kite Surfing"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Kite-Surfing.png" ></a></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 5px;">
                                <span class="col-sm-2 col-sm-offset-2" ><a href="/model/Activity?title=Scuba Diving" title="Scuba Diving"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Scuba-Diving.png"></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Snorkelling" title="Snorkelling"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Snorkelling.png" ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Surfing" title="Surfing"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Surfing.png"  ></a></span>
                                <span class="col-sm-2" ><a href="/model/Activity?title=Water Rafting" title="Water Rafting"><img src="/assets/img/LOW SIZE PNG's/WATER - WONDERS/Water-Rafting.png"  ></a></span>
                            </div>
                        </div>
            <a href="#destinations" class="btn btn-dark btn-lg"><i class="fa fa-angle-down"></i> </a>
            </div>
        </div>
    </section>

    <section id="destinations" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Trending Destinations</h2>
                    <hr class="">
                    <div class="row">
		                {% for m in destinations %}
			                {{ m.render()|safe }}
		                {% endfor %}
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#organizers" class="btn btn-dark btn-lg"><i class="fa fa-angle-down"></i> </a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Portfolio -->
    <section id="organizers" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Featured Organizers</h2>
                    <hr class="">

                    <div class="row">
                        {% for m in organizers %}
			                {{ m.render(4)|safe }}
		                {% endfor %}
                    </div>
                    <a href="#articles" class="btn btn-dark btn-lg"><i class="fa fa-angle-down"></i> </a>
                </div>
            </div>
        </div>
    </section>

    <section id="articles" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Popular Articles</h2>
                    <hr class="">

                    <div class="row">
                        {% for m in articles %}
			                {{ m.render(4)|safe }}
		                {% endfor %}
                    </div>
                    <a href="#events" class="btn btn-dark btn-lg"><i class="fa fa-angle-down"></i> </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action">
        <div class="container">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Popular Profiles</h2>
                    <hr class="">
                    <div class="row">
                        {% for m in popular_profiles %}
			                {{ m.render()|safe }}
		                {% endfor %}
                    </div>
                </div>
        </div>
    </aside>
    <aside class="call-to-action">
        <div class="container">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Youtube Channel</h2>
                    <hr class="">
                    <div class="row">
                        {% import 'generic/includes/youtube.html' as yt_macro %}
                        {% for m in yt_links[0: 3] %}
                        <div class="col-md-4 col-sm-4">
                            <center>
                                <iframe src="//www.youtube.com/embed/{{ m }}?controls=2" frameborder="0" allowfullscreen width="100%%" height="180px;"></iframe>
                            </center>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </aside>

    <section id="events" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Interesting Events</h2>
                    <hr class="">

                    <div class="row">
                        {% for m in adventure_trips %}
			                {{ m.render(4)|safe }}
		                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Map -->
    <!--section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section-->
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h3>Subscribe for updates or visit our social channels</h3>
                    <div class="row">
                        <form action="/user/subscribe" method="post" class="form-horizontal">
                                <div class="">
                                    <input type="email" title="email" name="email" placeholder="Enter your email" class="input-lg form-control">
                                    <br/>
                                    <input type="submit" value="Notify me!" class="btn btn-success">
                                </div>
                        </form>

                        <br/>
                            <p>
                            <a href="https://plus.google.com/115019600318035585202/posts" target="_blank"> <i class="fa fa-google-plus fa-3x"></i> </a>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <a href="https://twitter.com/FitRangi" target="_blank"> <i class="fa fa-twitter fa-3x"></i> </a>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <a href="https://www.facebook.com/Fitrangi" target="_blank"> <i class="fa fa-facebook fa-3x"></i> </a>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <a href="https://www.youtube.com/user/Fitrangi" target="_blank"> <i class="fa fa-youtube fa-3x"></i> </a>
                           </p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Adventure Conclave</h2>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4 text-vertical-center">
                            <a href="http://adventuretourismconclave.com/"><img src="/assets/img/Image-1.jpg" alt="Image" class="img-responsive" width=""></a>
                        </div>
                        <div class="col-sm-4 text-vertical-center">
                            <a href="http://adventuretourismconclave.com/"><img src="/assets/img/Image-2.jpg" alt="Image" class="img-responsive" width=""></a>
                        </div>
                        <div class="col-sm-4 text-vertical-center">
                            <a href="http://adventuretourismconclave.com/"><img src="/assets/img/Image-3.jpg" alt="Image" class="img-responsive" width=""></a>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </aside>
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <strong class="pull-right">Advertisement</strong>
                    {% if footer_advert %}
                        {{ footer_advert.render(long=True)|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </aside>

{% endblock %}
{% block footer_scripts %}
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
{% endblock %}
