{% extends 'generic/main/base.html' %}
{% block body %}
	<div class="container">

		{% for k, models in model_groups.iteritems() %}
        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="header-title">
                        <h3>{{k}} <small><span class="pull-right"><a href="/channel/{{k}}" class="btn btn-link"><font color="lightgray">More</font></a></span></small></h3>
                    </div>
                </div>
                <div class="row-fluid">
                    {% for m in models %}
                        {{ m.render()|safe }}
                    {% endfor %}
                </div>
        </div>
        {% endfor %}
	</div>
{% endblock %}
