<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="editor.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="editor.css" type="text/css" rel="stylesheet"/>
    <title>jQuery LineControl Editor</title>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#txtEditor").Editor();

        });
    </script>
</head>
<body>
<div class="container-fluid" style="margin-top:150px;">
    <div class="row">
        <h2 class="demo-text">jQuery LineControl Editor Demo</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 nopadding">
                    <div id="txtEditor"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <p class="pull-right">&copy; Suyati Technologies <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
