{% extends 'base_admin.html' %}
        {% block page_header %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Profile
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-user"></i>&nbsp; Profile / Edit
                            </li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
{% block content %}
<div class="" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="pull-right">
                    <img src="{% if not user.main_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ user.get_class_name()}}/{{user.id}}{% endif %}" class="avatar" alt="avatar" height="50px;"/><br/>
                    <a href="#" id="change_image">Change Picture</a>

                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">

                    <form class="form" action="{{url_for('manage.ViewHandler:profile')}}" method="POST" role="form">
                           {{ form.hidden_tag() }}
                        <div class="heading">
                            <h4 class="form-heading">Edit Your Profile</h4>
                        </div>

                        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                            {{form.name.label}}
                            {{form.name(value=user.name, class="form-control")}}
                            <p class="help-block">{{ form.name.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                            {{form.email.label}}
                            {{form.email(value=user.email, class="form-control")}}
                            <p class="help-block">{{ form.email.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                            {{form.username.label}}
                            {{form.username(value=user.username, class="form-control")}}
                            <p class="help-block">{{ form.username.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.phone.errors %} has-error {% endif %}">
                            {{form.phone.label}}
                            {{form.phone(value=user.phone if user.phone else '', class="form-control")}}
                            <p class="help-block">{{ form.phone.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.address.errors %} has-error {% endif %}">
                            {{form.address.label}}
                            {{form.address(value=user.address, class="form-control")}}
                            <p class="help-block">{{ form.address.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.is_social_login.errors %} has-error {% endif %}">
                            {{form.is_social_login.label}}
                            {{form.is_social_login(value=user.is_social_login, class="form-control")}}
                            <p class="help-block">{{ form.is_social_login.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.facebook.errors %} has-error {% endif %}">
                            {{form.facebook.label}}
                            {{form.facebook(value=user.facebook if user.facebook else '', class="form-control")}}
                            <p class="help-block">{{ form.facebook.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.linkedin.errors %} has-error {% endif %}">
                            {{form.linkedin.label}}
                            {{form.linkedin(value=user.linkedin if user.linkedin else '', class="form-control")}}
                            <p class="help-block">{{ form.linkedin.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.website.errors %} has-error {% endif %}">
                            {{form.website.label}}
                            {{form.website(value=user.website if user.website else '', class="form-control")}}
                            <p class="help-block">{{ form.website.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.text.errors %} has-error {% endif %}">
                            {{form.text.label}}
                            {{form.text(value=user.text if user.text else '', class="form-control")}}
                            <p class="help-block">{{ form.text.errors[0] }}</p>
                        </div>

                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
            <div class="row">
                <div class="heading">
                    <h4 class="form-heading">Roles</h4>
                    <hr/>
                </div>
                {% for f in user.roles%}
                <span>{{f}}{% if not loop.last %}, {% endif %}</span>
                {% endfor %}
                </table>
            </div>
            <br/>
            <hr/>
            <br/>
            <div class="row">
                <div class="heading">
                    <h4 class="form-heading">Following</h4>
                    <hr/>
                </div>
                <table class="col-sm-12">
                    {% for f in user.following %}
                        <tr>
                            <td><img src="{% if not f.main_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ f.get_class_name()}}/{{f.id}}{% endif %}" class="avatar" alt="avatar" height="50px;"/></td>
                            <td>{{f.name}}</td>
                            <td><a href="#" data-key="{{f.id}}" data-remove-following>Remove</a></td>
                        </tr>
                    {% else %}
                    <p>You are currently following no one.</p>
                    {% endfor %}
                </table>
            </div>
            <br/>
            <hr/>
            <br/>
            <div class="row">
                <div class="heading">
                    <h4 class="form-heading">Favorites</h4>
                    <hr/>
                </div>
                <table class="col-sm-12">
                    {% for f in user.favorites %}
                        <tr>
                            <td><img src="{% if not f.main_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ f.get_class_name()}}/{{f.id}}{% endif %}" class="avatar" alt="avatar" height="50px;"/></td>
                            <td>{{f.name}}</td>
                            <td><a href="#" data-key="{{f.id}}" data-remove-favorite>Remove</a></td>
                        </tr>
                    {% else %}
                    <p>You currently have no favorites.</p>
                    {% endfor %}
                </table>
            </div>
            <br/>
            <hr/>
            <br/>
        </div><!--/container-->
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}