{% extends 'generic/main/base.html' %}
{% block body %}
    <div class="container" id="main">
		<div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="..." rows="2"></textarea>
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-lg">Post</button>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                </div>
                {% for k, m in models.iteritems() %}
                    <div class="col-md-4 col-sm-6">
					{% for v in m %}
						{{ v.render()|safe }}
					{% endfor %}
				    </div>
                {% endfor %}
            </div>
	    </div><!--/row-->
    </div>
{% endblock %}
{% block script_list %}comments.js{% endblock %}
