<div class="{% block grid_size %}{% endblock %}">
    <div class="thumbnail">
        <a href="{{model.slug}}"><img src="{{model.cover_image_path_small}}" alt="..."></a>

        <div class="caption">
            <h4><a href="{{model.slug}}">{{ model.name_short }}</a></h4>
            {% if model.location %}
            <h5><i class="fa fa-map-marker"></i> &nbsp;&nbsp; {{ model.location }}</h5>
            {% elif model.optional_location_name %}
            <h5><i class="fa fa-map-marker"></i> &nbsp;&nbsp; {{ model.optional_location_name }}</h5>
            {% endif %}
        </div>

    </div>
</div>

