<li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle p-10" src="{{ model.author.cover_image_path }}" width="100"  alt="...">
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading"><a href="{{model.slug}}">{{model.title}}</a></h4>
    </div>

    <div class="media-right">
    	<a href=""><span class="fa fa-comment"></span> {{model.comments|length}}</a>
        <a href=""><span class="fa fa-tag"></span> {% for t in model.tags%}{{t}}{% if not loop.last %}, {% endif %}{% endfor %}</a>
        <a class="last-seen">{{model.since}}</a>
    </div>
</li>
