<tr>
    <td class="">
        <h4><a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}">{{model.title}}</a><small><span class="pull-right">{% if model.comments|length > 0 %}{{model.comments|length}} Answers{% endif %}</span> </small></h4>
        <p>{{ model.created_by.name }}</p>
    </td>
    <td class="">
        <ul>
            {% for k in model.tags %}
            <li>{{ k }}</li>
            {% endfor %}
        </ul>
    </td>
</tr>

