{% extends 'generic/main/model_base.html' %}
{% block model_data %}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <!-- POSTED QUESTION ON FORUM-->
        <h1>{{ model.title }}</h1><br/>
        <div class="row-fluid">
            <a class="story-title" href="#"></a>       
           <p class="lead" style="">by <a href="/model/{{model.created_by.get_class_name()}}/{{model.created_by.id}}">{% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %} <img title="profile image" style="width:30px;height:30px" class="" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"></a>
        </p>  
            
        </div>
        <br />
        <p>
            <span class="glyphicon glyphicon-time"></span> Posted on {{ model.created_timestamp.strftime('%d-%m-%Y %H:%M') }} </p>
        <hr>


        <p class="lead">{{ model.text }}</p>
        {% if model.facets|length > 0 %}
        {% for f in model.facets %}
            <span class="label label-info">{{ f }}</span>
        {% endfor %}
        <hr/>
        {% endif %}

        <!--p><strong>Keywords:</strong>
        </p-->
        <!--ul>
            {% for k in model.keywords %}
            <li>
                <a href="#">{{ k }}</a>
            </li>
            {% endfor %}
        </ul-->
        <!--hr/-->
        <br/>
        <h3><u>Answers:</u></h3>
        <div class="container-fluid">
        {% if model.comments|length > 0 %}
        {% for comment in model.comments %}
        <div class="box" style="background-color: aliceblue; padding: 10px 10px 10px 10px;">
            {% if comment.created_by.id == user.id or 'Admin' in user.roles %}
            <form action="/comments/{{model.id}}/delete/{{ comment.key }}" method="post">
                <input id="{{ comment.key }}" type="hidden" name="location" value=""/>
                <p class="pull-right"><button class="btn btn-link" type="submit">X</button></p>
                <script>
                    (function() {
                        $('#{{comment.key}}').attr('value', window.location.href);
                    })();
                </script>
            </form>
            {% endif %}
            <div class="container-fluid" >
                <span><strong>{{ comment.text }}</strong></span>
                <br/>
                <h5 class="row pull-right">
                    <img style="width:30px;height:30px" class="" src="{% if comment.created_by and comment.created_by.main_image and comment.created_by.main_image.image %}/img/{{ comment.created_by.get_class_name()}}/{{comment.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}">
                    {{ comment.created_by.name }} <small> posted on <strong>{{ comment.created_on.strftime('%d-%m-%Y %H:%M') }}</strong></small>
                </h5>
            </div>
        </div>
        <br/>
        {% endfor %}
        {% else %}
        <p><strong>Be the first to Answer</strong></p>
        {% endif %}

        </div>

        <div class="well">
            <h4>Post Answer:</h4>
            <form id="comment_form" role="form well" data-key="{{ model.id }}">
                <div class="form-group">
                    <textarea id="comment_text" class="form-control" rows="3"></textarea>
                </div>
                <input type="hidden" name="type" value="answer"/>
                <button id="comment_submit" type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
