<div class="row" style="background-color: aliceblue">
    <br/>

    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-title" href="/model/{{model.channel_factory(model.created_by)}}/{{model.created_by.id}}">
            <img title="profile image" style="width:100px;height:100px" class="img-circle img-responsive" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"/>
        </a>
    </div>
    <div class="col-md-10 col-sm-9">
        <h3>
            {{ model.title }}
            <small style="font-family:courier,'new courier';" class="text-muted pull-right">Posted on {{ model.created_timestamp.strftime('%d-%m-%Y') }}</small>
            <br/>
            <h4><span class="label label-default pull-right">{% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %}</span></h4>
            <br/>
            <br/>
            <h4><a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-danger pull-right">Read More</a></h4>
        </h3>

        <div class="row">
            {{ model.text }}
        </div>
        <div class="row">
            {% for f in model.facets %}
                <span class="label label-info">{{f}}</span>
            {% endfor %}
        </div>
        <br/>
    </div>
</div>
<hr/>