<style>
/* CSS used here will be applied after bootstrap.css */
#post-topic{
  margin-top:50px;
}
i.glyphicon-comment{
 margin:3px;
}
</style>

<!--div class="row" style="background-color: HONEYDEW">


            <div class="col-sm-12">
                <h3>
                    <a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-muted">{{ model.title }}</a>
                    <br/>
                </h3>
            </div>

        <div class="panel-body">
        <div class="row-fluid">

            <div class="col-sm-8">
                    {% for f in model.facets %}
                        <span class="label label-info">{{f}}</span>
                    {% endfor %}
                </div>
            <div class="col-sm-4">

                <div  style="background-color: LAVENDER">
                <a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}">
                    <img title="profile image" style="width:30px;height:30px;" class="" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"/>

                </a>
                
                <span style="font-family:courier,'new courier';" class="text-muted "><strong>{% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %}</strong> ({{ model.created_timestamp.strftime('%d-%m-%Y') }})</span>
                </div>
            </div>

                 <!--div class="col-sm-3 pull-right">
                     <div class="row">
                
                <div class="col-sm-6 pull-right ">
                    <h4></h4>
                        </div>
                </div>
                     </div->
         </div>
            </div>
                
                <br/>

        </div>
               <br/-->

<!--div class="row">
	<div class="col-sm-12">
  		<section class="panel panel-info">
              <header class="panel-heading">
              </header>
              <section class="panel-body">
                <section class="col-md-9">
                    <h3> <a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-muted">{{ model.title }}</a></h3>
                    <hr>
                  <section class="col-md-6">
                      {% for f in model.facets %}<span><a href="#"><i class="glyphicon glyphicon-tag"> {{f}} </i></a></span> &nbsp; {% endfor %}
                  </section>
                </section>
                <section class="col-md-3">
                    <a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}">
                        <img title="profile image" style="width:40px;height:40px;" class="" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"/>
                    </a>
                    <a href="#"><i class="glyphicon glyphicon-"></i> {% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %} </a><br><br>
                    <a href="#"><i class="glyphicon glyphicon-calendar"></i> {{ model.created_timestamp.strftime('%d-%m-%Y') }}  </a><br>
                    <a href="#"><i class="glyphicon glyphicon-comment"></i> Comments:000  </a>
                </section>
              </section>
        </section>
    </div>
</div-->



    	<div class="col-md-12">
  		    <section class="panel panel-info">
                <section class="panel-body">
                        <section class="col-md-2">
	                            <a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}" style="padding-left: 15px;">
                                    <img title="profile image" style="width:40px;height:40px;" class="img-circle" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"/>
                                </a>
                                <br>
                                <a href="#">
                                    <i class="glyphicon glyphicon-"></i> {% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %}
                                </a>
                        </section>
                        <section class="col-md-8">
                                <h4> <a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-muted">{{ model.title }}</a></h4>
		                   <span>
                             <a href="#"><i class="glyphicon glyphicon-calendar"></i>  {{ model.created_timestamp.strftime('%d-%m-%Y') }}   </a> &nbsp;
                             {% if model.comments|length > 0 %}
	                         <a href="#"><i class="glyphicon glyphicon-comment"></i> {{model.comments | length }}</a>&nbsp;
                             {% endif %}
	                         {% for f in model.facets %}
                             <a class="" href="#"><i class="glyphicon glyphicon-tag"> </i>{{f}}</a> {% endfor %}&nbsp;
                           </span>
                        </section>
                </section>
            </section>
        </div>


