<div class="row" style="background-color: HONEYDEW">


            <div class="col-sm-12">
                <h3>
                    <a href="/model/{{model.channel_factory(model)}}/{{model.id}}" class="text-muted">{{ model.title }}</a>
                    <br/> 
                </h3>
            </div>

        <div class="panel-body">
        <div class="row-fluid">

            <div class="col-sm-8">
                    {% for f in model.facets %}
                        <span class="label label-info">{{f}}</span>
                    {% endfor %}
                </div>
            <div class="col-sm-4">
                    
                <div  style="background-color: LAVENDER">
                <a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}">
                    <img title="profile image" style="width:30px;height:30px;" class="" src="{% if model.created_by and model.created_by.main_image and model.created_by.main_image.image %}/img/{{ model.created_by.get_class_name()}}/{{model.created_by.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}"/>
                    
                </a>
                
                <span style="font-family:courier,'new courier';" class="text-muted "><strong>{% if model.created_by %}{{ model.created_by.name }}{% else %}Anonymous{% endif %}</strong> ({{ model.created_timestamp.strftime('%d-%m-%Y') }})</span>
                </div>
            </div>

                 <!--div class="col-sm-3 pull-right">
                     <div class="row">
                
                <div class="col-sm-6 pull-right ">
                    <h4></h4>
                        </div>
                </div>
                     </div-->
         </div>
            </div>
                
                <br/>

        </div>
               <br/>
     