<div class="panel panel-default">
    <div class="panel-body">
        <p>
            {{ model.created_by.visuals(small=True)|safe}}
            <a href="#">{{model.created_by.name}}</a>
            <span class="pull-right">{{model.since}}</span>
        </p>
        <div class="clearfix"></div>
        <hr>
        {{model.data|safe}}
        <br><br>
        {{ model.visuals()|safe}}
        <!--img src="/img/{{model.get_class_name()}}/{{model.id}}" /-->
        <br><br>

        {% import 'generic/includes/comments_post.html' as comment_macro %}
        {{ comment_macro.show_comments(model.comments, model.id, user)}}
    </div>
</div>
