<div class="">
    <div class="form-group">
        <div id="form-control-image-uploader"><div class="form-group"><label for="tags">Select Image to upload</label><input data-image="file-uploader" type="file" class="form-control" placeholder="Image selector" ></div></div>
    </div>
    <div id="upload-image-view">
        <input type="hidden" class="upload-image" name="image" value=""/>
        <div class="img-container"></div>
        <div class="cropped-image text-center thumbnail"></div>
    </div>
    <div class="alert"></div>
</div>
<script>
    $('#upload-image-view').hide();
    $('.cropped-image').hide();
</script>
<script src="{{url_for('static', filename='js/cropper.js')}}"></script>
<script src="{{url_for('static', filename='appjs/crop.js')}}"></script>
