<div id="fp-success">
    <div id="success-message"></div>
</div>
<div id="fp-error">
    <div id="error-message" class="alert alert-warning"></div>
</div>
<div id="forgotpassword" role="dialog">
    <form id="forgotpasswordmodal" action="/forgot_password" method="post" class="form-horizontal" role="form">
            <input class="col-sm-12" id="forgot-password-email" type="email" required data-validation-required-message="Please Enter Your Email." style="width: 100%"  class="form-control" name="email" value="" placeholder="Please Enter Your Email"/>
    </form>
</div>
<br/>
<br/>
<br/>
<script>
    $("#fp-success").hide();
    $("#fp-error").hide();
</script>
