<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<script>

        function convertImgToBase64(url, callback, outputFormat) {
            var canvas = document.createElement('CANVAS');
            var ctx = canvas.getContext('2d');
            var img = new Image;
            img.crossOrigin = 'Anonymous';
            img.onload = function () {
                canvas.height = img.height;
                canvas.width = img.width;
                ctx.drawImage(img, 0, 0);
                var dataURL = canvas.toDataURL(outputFormat || 'image/png');
                callback.call(this, dataURL);
                // Clean up
                canvas = null;
            };
            img.src = url;
        }
        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                testAPI();
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'Please log into this app.';
            } else {
                document.getElementById('status').innerHTML = 'Please log into Facebook.';
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '526533334116117',
                oauth      : true,
                cookie     : true,  // enable cookies to allow the server to access
                xfbml      : true  // parse social plugins on this page
                //version    : 'v2.1' // use version 2.1
            });
            /*FB.getLoginStatus(function(response) {
                //statusChangeCallback(response);
            });*/
        };

        function fb_login(){
            FB.login(function(response) {

                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    access_token = response.authResponse.accessToken; //get access token
                    user_id = response.authResponse.userID; //get FB UID
                    FB.api('/me',
                            function(response) {
                                var profile_image= "https://graph.facebook.com/"+ response.id +"/picture?type=large";
                                _login_with_data(profile_image, {name: response.name, email: response.email});
                            },
                            {scope: 'email, user_likes'}
                    );
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, {
                scope: 'publish_stream,email'
            });
        }

        /*
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "http://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        */
        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());

        var _login_with_data = function(profile_image, response) {
            convertImgToBase64(profile_image, function(base64Img) {
                var _login = function(image) {

                    var data = null;
                    if (image != null) {
                        data = {name: response.name, email: response.email, file: image};
                    } else {
                        data = {name: response.name, email: response.email, file: ''};
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/sociallogin',
                        data: data
                    }).done(function (msg) {
                        if (msg.status == 'success') {
                            window.location.reload();
                        } else {
                            $("#message").html('Some went wrong. Please try again later.');
                            $("#error").show();
                        }
                    });

                };
                _login(base64Img);
            });
        }

        function testAPI() {

        }

        function make_base_auth(data) {
            var hash = btoa(data);
            return "Basic " + hash;
        }

        function onSignInCallback(resp) {
            if(!resp['g-oauth-window']){
                return;
            }
            if (!resp.status.signed_in) {
                return;
            }
            var data = atob(resp.id_token.split('.')[1]);
            $.ajax({
                type: 'GET',
                    url: 'https://www.googleapis.com/plus/v1/people/me?key=AIzaSyC2G0kvBLJBEnBCUPf053z6mL5tgbWON5o',
                dataType: 'json',
                async: false,
                headers: {
                    "Authorization": "Bearer " + resp['access_token']
                }
            }).done(function (data) {
                console.log(data);
                var primaryEmail;
                for (var i=0; i < data.emails.length; i++) {
                    if (data.emails[i].type === 'account') primaryEmail = data.emails[i].value;
                }
                var email = primaryEmail;
                var name = data['displayName'];
                var image_url = data.image.url;
                var profile_image = image_url.substring(0, image_url.indexOf("?") - 1) + "?sz=200";
                _login_with_data(profile_image, {name: name, email: email});

            });

          }
</script>
<div class="" id="login" role="dialog">
    <form id="loginform" action="/login" method="post" class="form-horizontal" role="form">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left: 25px;">
                    <input id="login-username" type="text" required data-validation-required-message="Please enter your email." class="form-control" style="width: 100%" name="username" placeholder="YourEmail@xyz.com"/>
                    <br/>
                    <input id="login-password" type="password" required data-validation-required-message="Please enter your Password." class="form-control" name="password" style="width: 100%" placeholder="Your Password">
				    <br/>
                    <label>
                        <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                    </label>
                    <div class="">
                        <a href="#" class="show_forgot_password" >Forgot Password?</a>
			        </div>
                    <br/>
                    <button id="btn-login1" type="button" class="btn btn-default mb-10 btn-twitter"><i class="fa fa-user-md"></i>Sign <strong>In</strong></button>
                    <!--button type="button" style="width: 100px;" class="btn btn-info"><b> Login </b></button--> &nbsp;
                    <!--fb:login-button data-max-rows="0"  data-size="large" scope="public_profile,email" onlogin="checkLoginState();">Login with Facebook</fb:login-button-->
                    <div id="fb-root" class="hide"></div>
                    <button type="button" class="btn btn-default btn-facebook mb-10" onclick="fb_login();"><i class="fa fa-facebook"></i>Sign in with <strong>Facebook</strong></button>
                    <button class="btn btn-default btn-google-plus mb-10 g-signin" id="signinButton" type="button" data-callback="onSignInCallback"
                    data-clientid="445628400297-si4iclsg5i2imd3parigb643lep5iis7.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-scope="email profile openid https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.profile">
                    <i class="fa fa-google-plus"></i> Sign in with <strong>Google+</strong></button>
                </div>
            </div>
        </div>
    </form>
    <div id="error">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="message"></div>
        </div>
    </div>
</div>
<script>
    $("#error").hide();
    $("#btn-login1").click(function(e){
        var email = $('#login-username').val();
        var password = $("#login-password").val();
        var remember =  false;
        $.ajax({
            type: 'POST',
            url: '/login',
            data: {
                email: email,
                password: password,
                remember: remember
            }
        }).done(function (msg) {
            if (msg.status == 'success') {
                window.location.reload();
            } else {
                $("#message").html(msg.message);
                $("#error").show();
            }
        });
    });
    $(".show_forgot_password").on('click', function(e) {
        e.stopPropagation();
        window.$forgotpasswordDialog = new BootstrapDialog({
            title: "Forgot Password",
            message: $('<div></div>').load('/forgot-password-modal'),
            buttons: [
                {
                    label: 'Reset Password',
                    cssClass: 'btn-primary',
                    action: function(dialogItself) {
                        var email = $('#forgot-password-email').val();
                        console.log("Forgot password: " + email);
                        $.ajax({
                            type: 'POST',
                            url: '/forgot_password',
                            data: {
                                email: email
                            }
                        }).done(function (msg) {
                            if (msg.status == 'success') {
                                $("#success-message").html(msg.message);
                                $("#fp-success").show();
                                $("#forgotpassword").hide();
                                dialogItself.close();
                            } else {
                                $("#error-message").html(msg.message);
                                $("#fp-error").show();
                            }
                        });
                    }
                },
                {
                    label: 'Close',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }
            ]
        });
        window.$forgotpasswordDialog.realize();
        window.$forgotpasswordDialog.open();
        if (window.$loginDialog != undefined || window.$loginDialog != null) {
            window.$loginDialog.close();
        }
    });
</script>
