<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <input data-name="search-topic" type="text" class="form-control input-lg" placeholder="Search for" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        <select data-name="search-type" class="form-control input-lg">
            <!--option>Activity</option-->
            <option value="adventure">Destination</option>
            <option value="profile">Profile</option>
            <option value="article">Blog</option>
            <option value="discussion">Discussion</option>
            <!--option value="trip">Trip</option-->
        </select>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <div class="input-group-btn"><button data-action="search-content" class="btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i></button></div>
    </div>
</div>
