<form id="forgotpasswordmodal" action="/forgot_password" method="post" class="form-horizontal" role="form">
    <div class="container-fluid">
        <div class="panel-body" >
            <div style="margin-bottom: 50px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="text" required data-validation-required-message="Please Enter Your Email." class="form-control" name="email" value="" placeholder="Please Enter Your Email"/>
            </div>
            <button id="btn-login" type="submit" class="btn btn-default">Submit  </button>
        </div>
    </div>
</form>