<div class="">
    <h4>Subscribe for latest updates!</h4>
    <br/>
    <form action="/user/subscribe" method="post" class="form-horizontal">
        <div class="input-group">
            <input type="email" title="email" name="email" placeholder="Enter your email" class="input-lg form-control">
            <span class="input-group-addon">
                <input type="submit" value="Notify me!" class="btn btn-success">
            </span>
        </div>
    </form>
    <br/>
    <br/>
    <p>

    <a href="https://plus.google.com/115019600318035585202/posts" target="_blank"> <i class="fa fa-google-plus fa-4x"></i> </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/FitRangi" target="_blank"> <i class="fa fa-twitter fa-4x"></i> </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/Fitrangi" target="_blank"> <i class="fa fa-facebook fa-4x"></i> </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/user/Fitrangi" target="_blank"> <i class="fa fa-youtube fa-4x"></i> </a>
    </p>
</div>