{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}
{% block head_css %}
	{{ super() }}
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/summernote.css" rel="stylesheet">
{% endblock %}
{% block head_tail %}
    {{ super() }}
    <!--link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet"-->
    <script src="/js/jquery.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
    <!-- Google Maps Api -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            margin-top: 60px;
        }
    </style>

{% endblock %}

{% block page_body %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">&nbsp;&nbsp;Fitrangi Manager</a>
        <ul class="nav">
            {{ layout.menu() }}
            {{ layout.menu_links() }}
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left"><img class="media-object" src="http://placehold.it/50x50" alt=""></span>
                                <div class="media-body">
                                        <h5 class="media-heading"><strong>{{user.name}}</strong></h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li><a href="#">Alert Name <span class="label label-default">Alert Badge</span></a></li>
                    <li><a href="#">View All</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="active dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;{{user.name}}&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="{% if settings=='profile' %}active{% endif %}"><a href="/admin/settings.my_profile">My Profile</a></li>
                    <li class="{% if settings=='password' %}active{% endif %}"><a href="/admin/settings.password">Change Password</a></li>
                    <li class="{% if settings=='prefs' %}active{% endif %}"><a href="/admin/settings.preference">Preferences</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="span12">
            <div id="content">
                {% block brand %}
                    {% if admin_view.name|lower != 'home' %}
                    <h2 id="brand">{{ admin_view.name|capitalize }}</h2>
                    <div class="clearfix"></div>
                    <hr/>
                    {% endif %}
                {% endblock %}
                {{ layout.messages() }}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block tail_js %}
        {{super()}}
        <script src="/js/jquery.geocomplete.min.js"></script>
        <script src="/js/summernote.min.js" type="text/javascript"></script>
        <script language="javascript">
        $(document).ready(function(){
          if ($(".geo-complete") != undefined) {
              $(".geo-complete").geocomplete().bind("geocode:result", function (event, result) {
                console.log("Result: " + JSON.stringify(result));
                var name = result.formatted_address;
                var lat = result.geometry.location.k;
                var lon = result.geometry.location.D;
                $('input[type="hidden"][name="geo_location_name"]').val(name);
                $('input[type="hidden"][name="geo_location_lat"]').val(lat);
                $('input[type="hidden"][name="geo_location_long"]').val(lon);

              });
          }
          if ($(".summernote") != undefined) {
            $('.summernote').summernote({
  				height: 240,                 // set editor height
  				minHeight: null,             // set minimum height of editor
  				maxHeight: null,             // set maximum height of editor
  				focus: true,                 // set focus to editable area after initializing summernot
            });

            $('textarea').addClass("span8");
            {% if not is_admin %}
                $("#author").addClass('hide');
                $('#author').parent().append('<span class="clearfix"><strong>{{user.name}}</strong></span>');
            {% endif %}
          }
        });
        </script>
{% endblock %}
