{% extends 'generic/main/model_base.html' %}
{% block model_data %}
<hr>
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
			<h1>{{ model.name }}</h1>
			{% if model.id == user.id %}
			<a href="/model/Profile/{{model.id}}/edit" class="btn btn-link">Edit</a>
			{% else %}
          	<button class="btn btn-success" type="button">Message</button>
			{% endif %}
			<br/>
        </div>
      	<div class="col-sm-2"><a class="pull-right" href="/users">
				<img title="profile image" class="img-circle img-responsive" src="{% if model.has_no_image %}http://placehold.it/300x300{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}"/>
			</a></div>
    </div>
  	<br/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
				<li class="list-group-item text-muted" contenteditable="false"><h4>Profile</h4></li>
				{% if model.website %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>Website</strong></span>{% if model.website and model.website|length > 0 %}{{ model.website|escape }}{% endif %}</li>
				{% endif %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>On fitrangi since</strong></span> {{ model.created_timestamp.strftime('%d-%m-%Y') }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last updated</strong></span> {{ model.modified_timestamp.strftime('%d-%m-%Y') }}</li>
				{% if 'Retailer' in model.roles or 'EventOrganiser' in model.roles %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Contact Person</strong></span> Joseph Doe</li>
				{% endif %}
				{% if 'Professional' in model.roles %}
              	<li class="list-group-item text-right"><span class="pull-left"><strong>Specialty: </strong></span> Pet Sitter</li>
				{% endif %}
            </ul>
        	
            <ul class="list-group">
				<li class="list-group-item text-muted"><strong>Activity</strong> <i class="fa fa-dashboard fa-1x"></i></li>
				{% if 'Retailer' in model.roles or 'EventOrganiser' in model.roles %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Events/Products</strong></span> 125</li>
				{% endif %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>Following</strong></span> {{ model.following|length }}</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> {{ model.follower|length }}</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Blogs</strong></span> {{ model.blogs|length }}</li>
				<li class="list-group-item text-right">
				<span class="pull-left"><strong>Questions</strong></span> {{ model.questions|length }}<br/>
					<span class="pull-left"><strong>Answers</strong></span> {{ model.answers|length }}
				</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Social Media</strong></span> 
				<a href="{% if model.facebook %}{{model.facebook}}{% else %}#{% endif %}">Facebook,</a>
				<a href="{% if model.linkedin%}{{model.linkedin}}{% else %}#{% endif %}">LinkedIn</a>
				</li>
            </ul>
        </div>
        
		<div class="col-sm-9" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Summary / Bio</div>
				<div class="panel-body"> {% if model.description %}{{ model.description }}{% else %}A long description about me.{% endif %}</div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">
					Posts&nbsp;	 
					{% if 'Retailer' in model.roles %}
						/&nbsp;Latest Product 
					{% endif %}
					{% if 'EventOrganiser' in model.roles %}
						/&nbsp;Upcoming Events
					{% endif %}
					</div>
                <div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people"/>
								<div class="caption">
									<h3>Example Post</h3>
									<p>Cocker Spaniel who loves treats.</p>
									<p></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people"/>
								<div class="caption">
									<h3>Example Post</h3>
									<p>Cocker Spaniel who loves treats.</p>
									<p></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img alt="300x200" src="http://lorempixel.com/600/200/people"/>
								<div class="caption">
									<h3>Example Post</h3>
									<p>Cocker Spaniel who loves treats.</p>
									<p></p>
								</div>
							</div>
						</div>
                	</div>
            	</div>
            </div>
        </div>
    </div>

	<div id="push"></div>
</div>
{% endblock %}
