{% extends 'generic/main/model_base.html' %}
{% block model_data %}
<hr>
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
			<h1>{{ model.name }}</h1>

            {% if user %}
			    {% if model.id == user.id%}
			        <a href="/model/Profile/{{model.id}}/edit" class="btn btn-link">Edit</a><br>
			    {% else %}
                    {% if 'Admin' in user.roles %}
                        <a href="/model/Profile/{{model.id}}/edit" class="btn btn-link">Edit</a>
                    {% endif %}
                    {% if 'Enthusiast' in model.facets %}
                        {% if model not in user.following %}
                            <form action="/profile/follow?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> Follow</button>
                            </form>
                        {% else %}
                            <form action="/profile/unfollow?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> Unfollow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if 'Organizer' in model.facets or 'Gear Dealer' in model.facets %}
                        {% if model not in user.favorites %}
                            <form action="/profile/add-favorites?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-star"></span> Add to Favourite</button>
                            </form>
                        {% else %}
                            <form action="/profile/remove-favorites?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-star"></span> Unfavourite</button>
                            </form>
                        {% endif %}
                    {% endif %}
			    {% endif %}
            {% endif %}
			<br/>
        </div>
      	<div class="col-sm-2">
            <!--a id="" data-toggle="modal" data-target="#largeModal10" class="pull-right" href="">
				<img title="profile image" class="img-circle img-responsive" src="{% if model.has_no_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}"/-->
        <div class="thumbnail">
                <div class="caption">
                    <a href="" class="label label-danger"  data-toggle="modal" data-target="#largeModal10">Upload Photo</a>     
                </div>
              <img class="img-circle img-responsive" src="{% if model.has_no_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}" class="avatar" alt="avatar">
			</div>
        </div>
    
  	<br/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
				<li class="list-group-item text-muted" contenteditable="false">
                
                <div class="">
                <h4>Profile</h4>
                </div>
                   
                
                </li>
				{% if model.website %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>Website</strong></span>{% if model.website and model.website|length > 0 %}{{ model.website|escape }}{% endif %}</li>
				{% endif %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>On fitrangi since</strong></span> {{ model.created_timestamp.strftime('%d-%m-%Y') }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last updated</strong></span> {{ model.modified_timestamp.strftime('%d-%m-%Y') }}</li>
				{% if 'Organizer' in model.facets or 'Dealer' in model.facets %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> {% if model.phone %}{{ model.phone }} {% else %} Not provided {% endif %} </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span>  {% if model.email %}{{ model.email }} {% else %} Not provided {% endif %}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Website</strong></span>{% if model.website %}{{ model.website }} {% else %} Not provided {% endif %} </li>
				{% endif %}
				{% if 'Professional' in model.roles %}
              	<li class="list-group-item text-right"><span class="pull-left"><strong>Specialty: </strong></span> Pet Sitter</li>
				{% endif %}
            </ul>
        	
            <ul class="list-group">
				<li class="list-group-item text-muted"><strong>Activity</strong> <i class="fa fa-dashboard fa-1x"></i></li>
				{% if 'Retailer' in model.roles or 'EventOrganiser' in model.roles %}
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Events/Products</strong></span> 125</li>
				{% endif %}
                
                {% if 'Enthusiast' in model.facets %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="" data-toggle="modal" data-target="#largeModal1">Following</a></strong></span> {{ model.following|length }}</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="" data-toggle="modal" data-target="#largeModal2">Followers</a></strong></span> {{ model.follower|length }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="" data-toggle="modal" data-target="#largeModal3">Favourite organisers</a></strong></span> {{ model.favorites|length }}</li>
                
                {% else %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="" data-toggle="modal" data-target="#largeModal4">Favourited By</a></strong></span> {{ model.favorites|length }}</li>
{% endif %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>Blogs</strong></span> {{ model.blogs|length }}</li>
				<li class="list-group-item text-right">
				<span class="pull-left"><strong>Questions</strong></span> {{ model.questions|length }}<br/>
					<span class="pull-left"><strong>Answers</strong></span> {{ model.answers|length }}
				</li>
				
                <!--li class="list-group-item text-right"><span class="pull-left"><strong>Social Media</strong></span>
				<a href="{% if model.facebook %}{{model.facebook}}{% else %}#{% endif %}">Facebook,</a>
				<a href="{% if model.linkedin%}{{model.linkedin}}{% else %}#{% endif %}">LinkedIn</a>
				</li-->
            </ul>
        </div>
        
		<div class="col-sm-9" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Summary / Bio</div>
				<div class="panel-body"> {% if model.text %}{{ model.text }}{% else %}A long description about me.{% endif %}</div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">
					Posts&nbsp;	 
					{% if 'Retailer' in model.roles %}
						/&nbsp;Latest Product 
					{% endif %}
					{% if 'EventOrganiser' in model.roles %}
						/&nbsp;Upcoming Events
					{% endif %}
					</div>
                <div class="panel-body">
					<div class="row-fluid">
                        {% for c in contents %}
						<div class="col-md-4">
							<div class="thumbnail">
                                {% if c.main_image and c.main_image.image %}
								<img alt="300x200" src="/img/{{ c.get_class_name()}}/{{c.id}}"/>
                                {% endif %}
								<div class="caption">
									<h3>{{ c.title }}</h3>
                                    {% if c.description and c.description|length > 0 %}
									<p>{{ c.description }}</p>
                                    {% else %}
                                    <p>{{ c.text[0:100] }}</p>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% else %}
                            <p><strong>No posts found.</strong></p>
                        {% endfor %}

                	</div>
            	</div>
            </div>
        </div>
    </div>

	<div id="push"></div>
</div>
{% if 'Organizer' in model.facets or 'Gear Dealer' in model.facets %}
<div class="modal fade" id="largeModal4" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    {% set _col_ = model.favorites %}
                    Favorited By
                    </h4>  
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% for m in _col_ %}
                    <div class="col-sm-2">
                            <img style="height: 120px; width : 150px"                         src="/img/{{m.get_class_name()}}/{{m.id}}" />
                        <h6>{{ m.name }}</h6>
        		    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% else %}
            {% for i in [1, 2, 3 ] %}
                <div class="modal fade" id="largeModal{{i}}" tabindex="-1" role="dialog" aria-          labelledby="largeModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    {% if i == 1 %}
                                    {% set _col_ = model.following %}
                                    Following
                                    {% elif i == 2 %}
                                    {% set _col_ = model.follower %}
                                    Followers
                                    {% elif i == 3 %}
                                    {% set _col_ = model.favorites %}
                                    Favorites
                                    {% else %}
                                    Other people I care about
                                    {% endif %}
                                </h4>  
                            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% for m in _col_ %}
                    <div class="col-sm-2">
                        <img style="height: 120px; width : 150px" src="/img/{{m.get_class_name()}}/{{m.id}}" />
                        <h6>{{ m.name }}</h6>
        		    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="largeModal10" tabindex="-1" role="dialog" aria-          labelledby="largeModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">
                                   Profile Picture</h4>  
                            </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-sm-5">
                    {% if model.id %}
                        <img src="{% if model.has_no_image %}http://placehold.it/250x250{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}" class="avatar" alt="avatar">
                        </div>
                 <div class="col-sm-5">
                 <h4 class="">Upload a different photo...</h4>
				 <form action="/model/{{ channel }}/{{model.id}}/edit" enctype="multipart/form-data" method="post">
                	<input class="form-control" name="action" type="hidden" value="image_upload"/>
                	<input class="form-control" name="image" type="file"/>
					
				{% endif %}      
                            
        		  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Upload</button>
                <button type="submit" class="btn btn-info" data-dismiss="modal">Close</button>
                </form>
                
            </div>
        </div>
     </div>
</div>
    <script>$( document ).ready(function() {
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 
});</script>  
{% endfor %}
{% endif %}
{% endblock %}
