{% extends 'generic/main/model_base.html' %}
{% block model_data %}
<div class="container-fluid target">
    <div class="row">
        <div class="col-sm-10">
			<h1>{{ model.name }}</h1>

            {% if user %}
			    {% if model.id == user.id%}
			        <a href="/manage/model-edit/Profile/{{model.id}}" class="btn btn-link">Edit</a><br>
			    {% else %}
                    {% if 'Admin' in user.roles %}
                        <a href="/manage/model-edit/Profile/{{model.id}}" class="btn btn-link">Edit</a>
                    {% endif %}
                    {% if 'Enthusiast' in model.facets %}
                        {% if model not in user.following %}
                            <form action="/profile/follow?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> Follow</button>
                            </form>
                        {% else %}
                            <form action="/profile/unfollow?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> Unfollow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if 'Organizer' in model.facets or 'Gear Dealer' in model.facets %}
                        {% if model not in user.favorites %}
                            <form action="/profile/add-favorites?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-star"></span> Add to Favourite</button>
                            </form>
                        {% else %}
                            <form action="/profile/remove-favorites?profile={{model.id}}" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-star"></span> Unfavourite</button>
                            </form>
                        {% endif %}
                    {% endif %}
			    {% endif %}
            {% endif %}
			<br/>
        </div>
      	<div class="col-sm-2">
            <!--a id="" data-toggle="modal" data-target="#largeModal10" class="pull-right" href="">
				<img title="profile image" class="img-circle img-responsive" src="{% if model.has_no_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}"/-->
                <div class="thumbnail">
                    {% if user.id == model.id %}
                    <div class="caption">
                        <a href="" class="label label-danger"  data-toggle="modal" data-target="#largeModal10">Upload Photo</a>
                    </div>
                    {% endif %}
                    <img class="img-circle img-responsive" src="{{model.visuals(url_only=True)|safe}}" class="avatar" alt="avatar"/>
                </div>
			</div>
        </div>
    
  	<br/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
				<li class="list-group-item text-muted" contenteditable="false">
                
                <div class="">
                <h4>Profile</h4>
                </div>
                   
                
                </li>
				{% if model.website %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>Website</strong></span>{% if model.website and model.website|length > 0 %}{{ model.website|escape }}{% endif %}</li>
				{% endif %}
				<li class="list-group-item text-right"><span class="pull-left"><strong>On fitrangi since</strong></span> {{ model.created_timestamp.strftime('%d-%m-%Y') }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last updated</strong></span> {{ model.modified_timestamp.strftime('%d-%m-%Y') }}</li>
				{% if 'Organizer' in model.facets or 'Dealer' in model.facets %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> {% if model.phone %}{{ model.phone }} {% else %} Not provided {% endif %} </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span>  {% if model.email %}{{ model.email }} {% else %} Not provided {% endif %}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Website</strong></span>{% if model.website %}{{ model.website }} {% else %} Not provided {% endif %} </li>
				{% endif %}
				{% if 'Professional' in model.roles %}
              	<li class="list-group-item text-right"><span class="pull-left"><strong>Specialty: </strong></span> Pet Sitter</li>
				{% endif %}
            </ul>
        	
            <ul class="list-group">
				<li class="list-group-item text-muted"><strong>Site Activity</strong> <i class="fa fa-dashboard fa-1x"></i></li>
				{% if 'Gear Dealer' in  model.facets %}
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Products</strong></span> {{model.products | length}}</li>
				{% endif %}
                {% if 'Organizer' in  model.facets %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Events</strong></span> {{ model.events|length}}</li>
                {% endif %}

                {% if model.following|length > 0 %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="show_profile_list" data-show="following" data-title="Following">Following</a></strong></span> {{ model.following|length }}</li>
                {% else %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="">Following</a></strong></span> no one</li>
                {% endif %}
                {% if model.follower|length > 0 %}
				<li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="show_profile_list" data-show="follower" data-title="Followers">Followers</a></strong></span> {{ model.follower|length }}</li>
                {% else %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="">Followers</a></strong></span> no one </li>
                {% endif %}

                {% if model.favorites|length > 0 %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="show_profile_list" data-show="favorites" data-title="Favorites">Favourite Organisers</a></strong></span> {{ model.favorites|length }}</li>
                {% else %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="">Favorites Organizers</a></strong></span>None Yet</li>
                {% endif %}
                {% if model.favorited_by|length > 0 %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="show_profile_list" data-show="favorited_by" data-title="Favorite By">Favorite By</a></strong></span> {{ model.favorited_by|length }}</li>
                {% else %}
                <li class="list-group-item text-right"><span class="pull-left"><strong><a href="#" class="">Favourite By</a></strong></span> No One</li>
                {% endif %}

				<li class="list-group-item text-right"><span class="pull-left"><strong>Blogs</strong></span> {{ model.blogs|length }}</li>
				<li class="list-group-item text-right">
				<span class="pull-left"><strong>Questions</strong></span> {{ model.questions|length }}<br/>
					<span class="pull-left"><strong>Answers</strong></span> {{ model.answers|length }}
				</li>
				
                <!--li class="list-group-item text-right"><span class="pull-left"><strong>Social Media</strong></span>
				<a href="{% if model.facebook %}{{model.facebook}}{% else %}#{% endif %}">Facebook,</a>
				<a href="{% if model.linkedin%}{{model.linkedin}}{% else %}#{% endif %}">LinkedIn</a>
				</li-->
            </ul>
        </div>
        
		<div class="col-sm-9" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Summary / Bio</div>
				<div class="panel-body"> {% if model.text %}{{ model.data }}{% else %}A long description about me.{% endif %}</div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">
					Posts&nbsp;	 
					{% if 'Retailer' in model.roles %}
						/&nbsp;Latest Product 
					{% endif %}
					{% if 'EventOrganiser' in model.roles %}
						/&nbsp;Upcoming Events
					{% endif %}
					</div>
                <div class="panel-body">
					<div class="row-fluid">
                        {% for c in contents %}
						<div class="col-md-4">
							<div class="thumbnail">
                                {% if c.main_image and c.main_image.image %}
								<img alt="300x200" src="/img/{{ c.get_class_name()}}/{{c.id}}"/>
                                {% endif %}
								<div class="caption">
									<h3>{{ c.title }}</h3>
                                    {% if c.description and c.description|length > 0 %}
									<p>{{ c.description }}</p>
                                    {% else %}
                                    <p>{{ c.text[0:100] }}</p>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% else %}
                            <p><strong>No posts found.</strong></p>
                        {% endfor %}

                	</div>
            	</div>
            </div>
        </div>
    </div>

	<div id="push"></div>
</div>

<script language="JavaScript">
    $('.show_profile_list').click(function(e) {
        e.stopPropagation();
        var show = $(this).attr('data-show');
        var title = $(this).attr('data-title');
        console.log($('#show_' + show).html());
        BootstrapDialog.show({
            title: title,
            message: '<div class="container-fluid"><div class="row">' + $('#show_' + show).html() + '</div></div> ',
            buttons: [
                {
                    label: 'Close',
                    action: function (dialogItself) {
                            dialogItself.close();
                    }
                }
            ]
        });
    });
</script>

<div id="show_favorites" class="hide">
    {%- for m in model.favorites -%}
        <div class="col-sm-4">
            {{ m.visuals(small=True) | safe }}
            <a href="{{m.slug}}">{{ m.name }}</a>
        </div>
    {%- endfor -%}
</div>
<div id="show_favorited_by" class="hide">
    {%- for m in model.favorited_by -%}
    <div class="col-sm-4">
        {{ m.visuals(small=True) | safe }}
        <a href="{{m.slug}}">{{ m.name }}</a>
    </div>
    {%- endfor -%}
</div>
<div id="show_following" class="hide">
    {%- for m in model.following -%}
    <div class="col-sm-4">
        {{ m.visuals(small=True) | safe }}
        <a href="{{m.slug}}">{{ m.name }}</a>
    </div>
    {%- endfor -%}
</div>
<div id="show_follower" class="hide">
    {%- for m in model.follower -%}
    <div class="col-sm-4">
        {{ m.visuals(small=True) | safe }}
        <a href="{{m.slug}}">{{ m.name }}</a>
    </div>
    {%- endfor -%}
</div>

<div class="modal fade" id="largeModal10" tabindex="-1" role="dialog" aria-labelledby="largeModal10" aria-hidden="true">
    <form action="/model/{{ channel }}/{{model.id}}/edit" enctype="multipart/form-data" method="post">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel3">Profile Picture</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <img src="{% if model.has_no_image %}http://placehold.it/250x250{% else %}/img/{{ model.get_class_name()}}/{{model.id}}{% endif %}" class="avatar" alt="avatar"/>
                    </div>
                    <div class="col-sm-5">
                        <h4 class="">Upload a different photo...</h4>
                	    <input class="form-control" name="action" type="hidden" value="image_upload"/>
                	    <input class="form-control" name="image" type="file"/>
        		    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Upload</button>
                <button type="submit" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </form>
</div>
    <script>$( document ).ready(function() {
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 
});</script>  
{% endblock %}
