{% extends '/model/content/editor.html' %}
{% block title_edit %}
<h3> {{ content.name }} <small><a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="name" data-value="{{content.name}}">Edit</a></small></h3>
{% endblock %}
{% block show_publish %}{% endblock %}
{% block extra_fields %}
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Email <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="email" data-value="{{content.email}}" data-type="email">Edit</a></small></h4>
            <hr/>
            </div>
            <span>{{content.email}}</span>
        </div>
        <br/>
        <br/>
        <!--div class="row">
            <div class="heading">
                <h4 class="form-heading">Username <small>&nbsp; <a href="#" class="edit-form-tags" data-key="{{content.id}}" data-field="contentname" data-value="{{content.contentname}}" data-type="contentname">Edit</a></small></h4>
            <hr/>
            </div>
        </div-->
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Phone <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="phone" data-value="{{content.phone}}" data-type="phone">Edit</a></small></h4>
                <hr/>
            </div>
            <span>{{content.phone}}</span>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Address <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="address" data-value="{{content.address}}" data-type="email">Edit</a></small></h4>
                <hr/>
            </div>
            <span>{{content.address}}</span>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Facebook link <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="facebook" data-value="{{content.facebook}}" data-type="facebook">Edit</a></small></h4>
                <hr/>
            </div>
            <span>{{content.facebook}}</span>
        </div>
        <br/>
        <br/>
         <div class="row">
            <div class="heading">
                <h4 class="form-heading">LinkedIN <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="linkedin" data-value="{{content.linkedin}}" data-type="linkedin">Edit</a></small></h4>
                <hr/>
            </div>
            <span>{{content.linkedin}}</span>
        </div>

        <br/>
        <br/>
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Website <small>&nbsp; <a href="#" class="edit-form-text" data-key="{{content.id}}" data-field="website" data-value="{{content.website}}" data-type="website">Edit</a></small></h4>
                <hr/>
            </div>
            <span>{{content.website}}</span>
        </div>

        <br/>
        <br/>
        {% if 'Admin' in user.roles %}
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Roles</h4>
                <hr/>
            </div>
            {% for f in content.roles%}
                <span>{{f}}{% if not loop.last %}, {% endif %}</span>
            {% endfor %}
        </div>
        <br/>
        <br/>
        {% endif %}
        <div class="row">
            <div class="heading">
                <h4 class="form-heading">Following</h4>
                <hr/>
            </div>
            <table class="col-sm-12">
                {% for f in content.following %}
                    <tr>
                        <td><img src="{% if not f.main_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ f.get_class_name()}}/{{f.id}}{% endif %}" class="avatar" alt="avatar" height="50px;"/></td>
                        <td>{{f.name}}</td>
                        <td><a href="#" data-key="{{f.id}}" data-remove-following>Remove</a></td>
                    </tr>
                {% else %}
                    <p>You are currently following no one.</p>
                {% endfor %}
            </table>
        </div>
        <br/>
        <br/>
        <div class="row">
                <div class="heading">
                    <h4 class="form-heading">Favorites</h4>
                    <hr/>
                </div>
                <table class="col-sm-12">
                    {% for f in content.favorites %}
                        <tr>
                            <td><img src="{% if not f.main_image %}http://placehold.it/300x300&text=Fitrangi!{% else %}/img/{{ f.get_class_name()}}/{{f.id}}{% endif %}" class="avatar" alt="avatar" height="50px;"/></td>
                            <td>{{f.name}}</td>
                            <td><a href="#" data-key="{{f.id}}" data-remove-favorite>Remove</a></td>
                        </tr>
                    {% else %}
                    <p>You currently have no favorites.</p>
                    {% endfor %}
                </table>
        </div>
        <br/>
        <br/>
{% endblock %}
