<div class="panel panel-default">
	<div class="panel-heading">
        <a href="{%if model.slug %}{{model.slug}}{% else %}/model/{{model.channel_factory(model)}}/{{model.id}}{% endif %}" class="pull-right">
            View
        </a>
		<div class="panel-title">{{model.name}}</div>
	</div>
	<div class="panel-body">
   		<img src="{% if model.main_image and model.main_image.image %}/img/{{model.get_class_name()}}/{{model.id}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}" class="responsive">
		<hr/>
		<p>
            {% if model.description and model.description|length > 0 %}
                {{ model.description }}
            {% elif model.text and model.text |length > 0 %}
                {{ model.data|safe }}
            {% else %}
                User has not added any description.
            {%endif%}
        </p>
   </div>
</div>
<hr>

