{% extends 'model/content/row.html' %}
{% block title %} {{model.name}} {% endblock %}
{% block visuals %}{{model.visuals() | safe}}{% endblock %}
{% block description %}
        {% if model.description and model.description|length > 0 %}
            {{ model.description }}
        {% elif model.text and model.text |length > 0 %}
            {{ model.data|safe }}
        {% else %}
            User has not added any description.
        {%endif%}
{% endblock %}
<!--center><img src="{% if model.visuals(url_only=True)|length > 0 %}{{model.visuals(url_only=True)}}{% else %}/assets/img/Profile-Picture.jpg{% endif %}" class="responsive"/></center-->

