<section class="container-fluid p-0">
    <div class="userprofile-banner" style="{{background_cover}}">

        <div class="container">

            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs pull-right user-fav-acti">
                {% if model.favorite_ativities|length > 0 %}<h3>Favourites Activities&nbsp;: </h3>{% elif model.id == user.id %}<h3>Find your favorite activities </h3>{% endif %}
                <div class="row-fluid">
                    {% for acti in model.favorite_activities[0:10] %}
                    {% if acti.icon_image_path %} <a href=""><img src="{{acti.icon_image_path}}" class="thumbnail"></a>{% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user-pro">
                    {% if user and model.id == user.id %}
                    <a href="#" role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Click to change" class="hoverable" data-action="edit-cover-image" data-model-id="{{model.id}}" data-model="profile" data-trigger="hover"><img src="{% if not model.cover_image_path or model.cover_image_path|length == 0%}/img/Profile-Picture.jpg{% else %}{{model.cover_image_path}}{% endif %}" alt="" class="center-block text-center img-thumbnail img-responsive"></a>
                    {% else %}
                    <img src="{% if not model.cover_image_path or model.cover_image_path|length == 0%}/img/Profile-Picture.jpg{% else %}{{model.cover_image_path}}{% endif %}" alt="" class="center-block text-center img-thumbnail img-responsive">
                    {% endif %}
                </div>

                <div class="col-lg-9 col-md-4 col-sm-4 col-xs-12 name-location">
                    <h2>{{ model.name }}</h2>
                    <h4><i class="fa fa-map-marker"></i>&nbsp;{% if model.location %} {{model.location}} {% else %}{% if model.id == user.id %}<a href="#" data-action="edit-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" >Change location</a>{% else %}Location not known{% endif %}{% endif %}</h4>
                    <a href="" class="label p-10 transwhite-bg darkgrey fs-12 uppercase">{{ model.followers|length }} Followers</a>
                    <a href="" class="label p-10 transwhite-bg darkgrey fs-12 uppercase">{{ model.following|length }} Following</a>
                    {% if model.is_business_profile and not model.admin_approved %}<a href="" class="disabled label p-10 fs-12 uppercase" style="background: darkred;">Awaiting Approval</a>{% endif %}
                </div>

            </div>
            <br/>
            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user-button">
                    {% if user.id != model.id %}
                    {% if model.id != user.id and model in user.following %}
                    <a  data-action="unfollow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-user"></i> Unfollow</a>
                    {% else %}
                    <a  data-action="follow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-user"></i> Follow</a>
                    {% endif %}
                    <a href="/messaging?load-user={{model.id}}" class="btn btn-default col-lg-6 col-xs-12 text-center"><i class="fa fa-envelope-o"></i> Send Message</a>
                    {% else %}
                    <a data-action="edit-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-users"></i> Edit</a>
                    <div class="btn-group block">
                        <a  href="#" class="btn btn-default col-lg-6 col-xs-12 text-center dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i> Settings</a>
                         <ul class="dropdown-menu setting-drop" role="menu">
                            <li><a style="width: 90%" data-action="edit-profile-password" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#">Change password</a></li>
                            <li><a style="width: 90%" data-action="edit-profile-preferences" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#">Preferences</a></li>
                        </ul>
                    </div>

                    {% endif %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-desc">
                {% if model.description and model.description|length > 0 %}
                    <p>{{user.description}}</p>
                {% else %}
                    <p>On fitrangi since {{user.since}}</p>
                {% endif %}
                </div>

            </div>


        </div>

    </div>
</section>
{% if model.is_business_profile %}
<section class="container business-details">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about">
        <div class="heading"><h3>About</h3></div>
        {{model.about|safe}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact">
        <div class="heading"><h3>Contact</h3></div>
        <div class="row">
            {% if model.phone %}<h4><i class="fa fa-phone">:</i>&nbsp;{{model.phone}}</h4> {% endif %}
            {% if model.email %}<h4><i class="fa fa-at">:</i>&nbsp;<a href="">{{model.email}}</a></h4> {% endif %}
            {% if model.website %}<h4><i class="fa fa-globe">:</i>&nbsp;<a href="">{{model.website}}</a></h4> {% endif %}
            {% if model.location %}<h4><i class="fa fa-map-marker">:</i>&nbsp;{{model.location}}</a></h4> {% endif %}
            {% if model.facebook %}<h4><i class="fa fa-facebook">:</i>&nbsp;{{model.facebook}}</a></h4> {% endif %}
            {% if model.google_plus %} <h4><i class="fa fa-google-plus">:</i>&nbsp;{{model.google_plus}}</a></h4> {% endif %}
            {% if model.linked_in %} <h4><i class="fa fa-linkedin">:</i>&nbsp;{{model.linked_in}}</a></h4> {% endif %}
            {% if model.blog_channel %}<h4><i class="fa fa-rss">:</i>&nbsp;{{model.blog_channel}}</a></h4> {% endif %}
            {% if model.youtube_channel %}<h4><i class="fa fa-youtube">:</i>&nbsp;{{model.youtube_channel}}</a></h4> {% endif %}
        </div>
    </div>
</section>
{% endif %}
<section class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">

                    <li class="active"><a href="#my-stream"  role="tab" data-toggle="tab" aria-controls="my-stream" aria-expanded="false">
                        <span class="fa fa-spinner"></span> <strong>My Stream</strong></a></li>

                    <li class=""><a href="#adventure-done"  role="tab" data-toggle="tab" aria-controls="adventure-done" aria-expanded="false">
                        <span class="fa fa-flag"></span> <strong>Adventure Done</strong> </a></li>

                    <li class=""><a href="#my-wishlist" role="tab" data-toggle="tab" aria-controls="my-wishlist" aria-expanded="false">
                        <span class="fa fa-list"></span> <strong>My Wishlist</strong> </a></li>

                    <!--li class=""><a href="#photos-videos" role="tab" data-toggle="tab" aria-controls="photos-videos" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Photos/Videos</strong> </a></li-->
                    <li class=""><a href="#following" role="tab" data-toggle="tab" aria-controls="following" aria-expanded="false">
                        <span class="fa fa-group"></span> <strong>Following</strong> </a></li>
                    <li class=""><a href="#follower" role="tab" data-toggle="tab" aria-controls="follower" aria-expanded="false">
                        <span class="fa fa-group"></span> <strong>Followers</strong> </a></li>

                    <!--li class=""><a href="#journals" role="tab" data-toggle="tab" aria-controls="journals" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Journals</strong> </a></li-->

                    <li class=""><a href="#discussions" role="tab" data-toggle="tab" aria-controls="discussions" aria-expanded="false">
                        <span class="fa fa-file-text"></span> <strong>Discussions</strong> </a></li>

                    <!--li class=""><a href="#bookmarks" role="tab" data-toggle="tab" aria-controls="bookmarks" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Bookmarks</strong> </a></li-->


                </ul>
            </div>
        </div>

        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="my-stream" aria-labelledby="my-stream">
                    <section class="container-fluid">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <input type="hidden" id="my-stream-filter" data-model="stream" data-filter="profile" data-category="my" value="{{model.id}}" data-filter-status="fixed"/>
                            {% if model.id == user.id %}
                            <input type="hidden" id="following-stream-filter" data-model="stream" data-filter="profile__in" data-category="my" value="{% for f in model.following %}{{f.id}}{% if not loop.last%},{% endif %}{% endfor %}" data-filter-status="fixed"/>
                            {% else %}
                            <input type="hidden" id="following-stream-filter" data-model="stream" data-filter="profile__in" data-category="my" value="" data-filter-status="fixed"/>
                            {% endif %}
                            <input id="stream-message-filter" type="hidden" data-model="stream" data-filter="is_private" value="bool|False" data-category="my" data-filter-status="fixed">
                            {% if user and user.id == model.id %}
                            {% import 'site/includes/post_box.html' as post %}
                            {{ post.show_post_form(model, 'stream') }}
                            {% endif %}
                            {{ my_stream_list|safe }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="blue pb-5 border-grey-b">Fitrangi.com Popular Stream Feeds</h4>
                            <input type="hidden" id="fitrangi-stream-type-filter" data-model="post" data-filter="type" data-category="fitrangi" value="stream" data-filter-status="fixed"/>
                            <input type="hidden" id="fitrangi-stream-profile-filter" data-model="post" data-filter="author__in" data-category="fitrangi" value="{{featured_profiles}}" data-filter-status="fixed"/>
                            {{ fitrangi_posts|safe}}
                        </div>
                    </section>


                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="adventure-done" aria-labelledby="adventure-done">
                    <input id="accomplished-adventure-filter" data-category="accomplished" data-model="adventure" data-filter="relationship__accomplished__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">

                    {{accomplished_adventure_list|safe}}

                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="my-wishlist" aria-labelledby="my-wishlist">
                    <input id="wish-list-adventure-filter" data-category="wishlisted" data-model="adventure" data-filter="relationship__wishlisted__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {{wish_listed_adventure_list|safe}}

                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="following" aria-labelledby="following">
                    <input id="profile-following-filter" data-category="following" data-model="profile" data-filter="relationship__follows__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {{following_list|safe}}
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="follower" aria-labelledby="follower">
                    <input id="profile-follower-filter" data-category="follower" data-model="profile" data-filter="relationship__followed_by__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {{follower_list|safe}}
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="photos-videos" aria-labelledby="photos-videos">
                    <h2>Photos / Videos</h2>
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="journals" aria-labelledby="journals">
                    <input id="article-filter" data-category="all" data-model="article" data-filter="author" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {{article_list|safe}}
                </div><!--Tab Pane End-->


                <div role="tabpanel" class="tab-pane fade discussion" id="discussions" aria-labelledby="discussions">
                    <input id="discussion-filter" data-category="all" data-model="discussion" data-filter="author" type="hidden" value="{{model.id}}" data-filter-status="fixed">

                    {{discussion_list|safe}}

                </div><!--Tab Pane End-->

                <!--div role="tabpanel" class="tab-pane fade" id="bookmarks" aria-labelledby="bookmarks">

                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="oswald pl-10 pt-15">Bookmarks - Journals <span class="badge blue-bg">10</span></h4>
                        </div>
                    </section>


                    <hr class="clearfix">


                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="oswald pl-10 pt-15">Bookmarks - Adventure Trips <span class="badge blue-bg">10</span></h4>
                        </div>
                    </section>

                </div--><!--Tab Pane End-->

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('article-filter');
        App.filter('discussion-filter');
        App.filter('wish-list-adventure-filter');
        App.filter('accomplished-adventure-filter');
        App.filter('profile-follower-filter');
        App.filter('profile-following-filter');
        App.filter('fitrangi-stream-type-filter');
        App.filter('fitrangi-stream-profile-filter');
        App.filter('stream-message-filter');
        App.filter('my-stream-filter');
        App.filter('following-stream-filter');
        App.filter('related-stream-filter');
    });
</script>
