{% macro list_page(model_name, card_type, last_page, current_page) %}
{% if card_type == 'grid' %}
<div  data-model="{{model_name}}" data-card-type="{{card_type}}" data-type="model-container" class="row-fluid">
</div>
{% else %}
<ul data-model="{{model_name}}" data-card-type="{{card_type}}" data-type="model-container" class="row-fluid">
</ul>
{% endif %}
<br/>
<script>console.log("{{last_page}}, {{current_page}}");</script>
{% if last_page >= current_page %}
<div class="col-sm-offset-2 col-sm-8">
    <button data-model="{{model_name}}" data-card-type="{{card_type}}" data-action="load-more" class="col-sm-12 btn-primary">Load more</button>
</div>
{% endif %}
<br/>
<br/>
<script language="JavaScript">

    $(document).ready(function(){

        var model_name = '{{model_name}}';
        var card_type = '{{card_type}}';
        var key = model_name + '-' + card_type;
        var loadMoreSelector = '[data-model=' + model_name + '][data-card-type=' + card_type + '][data-action=load-more]';
        var container = $('[data-model="' + model_name + '"][data-card-type="' + card_type + '"][data-type="model-container"]');
        var last_page = 1;
        var load_models = function() {
            window.current_page = window.current_page || {};
            window.current_page[key] = window.current_page[key] || 1;
            window.filters = window.filters || {};
            window.filters[model_name] = window.filters[model_name] || [];
            var filters_list = window.filters[model_name];

            var query = "";
            for(var u = 0; u < filters_list.length; u++) {
                console.log('Filter by: ' + filters_list[u]);
                var $input = $('[data-model="'+model_name+'"][data-filter="' + filters_list[u] +'"]');
                var name = filters_list[u];
                var value = $input.val();

                if (value == undefined ||value == null || value.length == 0 || value == '--') {
                    continue;
                }

                query += name + ":"  + value;
                if (u < filters_list.length - 1) {
                    query += ';'
                }
            }


            var url = '/listings?model_view=' + model_name + '&card_type=' + card_type + '&page=' + (window.current_page[key]) + '&query=' + query;
            console.log(url);

            var filters_list = window.filters[model_name];
            console.log('[*] ' + window.current_page[key] + ' -> ' + window.filters[model_name]);
            $.ajax({
                url: url
            }).done(function (data) {
                if (data.status == 'success') {
                    container.append(data.html);
                    last_page = data.last_page;
                    if (last_page <= window.current_page[key]) {
                       $(loadMoreSelector).hide();
                    }
                } else {
                    container.append('Nothing to load...');
                }
            });
            window.current_page[key] = parseInt(window.current_page[key]) + 1;

        };

        load_models();


        $(loadMoreSelector).on('click', function(e){
            e.stopPropagation();
            load_models();
        });

        var filterSearch = '[data-filter-submit="search"]';
        $(filterSearch).on('click', function(e){
            e.stopPropagation();
            window.current_page[key] = 1;
            container.html('');
            load_models();
        });

        var resetSearch = '[data-filter-submit="reset"]';
        $(resetSearch).on('click', function(e){
            e.stopPropagation();
            window.filters = window.filters || {};
            window.filters[model_name] = window.filters[model_name] || [];
            var filters_list = window.filters[model_name];
            window.current_page[key] = 1;
            for(var u = 0; u < filters_list.length; u++) {
                var $input = $('[data-filter="' + filters_list[u] +'"]');
                $input.val('');
            }
            container.html('');
            load_models();
        });

    });
</script>
{% endmacro %}
