{% macro list_page(model_name, card_type, last_page, current_page, category='all', query='') %}
{% if card_type == 'grid' or card_type == 'row' %}
<div  data-model="{{model_name}}" data-card-type="{{card_type}}" data-category="{{category}}" data-type="model-container" class="row-fluid">
</div>
{% else %}
<ul data-model="{{model_name}}" data-card-type="{{card_type}}" data-category="{{category}}" data-type="model-container" class="row-fluid media-list">
</ul>
{% endif %}
<br/>
{% if last_page > current_page %}
<div class="col-sm-offset-2 col-sm-8">
    <button data-model="{{model_name}}" data-card-type="{{card_type}}" data-category="{{category}}" data-action="load-more" class="col-sm-12 btn-primary">Load more</button>
</div>
{% endif %}
<script language="JavaScript">

    $(document).ready(function(){
        var basic_query = '{{query}}';
        var _load_more = '{% if last_page > current_page %}1{% else %}0{% endif %}';
        var show_load_more = (parseInt(_load_more)>0)?true: false;
        var model_name = '{{model_name}}';
        var card_type = '{{card_type}}';
        var category = '{{category}}';
        var last_page = 1;

        var page_key = model_name + '-' + card_type + '-' + category;
        var filter_key = model_name+"-"+category;

        var loadMoreSelector = '[data-model=' + model_name + '][data-card-type=' + card_type + '][data-action=load-more][data-category=' + category + ']';
        var container = $('[data-model="' + model_name + '"][data-card-type="' + card_type + '"][data-type="model-container"][data-category=' + category + ']');


        var load_models = function() {
            window.current_page = window.current_page || {};
            window.current_page[page_key] = window.current_page[page_key] || 1;
            window.filters = window.filters || {};
            window.filters[filter_key] = window.filters[filter_key] || [];
            var filters_list = window.filters[filter_key];

            var query = basic_query;
            for(var u = 0; u < filters_list.length; u++) {
                var $input = $('#' + filters_list[u]);
                var name = $input.attr('data-filter');
                var value = $input.val();
                console.log('Filter by: ' + filters_list[u] + " -> " + name + ": " + value);

                if (value == undefined ||value == null || value.length == 0 || value == '--') {
                    continue;
                }

                query += name + ":"  + value;
                if (u < filters_list.length - 1) {
                    query += ';'
                }
            }


            var url = '/listings?model_view=' + model_name + '&card_type=' + card_type + '&page=' + (window.current_page[page_key]) + '&query=' + query;
            console.log(url);

            var filters_list = window.filters[filter_key];
            console.log('[*] ' + window.current_page[page_key] + ' -> ' + window.filters[filter_key]);
            $.ajax({
                url: url
            }).done(function (data) {
                if (data.status == 'success') {
                    container.append(data.html);

                    last_page = data.last_page;
                    if (!show_load_more || last_page <= window.current_page[page_key]) {
                       $(loadMoreSelector).hide();
                    }
                } else {
                    container.append('Nothing to load...');
                }
            });
            window.current_page[page_key] = parseInt(window.current_page[page_key]) + 1;

        };



        $(loadMoreSelector).on('click', function(e){
            e.stopPropagation();
            load_models();
        });

        var filterSearch = '[data-model="'+model_name+ '"][data-filter-submit="search"]';
        $(filterSearch).on('click', function(e){
            e.stopPropagation();
            window.current_page[page_key] = 1;
            container.html('');
            load_models();
        });

        var resetSearch = '[data-model="'+model_name+ '"][data-filter-submit="reset"]';
        $(resetSearch).on('click', function(e){
            e.stopPropagation();
            window.filters = window.filters || {};
            window.filters[filter_key] = window.filters[filter_key] || [];
            var filters_list = window.filters[filter_key];
            window.current_page[page_key] = 1;
            for(var u = 0; u < filters_list.length; u++) {
                var $input = $('[data-filter="' + filters_list[u] +'"]');
                $input.val('');
            }
            container.html('');
            load_models();
        });

        window.App.doFilter = window.App.doFilter || [];
        window.App.doFilter.push(load_models);

    });
</script>
{% endmacro %}
