<div>
    {% if model.external_link and model.external_link|length > 0 %}
        {% if model.external_link.startswith('http://') or model.external_link.startswith('https://') %}
            {% set link = model.external_link %}
        {% else %}
            {% set link = "http://" + model.external_link %}
        {% endif %}

        {% set link_attr =  link  %}
        {% set target_attr = "_blank" %}
    {% else %}
        {% set target_attr = "_self" %}
        {% set link_attr = "/community/event" %}
    {% endif %}
    <a href="{{link_attr}}" target="{{target_attr}}" class="{% block grid_size %}col-lg-4 col-md-4 col-sm-6 col-xs-12{% endblock %}">
        <img src="{{model.cover_image_path}}" class="img-responsive">
    </a>
</div>