{% extends 'admin/model/create.html' %}
{% block head_css %}
	{{ super() }}
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/summernote.css" rel="stylesheet">
		
{% endblock %}

{% block tail %}
    {{ super() }}
	<script src="/js/summernote.min.js" type="text/javascript"></script>

    <script language="javascript">
		$(document).ready(function() {
			$('.summernote').summernote({
  				height: 240,                 // set editor height
  				minHeight: null,             // set minimum height of editor
  				maxHeight: null,             // set maximum height of editor
  				focus: true,                 // set focus to editable area after initializing summernote
			});
            $('textarea').addClass("span8");
            {% if not is_admin %}
            $("#author").addClass('hide');
            $('#author').parent().append('<span class="clearfix">{{user.name}}</span>');
            {% endif %}
		});
	</script>
{% endblock %}
