{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    Name: {{model.name}} &nbsp;&nbsp;<a class="btn btn-link" href="{{back_to_url}}">Go Back</a>
    <hr/>
    <img src="{{model.cover_image_path_small}}"/>
    <hr/>
    {% call lib.form_tag(form) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ lib.render_form_buttons(return_url, extra()) }}
    {% endcall %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
  <script language="javascript">
      $(document).ready(function(){
          $('input[type="text"]').addClass('geo-complete');
          $(".geo-complete").geocomplete({details: "form"});
      });
  </script>
{% endblock %}
