{% extends '/admin/base_admin.html' %}
{% import "/admin/_forms.html" as forms %}
{% block page_header %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ content_type | upper}} -
                {% if model.name %} {{ model.name }} {% else %} {{ model.title }} {% endif %}
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-user"></i>&nbsp; Dashboard / {{ content_type }} /{% if model.name %} {{ model.name | capitalize}} {% else %} {{ model.title | capitalize}} {% endif %} </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="" style="background-color: rgb(255,255,255);">
        <div class="container">
            <h2>
                {% if create %}
                    Add new {{content_type}}
                {% else %}
                    Edit {{content_type}}
                {% endif %}
            </h2>

             <form action="?{{ request.query_string }}" method="post">
                {{ forms.render_form(form, action_url='/', action_text='Save') }}
                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="save">
                    <a href="{{ back }}" class="btn btn-default">Cancel</a>
                </div>
            </form>

        </div><!--/container-->
    </div>
</div>

{% endblock %}
{% block scripts  %}
<script language="JavaScript">
</script>
{% endblock %}
