/* Drupe Product Page Start */

a{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body {
    background-color: #FFF;
    background-repeat: repeat;
    color: #898989;
    font-family: 'Open Sans', 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    overflow-x: hidden;
    line-height: 20px;
    font-size: 12px;
}
ol, ul {
    list-style: none outside none;
}

#container {
    position: relative;
    width: 100%;
}
.container {
	  width: auto;
    margin-left: auto;
    margin-right: auto;
}
.one,.one-half,.two-third,.one-third,.one-fourth ,.one-fifth,.one-sixth,.three-fourth{ float:left;position:relative;margin-right:3%; }
.one-fourth { width: 22.75%; }
.three-fourth { width: 74.25%; }
.one-fifth { width: 17.6%; }
.one-half.last, .one-third.last, .two-third.last, .one-fourth.last, .three-fourth.last,.one-fifth.last,.one-sixth.last{margin-right: 0!important;}

.portfolio-grid {
    width: 800px !important;
}
.filter-portfolio {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

#filterable li a {
    background: none repeat scroll 0 0 #000;
    text-align: left !important;
}
/*--------------------------------------------------------------------------*/
/*						PORTFOLIO FILTER				 					*/
/*--------------------------------------------------------------------------*/
#filterable {
    display: inline;
    float: right;
    margin-bottom: 10px;
    margin-right: 0px;
}
#filterable li {
    float: left;
    list-style: none;
    margin-left: 3px;
}
#filterable li a {
    cursor: pointer;
    display: block;
    color: #898989;
    text-decoration: none;
    text-align: center;
    height: auto;
    padding: 3px 10px;
    background: #f9f9f9;
    float: left;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
#filterable li a:hover {
    background: #6495ED;
    color: #FFF;
}

#filterable li a.active {
    background: none repeat scroll 0 0 #6495ed;
    color: #fff;
}
::-moz-selection {
    color: #fff;
    background: #3254aa;
}
::selection {
    color: #fff;
    background: #3254aa;
}
ul.dotted-list li { padding: 5px 0 5px 20px;border-bottom: 1px solid #ececec;}
ul.dotted-list li a:hover { color:#6495ED;text-decoration:none; }
/*--------------------------------------------------------------------------*/
/*						PORTFOLIO GRID				 					*/
/*--------------------------------------------------------------------------*/
.portfolio-grid {
    width: 990px;
    float: left;
    margin-right: -30px;
}
.portfolio-grid ul.portfolio-items li.one-fourth {
    width: 217px;
    float: left;
    margin: 0 30px 30px 0px;
}
.portfolio-grid ul.portfolio-items li.one-half {
    width: 465px;
    float: left;
    margin: 0 30px 30px 0px;
}
.portfolio-grid ul.portfolio-items li.one-third {
    width: 300px;
    float: left;
    margin: 0 30px 30px 0px;
}
.portfolio-grid ul.portfolio-items li.one-fifth {
    width: 168px;
    float: left;
    margin: 0 30px 30px 0px;
}

/*************************IFRAME*****************/
iframe {
                max-width: 100% !important;
            }
            #preview-frame {width: 100%;background-color: #fff;}
      
header {
  padding: 2px 0 29px;
    height: 40px;
  z-index: 50;
  background: #007bb6 ;
}

/*-----------------------------------------------------SHARE ICONS----------*/
/*--------------------------------------------------------------------------*/



.container{ text-align: center; }

/* Button styles: */
i.fb,       span.fb{     	color: #3b5998; }
i.tw,       span.tw{     	color: #00aced; }
i.google,   span.google{ 	color: #dd4b39; }
i.youtube,       span.youtube{ 	color: #dd4b39; }

i.linkin,   span.linkin{ 	color: #007bb6; }
i.vk,       span.vk{     	color: #45668e; }
i.pinterest,span.pinterest{ color: #cb2027; }
i.surfingbird{ max-height: 12px; min-width: 25%; }
i.surfingbird::before{ 
    content: url(http://bootstrap-ru.com/cdn/i/surf.png); 
    position: relative;
    left:0px;
    top: -7px;
    float: left;
}

.google-plus-one{
   overflow: hidden;
   position: relative;
}

.google-plus-one i{
   position: absolute;
   left: -4px;
   bottom: -5px;
}

.google-plus-one span{
   font-size: 16px; 
   font-weight: 900; 
   line-height: 10px;
   margin-left: 15px;
}

.btn-sm.google-plus-one span{ font-size: 14px; }
.btn-sm.google-plus-one i{ bottom: -3px; }
.btn-lg.google-plus-one span{ font-size: 20px; margin-left: 18px; }
.btn-lg.google-plus-one i{ bottom: -5px; }
.btn-xs.google-plus-one span{ font-size: 12px;}
.btn-xs.google-plus-one i{ bottom: -7px; }




/*--------------------------------------------------------------------------*/
/*							ISOTOPE			 								*/
/*--------------------------------------------------------------------------*/
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    z-index: 2;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: top, left, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

.thumb-text {
    padding: 20px;
    margin: 0;
    float: left;
}

.thumb img {
    width: 100%
}
.thumb {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumb h3 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 0px;
}
.thumb {
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
}
.thumb:hover {
    border-bottom: 1px solid #6495ED
}
.thumb a h3:hover {
    text-decoration: underline;
    color: #556074;
}
.thumb a h3 {
    color: #707070
}

.screen-roll {
    display: block;
    position: relative;
}
a.screen-roll {
    line-height: 0;
    padding: 0;
    margin: 0;
}

/*noinspection ALL*/
.screen-roll span.hover_bg {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #6495ED  url(/assets/img/product-list-img/thumb-hover.png) no-repeat center center; /* IE8 */
    background: rgba(102,178,255,0.85) url(/assets/img/product-list-img/thumb-hover.png) no-repeat center center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);
    top: 0;
    left: 0;
}
/*noinspection ALL*/
.screen-roll span.hover_bg_video {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #6495ED url('/assets/img/thumb-hover-video.png') no-repeat center center; /* IE8 */
    background: rgba(252,175,23,0.85) url('/assets/img/thumb-hover-video.png') no-repeat center center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);
    top: 0;
    left: 0;
}

.pro-title{
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	padding:1%;
	color:#2D3032;
}

/* Drupe Product Page End */


/* Artical Page  Start */

.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.container {
    width: 1170px;
}
.header-title {
    border-bottom: 1px solid #E8E8E8;
	border-radius: 5px 5px 5px 5px;
	color: white;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	line-height: 33px;
    
	margin-top: 20px;
	padding-left: 10px;
    
    background-color: #007bb6;
	text-transform: uppercase;
}
.border-b {
    border-bottom: 1px solid #cfcfcf;
}

.p-5 {
    padding: 5px;
}

.well-large {
    border-radius: 6px;
    padding: 24px;
}

.row {
    margin-left: -30px;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}

.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}

.price {
    color: #333;
    font-size: 18px;
    font-style: normal;
    left: 0;
    padding: 0 15px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 100%;
}
.text-left {
    text-align: left !important;
}


.pull-right {
    float: right;
}
.mb-10 {
    margin-bottom: 20px;
}



img {
	 border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* CUSTOMIZE THE RCAROUSEL START
    -------------------------------------------------- */
						
			#carousel {
				margin: 0 auto;				
			}

			#carousel img {
				border: 0;
			}

            /*noinspection ALL*/
			#ui-carousel-next, #ui-carousel-prev {
				width: 60px;
				height: 200px;
				background: url(/assets/img/artical-img/arrow-left.png) transparent center center no-repeat;
				display: block;
				position: absolute;
				/*top:140px;*/
				top:-155px;
				z-index: 100;
			}

            /*noinspection ALL*/
			#ui-carousel-next {
				right: 0;
				background-image:url(/assets/img/artical-img/arrow-right.png);
			}

			#ui-carousel-prev {
				/*left: 0;*/
				right:75px;
			}
			
			#ui-carousel-next > span, #ui-carousel-prev > span {
				display: none;
			}
	


/*#carousel .wrapper img {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#carousel .wrapper img:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
  -ms-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}*/


#carousel .wrapper img{
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#carousel .wrapper img:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

#carousel .wrapper img:hover {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  /* move the element up by 5px */
}

#carousel .wrapper img:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

a {
    color: #0088cc;
    text-decoration: none;
}


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/*  Artical PAge End */


/*  Index Page Slider Start */

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}

.span3 {
    width: 270px;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}

.view1 {
    width: 300px;
    height: 230px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;

    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    color: #000;
    background: #fff no-repeat center center;
}

.view1 h3{
    color: #000;

}

/*noinspection ALL*/
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(/assets/img/bgimg.jpg) no-repeat center center;
}
.view .mask, .view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}

/*noinspection ALL*/
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-tenth h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*  Index Page Slider End */
