
body{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.w-100{width:100%}
.w-75{width:75%}
.w-50{width:50%}
.w-48{width:48%;}
.w-25{width:25%}

.h-100{height:100%}
.h-75{height:75%}
.h-50{height:50%}
.h-25{height:25%}
.h-56{height:56px !important;}
.oswald{
	font-family: 'Oswald', sans-serif;
}
.bangers{
	font-family: 'Bangers', cursive;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
/*---------------------------------- MARGIN & PADDING START --------------------------------------*/
.p-0 {	padding: 0px !important; text-align:justify;}
.m-0 {	margin: 0px !important;}

.p-5 {	padding: 5px !important;}
.p-10 {	padding: 10px !important;}
.p-15 {	padding: 15px !important;}
.p-20 {	padding: 20px !important;}
.p-25 {	padding: 25px !important;}
.p-30 {	padding: 30px !important;}
.p-35 {	padding: 35px !important;}
.p-40 {	padding: 40px !important;}
.p-45 {	padding: 45px !important;}
.p-50 {	padding: 50px !important;}
.p-55 {	padding: 55px !important;}
.p-60 {	padding: 60px !important;}
.p-65 {	padding: 65px !important;}
.p-70 {	padding: 70px !important;}
.p-75 {	padding: 75px !important;}
.p-80 {	padding: 80px !important;}
.p-85 {	padding: 85px !important;}
.p-90 {	padding: 90px !important;}
.p-95 {	padding: 95px !important;}
.p-100{ padding: 100px !important;}

.m-5 {	margin: 5px !important;}
.m-10 {	margin: 10px !important;}
.m-15 {	margin: 15px !important;}
.m-20 {	margin: 20px !important;}
.m-25 {	margin: 25px !important;}
.m-30 {	margin: 30px !important;}
.m-35 {	margin: 35px !important;}
.m-40 {	margin: 40px !important;}
.m-45 {	margin: 45px !important;}
.m-50 {	margin: 50px !important;}
.m-55 {	margin: 55px !important;}
.m-60 {	margin: 60px !important;}
.m-65 {	margin: 65px !important;}
.m-70 {	margin: 70px !important;}
.m-75 {	margin: 75px !important;}
.m-80 {	margin: 80px !important;}
.m-85 {	margin: 85px !important;}
.m-90 {	margin: 90px !important;}
.m-95 {	margin: 95px !important;}
.m-100{ margin: 100px !important;}

.mt-5 {	margin-top: 5px !important;}
.ml-5 {	margin-left: 5px !important;}
.mb-5 {	margin-bottom: 5px !important;}
.mr-5 {	margin-right: 5px !important;}

.mt-10 {margin-top: 10px !important;}
.ml-10 {margin-left: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mr-10 {margin-right: 10px !important;}

.mt-15 {margin-top: 15px !important;}
.ml-15 {margin-left: 15px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mr-15 {margin-right: 15px !important;}

.mt-20 {margin-top: 20px !important;}
.ml-20 {margin-left: 20px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mr-20 {margin-right: 20px !important;}

.mt-25 {margin-top: 25px !important;}
.ml-25 {margin-left: 25px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mr-25 {margin-right: 25px !important;}

.mt-30 {margin-top: 30px !important;}
.ml-30 {margin-left: 30px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mr-30 {margin-right: 30px !important;}

.mt-35 {margin-top: 35px !important;}
.ml-35 {margin-left: 35px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mr-35 {margin-right: 35px !important;}

.mt-40 {margin-top: 40px !important;}
.ml-40 {margin-left: 40px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mr-40 {margin-right: 40px !important;}

.mt-45 {margin-top: 45px !important;}
.ml-45 {margin-left: 45px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mr-45 {margin-right: 45px !important;}

.mt-50 {margin-top: 50px !important;}
.ml-50 {margin-left: 50px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mr-50 {margin-right: 50px !important;}

.mt-85 {margin-top: 85px !important;}
.ml-85 {margin-left: 85px !important;}
.mb-85 {margin-bottom: 85px !important;}
.mr-85 {margin-right: 85px !important;}

.mt-100 {margin-top: 100px !important;}
.ml-100 {margin-left: 100px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mr-100 {margin-right: 100px !important;}

.mt-120 {margin-top: 120px !important;}
.ml-120 {margin-left: 120px !important;}
.mb-120 {margin-bottom: 120px !important;}
.mr-120 {margin-right: 120px !important;}

.pt-5 {	padding-top: 5px !important;}
.pl-5 {	padding-left: 5px !important;}
.pb-5 {	padding-bottom: 5px !important;}
.pr-5 {	padding-right: 5px !important;}

.pt-10 {padding-top: 10px !important;}
.pl-10 {padding-left: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pr-10 {padding-right: 10px !important;}
.ptb-10{padding:10px 0 !important;}


.pt-15 {padding-top: 15px !important;}
.pl-15 {padding-left: 15px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pr-15 {padding-right: 15px !important;}

.pt-20 {padding-top: 20px !important;}
.pl-20 {padding-left: 20px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pr-20 {padding-right: 20px !important;}

.pt-25 {padding-top: 25px !important;}
.pl-25 {padding-left: 25px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pr-25 {padding-right: 25px !important;}

.pt-30 {padding-top: 30px !important;}
.pl-30 {padding-left: 30px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pr-30 {padding-right: 30px !important;}

.pt-35 {padding-top: 35px !important;}
.pl-35 {padding-left: 35px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pr-35 {padding-right: 35px !important;}

.pt-40 {padding-top: 40px !important;}
.pl-40 {padding-left: 40px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pr-40 {padding-right: 40px !important;}

.pt-45 {padding-top: 45px !important;}
.pl-45 {padding-left: 45px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pr-45 {padding-right: 45px !important;}

.pt-50 {padding-top: 50px !important;}
.pl-50 {padding-left: 50px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pr-50 {padding-right: 50px !important;}

/*---------------------------------- MARGIN & PADDING END --------------------------------------*/

/*---------------------------------- STYLE START --------------------------------------*/
.fs-10{font-size:10px;}
.fs-12{font-size:12px;}
.fs-14{font-size:14px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-20{font-size:20px;}
.fs-22{font-size:22px;}
.fs-24{font-size:24px;}
.fs-26{font-size:26px;}
.fs-28{font-size:28px;}
.fs-30{font-size:30px;}
.fs-35{font-size:35px;}
.fs-40{font-size:40px;}
.fs-45{font-size:45px;}
.fs-50{font-size:50px;}
.fs-55{font-size:55px;}
.fs-60{font-size:60px;}
.fs-65{font-size:65px;}
.fs-70{font-size:70px;}
.fs-75{font-size:75px;}
.fs-80{font-size:80px;}



.bold{font-weight:bold !important;}
.light{font-weight:lighter !important;}
.italic{font-style:italic !important;}

.uppercase{text-transform:uppercase !important;}
.lowercase{text-transform:lowercase !important;}
.sentencecase{text-transform:capitalize !important;}
.middle{vertical-align:middle !important;}

.underline{ text-decoration:underline !important;}
.no-underline{ text-decoration:none !important;}

.text-center{ text-align:center;}
.text-left{ text-align:left;}
.text-right{ text-align:right;}
.text-justify{ text-align:justify;}

.lh-normal{ line-height:normal;}
.lh-1{ line-height:1px;}
.lh-2{ line-height:2px;}
.lh-3{ line-height:3px;}
.lh-4{ line-height:4px;}
.lh-5{ line-height:5px;}
.lh-6{ line-height:6px;}
.lh-7{ line-height:7px;}
.lh-8{ line-height:8px;}
.lh-9{ line-height:9px;}
.lh-10{ line-height:10px;}

.block{ display:block;}
.inline{ display:inline;}

.overflow-scroll{overflow:scroll;}
.overflow-hidden{overflow:hidden;}
.overflow-scroll-x{overflow-x:scroll;}
.overflow-scroll-y{overflow-y:scroll;}
.overflow-hidden-x{overflow-x:hidden;}
.overflow-hidden-y{overflow-y:hidden;}

.no-box-resize{
resize: none;
overflow: auto;
min-width: 50px; /*suggest a min-width &amp; min-height*/
min-height: 50px;}

.box-sizing-border{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box-sizing-content{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}
.text-shadow-black{
	text-shadow:1px 0px 0px #000000;
	-webkit-text-shadow:1px 0px 0px #000000;
	-moz-text-shadow:1px 0px 0px #000000;
	-ms-text-shadow:1px 0px 0px #000000;
	-o-text-shadow:1px 0px 0px #000000;
}
.text-shadow-white{
	text-shadow:1px 1px 1px #FFFFFF;
	-webkit-text-shadow:1px 1px 1px #FFFFFF;
	-moz-text-shadow:1px 1px 1px #FFFFFF;
	-ms-text-shadow:1px 1px 1px #FFFFFF;
	-o-text-shadow:1px 1px 1px #FFFFFF;
}
.text-shadow-grey{
	text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
	-ms-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
	-o-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
}


.no-boxshadow{ box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; -ms-box-shadow:none; }
.no-radius { border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; -ms-border-radius: 0px;}
.radius-5 { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;}
.radius-10 { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px;}
.radius-15 { border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px;}
.radius-20 { border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; -ms-border-radius: 20px;}
.radius-bottom{
	border-radius: 0px 0px 100px 100px;
	-webkit-border-radius: 0px 0px 100px 100px;
	-moz-border-radius: 0px 0px 100px 100px;
	-ms-border-radius: 0px 0px 100px 100px;
	-o-border-radius: 0px 0px 100px 100px;
}


/*---------------------------------- STYLE END --------------------------------------*/

/*---------------------------------- COLOR START --------------------------------------*/

.white {color: #FFF !important;}
.black {color: #000 !important;}
.red {color: #FF3535 !important;}
.blue {color: #1075BC !important;}
.yellow {color: #FC0 !important;}
.green {color: #48A3A6 !important;}
.dark-green {color: #065209 !important;}
.grey{color: #555 !important;}
.lightgrey{color: #999 !important;}
.darkgrey{color: #333 !important;}
.orange {color: #f58634 !important;}
.purple{color:#7816F5 !important;}
.violet{color:#420042 !important;}
.brown{color:#623100 !important;}
.dark-brown{color: #572A00 !important;}
.beige{color:#FFFFCE !important;}
.pink{color:#F39;}
.dark-grey{color:#575757;}
.dark-blue{color:#016299;}


.white-bg {background: #FFF !important;}
.black-bg{background: #000 !important;}
.red-bg{background: #FF3535 !important;}
.blue-bg{background: #1075BC !important;}
.yellow-bg{background: #FC0 !important;}
.green-bg{background: #48A3A6 !important;}
.light-green-bg{background: #b8e757 !important;}
.dark-aqua-bg{background:#1D7267 !important;}
.grey-bg{background: #555 !important;}
.orange-bg{background: #F90 !important;}
.purple-bg{background:#7816F5 !important;}
.violet-bg{background:#420042 !important;}
.brown-bg{background:#804000 !important;}
.beige-bg{background:#FFFFCE !important;}
.pink-bg{background:#F39;}
.darkgrey-bg{background:#2f2f2f;}
.lightgrey-bg{background:#F4F4F4;}

.transblack-bg{
	background:rgba(70,70,70,0.90);
}
.transwhite-bg{
	background:rgba(255,255,255,0.85);
}

.btn-primary, .btn-default{
	padding:10px 20px;
	border-radius:0px;
}


/*---------------------------------- COLOR END --------------------------------------*/

/*------------ EXTRA STYLE START (It will be Modify with Layout Manually)-----------*/



.border-white{border: 1px solid rgba(255,255,255,.5)!important;}
.border-black{border: 1px solid rgba(0,0,0,.5) !important;}
.border-grey{border: 1px solid rgba(128,128,128,.5) !important;}

.border-white-4{border: 4px solid rgba(255,255,255,1);}

.border-black-t{border-top: 1px solid rgba(0,0,0,.5);}
.border-black-r{border-right: 1px solid rgba(0,0,0,.5);}
.border-black-b{border-bottom: 1px solid rgba(0,0,0,.5);}
.border-black-l{border-left: 1px solid rgba(0,0,0,.5);}

.border-grey-t{border-top: 1px solid #d1d1d1 ;}
.border-grey-r{border-right: 1px solid #d1d1d1;}
.border-grey-b{border-bottom: 1px solid #d1d1d1;}
.border-grey-l{border-left: 1px solid #d1d1d1;}

.border-white-t{border-top: 1px solid rgba(255,255,255,.08);}
.border-white-r{border-right: 1px solid rgba(255,255,255,.08);}
.border-white-b{border-bottom: 1px solid rgba(255,255,255,.08);}
.border-white-l{border-left: 1px solid rgba(255,255,255,.08);}

.border-orange-b{border-bottom: #F58634 solid 1px;}
.border-orange-t{border-top: #F58634 solid 1px;}

.me-btn{
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #F4F4F4;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
	background: #ff9933;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.me-btn:hover{
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #F4F4F4;
	text-shadow: 1px 0 1px rgba(255, 255, 255, 0.25);
	background: #EA7500;
}
.my-btn a{
	text-decoration:none;
}

.btn-lay{
	color: #fff;
	background-color: #1a7798;
	border-bottom:2px solid #fa832f;
}
.btn-lay:hover,.btn-lay:focus,.btn-lay:active,.btn-lay.active,.open>.dropdown-toggle.btn-lay{
	color:#fff;
	background-color:#18718D;
	border-bottom:2px solid #FA6D05;
}

.rating-easy{
	background:#F6CB50 !important;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #E88A17;
  padding:5px 22px;
}
.rating-medium{
  background: #b8e757 !important;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding:5px 13px;
}
.rating-difficult{
    background: #F38F36 !important;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #AF6B2E;
  padding:5px 8px;
}
.rating-extreme{
  background:#EE1B15 !important;
  color: #fff;
  background-color: #d9534f;
  border-color: #870400;
  padding:5px 9px;
}
.btn-noti{
	padding-right:0px !important;
}
.btn-noti span{
	border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  padding: 12px;
  margin-left:7px;
}



@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

/*---------------------------------- EXTRA STYLE END --------------------------------------*/

/*------------------------------ MORE CUSTOM CSS ADDED BELOW --------------------------------------*/


.navbar-brand{
	background:url(../images/logo.png) no-repeat;
	width: 220px;
	padding: 45px 15px;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #1375b4;
	background-color: transparent;
}
.navbar{
	margin-bottom:0px;
}
.navbar-default .navbar-nav > li > a {
	font-weight:bold;
	color:#6d6d6d;
}
.navbar-nav{
	padding:20px 15px;
}
@media(max-width:768px){
.navbar-default .navbar-nav > li > a {
	font-weight:bold;
	color:#6d6d6d;
	padding:15px;
}
}

@media(max-width:767px){
.top-icons{
	display:inline-block;
	width:100%;
}
}

.top-icons .top-icon{
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 5px;
  background-color: rgba(14, 14, 14, 0.5);
  margin-top: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
  border-radius: 35px;
}
.top-icons .top-icon a {
  display: block;
  height: 100%;
}
.top-icons .top-icon i {
  color: #eaeaea;
  font-size: 16px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-icons .top-icon i:hover {
  color: #1375b4;
}
.top-icons .top-icon span {
  position: absolute;
  right: -2px;
  top: -2px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 8px;
  line-height: 16px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #0F75BC;
}
.top-icons > li > a{
	padding:5px;
}
.top-icons > li > a .profile-pic{
	height: 40px;
	width: 41px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background:transparent;
}
.top-icons .dropdown-menu:after {
  border-bottom: 6px solid #333;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 17px;
  position: absolute;
  top: -6px;
}
@media (max-width:767px){
.top-icons .dropdown-menu:after{
	display:none;
}
.top-icons > li > a {
  padding: 5px !important;
  float: right;
}
}

.top-icons .dropdown-menu {
  background: #FFF;
  min-width: 200px;
  padding:0px;
}
.top-icons .dropdown-menu li a {
  color: #94989d;
  font-weight:normal;
  font-size: 13px;
  padding: 7px 10px;
  border-bottom:1px solid #eaeaea;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.top-icons .dropdown-menu li a:hover{
	color:#0F75BC;
}

.top-search-form {
  width: 100%;
}
.top-search-form form {
  margin: 5px 0;
  position: relative;
}
.top-search-form form input {
  border: none;
  height: 40px;
  padding: 0 10px;
  background-color: #FFF;
  outline: 0;
}
.top-search-form form button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 40px;
  width: 40px;
  background: none;
  color: #eaeaea;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
  background:rgb(16, 118, 189);
}

.mega-dropdown {
  position: static !important;
  /*width:100%;*/
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
	border-top: 1px solid #ccc;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}


.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.dropdown-menu > li > a{
	text-align:center;
	font-weight:600;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background:transparent;
	color:#0F75BC;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: transparent;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}






.home-banner{
	background:url(../images/home-banner.jpg) no-repeat center center;
	height:488px;
	width:100%;
	padding:50px 0;
}
.home-banner h2{
	font-size:32px;
	color:#FFF;
	font-weight:normal;
	font-family:oswald, Arial, Helvetica, sans-serif;
	text-align:center;
	text-transform:uppercase;
}

.search-form{
	background:rgba(255,255,255,0.4);
	padding:7px 0;
	box-shadow:0 0 4px 0 #333;
}
.search-form .form-group {
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.8)
}

.search-form .form-group input, .search-form .form-group select {
  padding-left: 2em!important;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.2142em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fff;
  height:55px;
  width:382px;
  
  border: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.8);
  border-radius: .2857rem;
  -webkit-transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
  transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
  box-shadow: none;
}
.search-form .form-group select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	
}
.search-form .fa {
	font-size: 1.3em;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 1.5em;
  color:#fff;
  background:#838383;
  opacity: .8;
  border-radius: 0 .2857rem .2857rem 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.search-form .search-btn{
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #0F75BC;
  color: #fff;
  padding: 0px 25px;
  font-size: 90%;
  font-weight: 100;
  letter-spacing: 3px;
  height: 55px;
}

.search-form .fa:before, .search-form .fa:after{
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -.5em;
}

@media (max-width:464px){
.search-form .form-group input, .search-form .form-group select{
	width: 320px;
}
}
@media (max-width:419px){
.search-form .form-group input, .search-form .form-group select{
	width: 250px;
}
}

.fitrangi h3:before, .fitrangi h3:after{
	content:' __________________________ ';
	vertical-align: super;
}
.adventure h2{
	font-family:oswald, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#0F75BC;
	text-align:center;
	text-shadow:0 1px 0 #333;
	-webkit-text-shadow:0 1px 0 #333;
	-moz-text-shadow:0 1px 0 #333;
	-ms-text-shadow:0 1px 0 #333;
	
	border-bottom:1px solid #eaeaea;
	padding-bottom:10px;
}

.adventure .row{
	padding:15px 0;
}
.adventure .row img{
	width:190px;
}

.journal h2{
	font-family:oswald, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#0F75BC;
	text-align:center;
	text-shadow:0 1px 0 #333;
	-webkit-text-shadow:0 1px 0 #333;
	-moz-text-shadow:0 1px 0 #333;
	-ms-text-shadow:0 1px 0 #333;
	
	border-bottom:1px solid #bababa;
	padding-bottom:10px;
}
.journal .container a{
	overflow:hidden;
	margin:7px 0;
}
.journal .container a img{
	height:100%;
	width:110%;
}
.journal .container a h4{
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  margin: 0px;
  height: 100%;
  background: rgba(0,0,0,0.4);
  color:#FFF;
}
@media(max-width:1000px){
.journal .radius-15{
	border-radius:0px;
	-webkit-border-radius:0px;
}
}

.profiles h2{
	font-family:oswald, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#0F75BC;
	text-align:center;
	text-shadow:0 1px 0 #333;
	-webkit-text-shadow:0 1px 0 #333;
	-moz-text-shadow:0 1px 0 #333;
	-ms-text-shadow:0 1px 0 #333;
	
	border-bottom:1px solid #bababa;
	padding-bottom:10px;
}
.events h2{
	font-family:oswald, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#0F75BC;
	text-align:center;
	text-shadow:0 1px 0 #333;
	-webkit-text-shadow:0 1px 0 #333;
	-moz-text-shadow:0 1px 0 #333;
	-ms-text-shadow:0 1px 0 #333;
	
	border-bottom:1px solid #bababa;
	padding-bottom:10px;
}

.events a{
	text-decoration:none;
	margin:10px 0;
	overflow:hidden;
	height:192px;
}
.events a img{
	height:100%;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	vertical-align:middle;
}

@media(max-width:420px){
.events a{
	height:100px;
	width:100%;

}
}






.discussion h2{
	font-family:oswald, Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#0F75BC;
	text-align:center;
	text-shadow:0 1px 0 #333;
	-webkit-text-shadow:0 1px 0 #333;
	-moz-text-shadow:0 1px 0 #333;
	-ms-text-shadow:0 1px 0 #333;
	
	border-bottom:1px solid #bababa;
	padding-bottom:10px;
}
.discussion .container{
	margin-top:50px; 
}
.discussion .media:nth-child(odd) {
    background: #f5f5f5;
	border-right:4px solid #00C4A6;
}

.discussion .media:nth-child(even) {
    background: #e2e2e2;
	border-right:4px solid #2AEED0;
}


.discussion .media .media-body .media-heading{
	color:#555;
	font-weight:100;
	padding:20px 0;
}

.discussion .media .media-left .media-object{
	height:100px;
	width:100px;
	background:none;
	padding:2px;
	
}

.discussion .media .media-right a.last-seen, .discussion .media .media-right a{
	font-family:'oswald', Arial, Helvetica, sans-serif; 
	text-transform:uppercase;
	color: #aaa;
	font-size:12px;
	border-right:none;
}
*.discussion .media .media-right a.last-seen:hover, .discussion .media .media-right a:hover{
	color:#0F75BC;
}


.discussion .media .media-left .fa:hover{
	color:#000;
}


.discussion .media .media-left{
	float:left;
} 
.discussion .media .media-right {
	float:right;
	margin-bottom:5px;
}
.discussion .media .media-right a{
	border-right:1px solid #CCC;	
	padding:0 10px;
}
.discussion .media .media-right .last-seen:before{
  content:' Last Seen On ';
}
.discussion .media .media-right .last-seen:after{
  content:' ago ';
}

.media-bottom {
  vertical-align: bottom;
  display: table;
  float: right;
}






.footer-signup .form-inline{
	text-align:center;
	padding:20px 10px; 
}
.footer-signup .form-inline label{
	font-family:'oswald', Arial, Helvetica, sans-serif; 
	text-transform:uppercase;
	color:#aaa;
	font-size:20px;
	vertical-align:middle;
}

.footer-signup .modal .modal-content .modal-header{
	background:#0F75BC;
}
.footer-signup .modal .modal-content .modal-header .modal-title{
	font-family:'oswald', Arial, Helvetica, sans-serif; 
	color:#FFF;
	text-transform:uppercase;
}
.footer-signup .modal .modal-content .modal-title{
	text-align:left !important;
	
}
.footer-signup .modal .modal-content .modal-body input{
	border-radius:0px;
}
.footer{
	padding:10px;
	background:#2D2D2D;
	color:#FFF;
}
.footer h3{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	border-bottom:1px solid #454545;
	padding-bottom:7px;
}
.footer .social a{
	text-decoration:none;
	color:#878787;
	margin:0 1px;
	
}
.footer .social a.fa{
	font-size:30px;

}





.navbar-toggle{
  position: relative;
  float: right;
  margin: 0px;
  border: 1px solid transparent;
  border-radius: 0px;
  background: #5c3370;
  background: rgba(15, 117, 188, 1);
  padding: 3.1em 1.6em;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: rgba(2, 93, 139, 1);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.activity-banner{
	/*background:url(../images/activity-banner.jpg) no-repeat center center;*/
	height:488px;
	width:100%;
	padding:50px 0;	
}
.activity-banner h2{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	position:relative;
	font-size:3.5em;
	top:200px;
}

.activity-banner .favourite img{
	text-align:center;
	width:100%;
	
	border: 4px solid #fff;
	border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
   box-shadow:0px 1px 5px 0 #777; 
}
.activity-banner .favourite a{
	text-decoration:none;
}
.activity-banner .favourite a h3:hover, .activity-banner .favourite a h3:focus{
	background:rgba(127, 127, 127, 0.7);
	color:#444;
}
.activity-banner .favourite h3{
	margin-top: 5px;
  	text-align: center;
  	background: rgba(15, 117, 188, 0.7);
  	/* background: rgba(255, 255, 255, 0.7); */
  	padding: 7px 10px;
  	text-transform: uppercase;
  	color: #fff;
  	border-radius: 7px;
  	-webkit-border-radius: 7px;
  	-moz-border-radius: 7px;
  	-ms-border-radius: 7px;
  	font-size: 1.4em;
  	font-weight: 400;
  	-o-border-radius: 7px;
}

@media (max-width:900px){
	.activity-banner .favourite{
	width:100%;
	text-align:center;
	margin:0px 70px;
}
.activity-banner .favourite h3{
	font-size:20px;
}
}


@media (max-width:768px){
.activity-banner .favourite{
	width:40%;
	text-align:center;
	margin:0px 150px;
}
.activity-banner h2{
	top:10px;
}
.activity-banner .favourite h3{
	font-size:18px;
}
}

@media (max-width:480px){
.activity-banner .favourite{
	width:50%;
	text-align:center;
	margin:0px 100px;
}
.activity-banner h2{
	top:10px;
}
.activity-banner .favourite h3{
	font-size:16px;
}

.activity-banner h2{
	font-size:2.5em;
}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #1076BC;
  	background-color: #fff;
	
}
.nav-tabs > li.active > a .fa{
	font-size:18px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
	color: #1076BC;
	background:transparent;
}

.nav-tabs > li a{
  display: inline-block;
  margin: 0;
  font-size: 16px;
  list-style: none;
  padding: 15px;
  background:#FFF;
  border-left: 1px solid #d1d1d1;
  font-weight:400;
  text-decoration:none;
	color:#99A4A6;
	word-spacing:normal;
	text-transform:uppercase;
}
.nav-tabs > li a strong{
	font-weight:400;
}

@media (max-width:1200px){
.nav-tabs > li a{
	padding: 15px 25px;
}
.nav-tabs > li a .badge{
	padding:2px 4px;
}
.nav-tabs li a strong{
	display:none;	
}
}

@media (max-width:640px){
.nav-tabs > li a{
	  padding: 15px 15px;
}
.nav-tabs li a strong{
	display:none;	
}
.nav-tabs > li a .badge{
	padding:2px 4px;
}
}

@media (max-width:480px){
.nav-tabs > li a{
	  padding: 15px 10px;
}
.nav-tabs li a strong{
	display:none;	
}

.nav-tabs > li a .badge{
	padding:2px 4px;
}
}


.nav-tabs > li:last-child{
  border-right: 1px solid #d1d1d1;
}
.nav-tabs{
	background: #fff;
  border-bottom: 1px solid #d1d1d1;
  padding: 0 !important;
  /*width: 100%;*/
  font-size: 16px;
  display:inline-block;
}

.tab-content .tab-pane{
	padding:10px 25px;
}


.tab-content .tab-pane .tab-details{
	background: #FFF;
	margin: 15px 0px;
	padding: 15px;
	-moz-box-shadow: 1px 1px 6px #d3d6d7;
	-webkit-box-shadow: 1px 1px 6px #d3d6d7;
  	box-shadow: 1px 1px 6px #d3d6d7;
  	color: #7f8c8d;
  	font-size: 14px;
  	text-align: justify;
  	-webkit-border-radius: 7px;
  	-moz-border-radius: 7px;
  	border-radius: 7px;
}
.tab-content .tab-pane .tab-details h3{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#747474;
	text-align:center;
	margin: 0;
  	padding-bottom: 3px;
	border-bottom: 1px solid #E3E3E3;
}

.tab-content .tab-pane .tab-details p{
	color:#7f8c8d;
}
.tab-content .tab-pane .tab-details p img{
  float: right;
  margin: 0 0 0 20px;
}

ul.my-list-wrong, ul.my-list-right {
	margin:15px 0;
	padding:0px 10px;
}

ul.my-list-wrong li, ul.my-list-right li {
	list-style:none;
	color:#b0afaf;
}
ul.my-list-wrong li:before{
	content:url(../images/wrong-tick.png);
	padding:0 10px;
	position: relative;
  	top: 7px;
}
ul.my-list-right li:before{
	content:url(../images/right-tick.png);
	padding:0 10px;
	position: relative;
  	top: 7px;
}





.adventure-banner{
	background:url(../images/adventure-banner.jpg) no-repeat center center;
	height:488px;
	width:100%;
	padding:50px 0;	
}

.adventure-banner .season h3{
	display:inline;
	text-transform:uppercase;
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#fff;
	vertical-align:middle;
}
@media (max-width: 767px) {
.adventure-banner .season{
	text-align:center;
}
}

.adventure-heading h2{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#fff;
	float:left;
	margin-top:0px;
}

.adventure-banner .adventure-heading article{
	float:right;
}

@media (max-width: 767px) {
.adventure-heading h2{
	text-align:center;
	float:none;
	font-size:30px;
	margin-bottom:20px;
}
.adventure-banner .adventure-heading article{
	text-align:center;
	float:none;
	margin-bottom:10px;
}
}

.adventure-banner .adventure-heading article h4{
	display:inline;
	text-transform:uppercase;
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#fff;
	vertical-align:middle;
}



.nav-justified li a{
	text-decoration:none;
	background-color: #e5e5e5;
	position: relative;
	display: block;
	text-transform:uppercase;
	color:#333;
	margin:5px 7px;
	
	transition: .2s linear;
	-webkit-transition:.2s linear;
	-moz-transition:.2s linear;
	-ms-transition:.2s linear;
}
.nav-justified li a:hover, .nav-justified li a:focus{
	background-color:#1076BC;
	color:#fff;
}


.adventure-banner .carousel-caption{
	right: 0%;
  	left: 0%;
  	padding-bottom: 30px;
    top: 400px;
	height:150px;
}

@media (max-width: 767px) {
.adventure-banner .carousel-caption{
	top:250px;
}
}

.review-heading{
	border-bottom:1px solid #f0f0f0;
	margin:50px 0 20px 0;
}
.review-heading ul li{
	list-style:none;
	display: inline;
	padding: 5px 20px;
}
.review-heading ul li a{
	text-decoration:none;
	font-weight:bold;
	color:#232323;
	font-size:16px;
}
.review-heading ul li a:active, .review-heading ul li.active a{
	color:#d22f31;
}
@media (max-width: 767px){
.review-heading ul li{
	display: block;
	padding:0px 20px 20px 0px;
	text-align:right;
}
.review-heading ul li a{
	font-size:14px;
}
}
.ago-line{
	font-weight:400;
	color:#8d8d8d;
	padding:0px 20px;
}
.post-profile{
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	background:#f4f4f4;
	border:1px solid #e4e4e4;
	padding:7px 10px;
	margin: 10px 0;
}
.post-profile h4{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	/*color:#AAAAAA;*/
	color:#00C4A6;
}
.post-profile a span{
	transition:.2s linear;
	-webkit-transition:.2s linear;
	-moz-transition:.2s linear;
	-ms-transition:.2s linear;
	-o-transition:.2s linear;
}
.post-profile a:hover{
	color:#0F75BC !important;
	background:transparent;
}

.otherpost-profile{
	padding:7px 10px;
	margin: 10px 0;
}
.otherpost-profile h4{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#0F75BC;
	display:inline-block;
}
.otherpost-profile h6{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	color:#898989;
	display:inline-block;
}
.otherpost-profile h6:after{
	content:' / ';
	color:#F00;
}
.otherpost-profile a span{
	transition:.2s linear;
	-webkit-transition:.2s linear;
	-moz-transition:.2s linear;
	-ms-transition:.2s linear;
	-o-transition:.2s linear;
}

.otherpost-profile .seen-report-like{
	font-weight: 400;
	color: #8d8d8d;
  	padding: 0px 20px;
}
.otherpost-profile .seen-report-like a{
	color:#797979;
	text-decoration:none;
}
.otherpost-profile .seen-report-like a:hover, .otherpost-profile .seen-report-like a:focus{
	color:#0F75BC !important;
	text-decoration:underline;
}
.otherpost-profile .seen-report-like a.like:before, .otherpost-profile .seen-report-like a.report:before{
	content:'·';
	padding:0 10px;
	display:inline-block;
	text-decoration:none;
}

.write-comment{
	padding:7px 10px;
	margin: 10px 0;
	display:block;
}
.write-comment .media-body textarea{
	margin: 10px 0;
}


.sponsored-thumb h4{
	margin:0;
	color:#767676;
}

.overlay-caption{
  position: absolute;
  width: 100%;
  bottom:62px;
  padding:7px;
  background-color:rgba(255,255,255,0.7) ;
}


.other-adventure h4{
	margin:0;
	color:#767676;
}
.other-adventure h5{
	margin:0;
	color:#373737;
}
.other-adventure .media{
	margin:10px 0;
}
.other-adventure .media .media-body{
	font-size:12px;
	text-align:left;
}


.filter-adventures-heading h2{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	/*color:#fff;*/
	color:#03E1E1;
	text-align:center;	
	text-shadow: 0px 1px 0px #444;
	-webkit-text-shadow: 0px 1px 0px #444;
	-moz-text-shadow: 0px 1px 0px #444;
	-ms-text-shadow: 0px 1px 0px #444;
	-o-text-shadow: 0px 1px 0px #444;
	
}
.filter-adventures-heading h3{
	font-family:'oswald', Arial, Helvetica, sans-serif;
	/*color:#fff;*/
	color:#02CACA;
	text-align:center;	
	text-shadow: 0px 1px 0px #444;
	-webkit-text-shadow: 0px 1px 0px #444;
	-moz-text-shadow: 0px 1px 0px #444;
	-ms-text-shadow: 0px 1px 0px #444;
	-o-text-shadow: 0px 1px 0px #444;
}
.adventures-banner{
	/*background:url(../images/adventures-banner.jpg) no-repeat center center;*/
	height:488px;
	width:100%;
	padding:50px 0;	
}



.fitrangi-select{
	width:100% ;
}
.fitrangi-select button{
	width:100% ;
	padding: 2px 10px;
	text-align:left;
	
		
	
}
.fitrangi-select button:hover, .fitrangi-select button:focus{
	background:#fff;;
}
.fitrangi-select button:active, .fitrangi-select button.active, .fitrangi-select .open > .dropdown-toggle button{
	background:#FFF;
}
.fitrangi-select.btn-group.open .dropdown-toggle{
	background:#fff;
	-webkit-box-shadow:none;
  	box-shadow: none;
	
}

.fitrangi-select button .fa{
	color:#999;
  	width: 40px;
	float:right;
	text-align: center;
	font-size: 18px;
	padding: 10px 0 10px 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}
.fitrangi-select button span{
	 display:inline-block;
	 padding:2px 10px;
	 line-height:43px;
	 display:inline-block;
	 font-family:'oswald', Arial, Helvetica, sans-serif;
	 /*color: #00CACA;*/
	 color:#999;
  	 font-weight: 400;
	 font-size:16px;
}

.fitrangi-select .dropdown-menu{
	width: 100%;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	  padding-bottom:0px;
	border-right: 3px solid #00CACA;
	border-left: 3px solid #00CACA;

}

.fitrangi-select ul.dropdown-menu li a:hover{
	background:#00CACA;
	color:#FFF;
}
.fitrangi-select ul.dropdown-menu li a{
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  background: #fff;
  color: #333;
  font-weight:400;
  cursor: pointer;
  position:relative;
  border-bottom: 1px solid #EAEAEA;
}

@media (max-width: 991px) {
.fitrangi-select {
  margin: 5px 0;
}
}





.fitrangi-select-inline{
	width:100% ;
}
.fitrangi-select-inline button{
	width:100% ;
	padding: 1px 10px;
	text-align:left;
	
		
	
}
.fitrangi-select-inline button:hover, .fitrangi-select-inline button:focus{
	background:#fff;;
}
.fitrangi-select-inline button:active, .fitrangi-select-inline button.active, .fitrangi-select-inline .open > .dropdown-toggle button{
	background:#FFF;
}
.fitrangi-select-inline.btn-group.open .dropdown-toggle{
	background:#fff;
	-webkit-box-shadow:none;
  	box-shadow: none;
	
}

.fitrangi-select-inline button .fa{
	color:#999;
	float:right;
	text-align: center;
	font-size: 18px;
	padding: 10px 0 10px 10px;
	border-left: 1px solid #ddd;
}
.fitrangi-select-inline button span{
	 display:inline-block;
	 padding: 0px 10px;
	 line-height: 2.4;
	 display:inline-block;
	 font-family:'oswald', Arial, Helvetica, sans-serif;
	 /*color: #00CACA;*/
	 color:#999;
  	 font-weight: 400;
	 font-size:16px;
}

.fitrangi-select-inline .dropdown-menu{
	width: 100%;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	  padding-bottom:0px;
	border-right: 3px solid #00CACA;
	border-left: 3px solid #00CACA;

}

.fitrangi-select-inline ul.dropdown-menu li a:hover{
	background:#00CACA;
	color:#FFF;
}
.fitrangi-select-inline ul.dropdown-menu li a{
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  background: #fff;
  color: #333;
  font-weight:400;
  cursor: pointer;
  position:relative;
  border-bottom: 1px solid #EAEAEA;
}

@media (max-width: 991px) {
.fitrangi-select-inline {
  margin: 5px 0;
}
}


.fitrangi-thumb .caption h4{
	margin:0;
	color:#767676;
	font-family:'oswald', Arial, Helvetica, sans-serif;
}

.fitrangi-thumb .captop{
	position:absolute;
	top:0px;
	right:5px;
	padding:15px 30px;
}
.fitrangi-thumb .capbottom{
	position:absolute;
	top:165px;
	right:10px;
	padding:0 20px;
}
.fitrangi-thumb .capbottom a span{
	color:#00CACA;
}
.fitrangi-thumb .captop article{
	right:0px;
}
.fitrangi-thumb .captop article h4{
	display:inline-block;
	color:#FFF;
	vertical-align:middle;
}
@media (max-width: 1200px) {
.fitrangi-thumb .capbottom{
	top:130px;
}
}
@media (max-width: 767px) {
.fitrangi-thumb .capbottom{
	top:100px;
}
}









ul.pagination li a .fa{
    padding: 2px 10px;
  	height: 45px;
  	line-height: 40px;
  	overflow: hidden;
	font-size: 24px;
	font-weight:lighter;
	text-align:center;
}

ul.pagination li a{
    padding: 1px 15px;
  	height: 45px;
  	line-height: 45px;
  	border: 1px solid #e6e6e6;
	border-radius: 0.25em;
  	overflow: hidden;
	margin:0 2px;
}



.fitrangi-datalist input{
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 0px 50px 0px 10px;
  margin-bottom: 0;
  font-weight: normal;
  line-height:50px;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  width:100%;
  letter-spacing:2;
}
.fitrangi-datalist ::-webkit-input-placeholder{
  display: inline-block;
  padding: 2px 0px;
  line-height: 43px;
  display: inline-block;
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  color: #999;
  font-weight: 400;
  font-size: 16px;
}

.fitrangi-datalist input::-webkit-calendar-picker-indicator{
  color: #999;
  width: 12px;
  height: 12px;  
  padding: 12px 15px;
  margin:5px;
  position:absolute; 
  line-height: 24px;
  border-left: 1px solid #ddd;

}
