.pp-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.pp-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.pp-grid:after {
	clear: both;
}

.pp-grid li {
	width: 220px;
	height: 220px;
	/*width:18%;
	height:230px*/;
	display: inline-block;
	margin: 20px;
}










.pp-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	border:10px inset #0F75BC;		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pagep-item {
	width: 100%;
	height: 100%;
	border-radius: 0px;
	position: relative;
	cursor: default;
	border:none;		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.pp-info {
	position: absolute;
	/*background: rgba(63,147,147, 0.8);*/
	background:rgba(15, 117, 188, 0.7);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}
.pagep-info {
	position: absolute;
	/*background: rgba(63,147,147, 0.8);*/
	background:rgba(0, 0, 0, 0.6);
	width: inherit;
	height: inherit;
	border-radius:00px;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.pp-info h3, .pagep-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 100px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.pp-info p, .pagep-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.2s;
	-moz-transition: all 1s ease-in-out 0.2s;
	-o-transition: all 1s ease-in-out 0.2s;
	-ms-transition: all 1s ease-in-out 0.2s;
	transition: all 1s ease-in-out 0.2s;
}


.pp-info p a:hover, .pagep-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.pp-item:hover, .pagep-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.pp-item:hover .pp-info, .pagep-item:hover .pagep-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.pp-item:hover .pp-info p, .pagep-item:hover .pagep-info p {
	opacity: 1;
}

