{% macro show_button(model_view, card_type, page) -%}
{% if page == 1 or page == '1' %}
<div class="col-sm-offset-2 col-sm-8">
    <button id="load_more_{{model_view}}_{{card_type}}" class="col-sm-12 btn-primary">Load more</button>
</div>
<script language="JavaScript">
    (function(){
        if (window.current_page == undefined) {
            window.current_page =  {};
        }

        window.current_page.{{model_view}}_{{card_type}} = parseInt("{% if page %}{{page}}{% else %}1{% endif %}");
        $("#load_more_{{model_view}}_{{card_type}}").on('click', function(e){
            e.stopPropagation();
            $.ajax({
                url: "/listing/page?model_view={{model_view}}&card_type={{card_type}}&page=" + (current_page.{{model_view}}_{{card_type}} + 1)
            }).done(function(data) {
                $("#models_{{model_view}}_{{card_type}}").append(data);
                window.current_page.{{model_view}}_{{card_type}} = parseInt(window.current_page.{{model_view}}_{{card_type}}) + 1;
            });
        });
    })();
</script>
{% endif %}
{%- endmacro %}