<section class="container subheading">
    {% if search_val %}<h2>Search Results <br/><small>You searched for "<u>{{ search_val }}</u>"</small></h2>{% endif %}
</section>

{% if counts.get('campsite', 0) > 0 %}
<section class="container-fluid subheading lightgrey-bg pb-20">
    <div class="container fitrangi-thumb">
        <h3>Campsites <small>({{counts.get('campsite')}})</small></h3>
        <input id="campsite-filter" data-model="campsite" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
        {{campsites|safe}}
        {% if counts.get('article', 0) > 6 %}
        <div class="pull-right">
            <a href="/campsites?query=name__icontains:{{search_val}};" class="btn btn-primary mb-10 pull-right">View all</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('adventure', 0) > 0 %}
<section class="container-fluid subheading lightgrey-bg pb-20">
    <div class="container fitrangi-thumb">
        <h3>Destinations <small>({{counts.get('adventure')}})</small></h3>
        <input id="adventures-filter" data-model="adventure" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
        {{adventures|safe}}
        {% if counts.get('adventure', 0) > 6 %}
        <div class="pull-right">
            <a href="/adventures?query=name__icontains:{{search_val}};" class="btn btn-primary mb-10 pull-right">View all</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('trip', 0) > 0 %}
<section class="container-fluid subheading lightgrey-bg pb-20">
    <div class="container fitrangi-thumb">
        <h3>Trips <small>({{counts.get('trip')}})</small></h3>
        <input id="trip-filter" data-model="trip" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
        {{trips|safe}}
        {% if counts.get('trip', 0) > 6 %}
        <div class="pull-right">
            <a href="/trips?query=name__icontains:{{search_val}};" class="btn btn-primary mb-10 pull-right">View all</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('gear', 0) > 0 %}
<section class="container-fluid subheading lightgrey-bg pb-20">
    <div class="container fitrangi-thumb">
        <h3>Gears <small>({{counts.get('gear')}})</small></h3>
        <input id="gear-filter" data-model="gear" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
        {{gears|safe}}
        {% if counts.get('gear', 0) > 4 %}
        <div class="pull-right">
            <a href="/gears?query=name__icontains:{{search_val}};" class="btn btn-primary mb-10 pull-right">View all</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('article', 0) > 0 %}
<section class="container-fluid fitrangi-blog-thumb subheading lightgrey-bg pb-20">
    <div class="container">
        <h3>Blogs <small>({{counts.get('article')}})</small></h3>
        <div class="container">
            <input id="article-admin-published-filter" type="hidden" data-model="article" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
            <input id="article-published-filter" type="hidden" data-model="article" data-filter="published" value="bool|True" data-filter-status="fixed"/>
            <input id="article-filter" data-model="article" data-filter="title__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
            {{journals|safe}}
        </div>
        {% if counts.get('article', 0) > 6 %}
        <div class="pull-right">
            <a href="/journals?query=title__icontains:{{search_val}};" class="btn btn-primary pull-right">View All</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('discussion', 0) > 0 %}
<section class="container-fluid discussion subheading lightgrey-bg pb-20">
    <div class="container">
        <h3>Discussion <small>({{counts.get('discussion')}})</small></h3>
        <div class="container">
            <input id="discussion-admin-published-filter" type="hidden" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
            <input id="discussion-published-filter" type="hidden" data-model="discussion" data-filter="published" value="bool|True" data-filter-status="fixed"/>
            <input id="discussion-filter" data-model="discussion" data-filter="title__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
            {{discussions|safe}}
        </div>
        {% if counts.get('discussion', 0) > 4 %}
        <div class="pull-right">
            <a href="/discussions?query=title__icontains:{{search_val}};" class="btn btn-primary pull-right">View All</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('profile', 0) > 0 %}
<section class="container-fluid profile subheading lightgrey-bg pb-20">
    <div class="container">
        <h3>Profiles <small>({{counts.get('profile')}})</small></h3>
        <div class="container">
            <input id="profile-filter" data-model="profile" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
            <div class="media-list">
                {{profiles|safe}}
            </div>
        </div>
        {% if counts.get('profile', 0) > 4 %}
        <div class="pull-right">
            <a href="/profiles?query=name__icontains:{{search_val}};" class="btn btn-primary pull-right">View All</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if counts.get('event', 0) > 0 %}
<section class="container-fluid subheading lightgrey-bg pb-20">
    <div class="container fitrangi-thumb">
        <h3>Events <small>({{counts.get('event')}})</small></h3>
        <input id="event-filter" data-model="event" data-filter="name__icontains" type="hidden" value="{{search_val}}" data-filter-status="fixed">
        {{events|safe}}
        {% if counts.get('event', 0) > 6 %}
        <div class="pull-right">
            <a href="/events?query=name__icontains:{{search_val}};" class="btn btn-primary mb-10 pull-right">View all</a>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
