{% macro show_comments(comments, key, user) -%}
<div class="col-lg-12">
    <hr/>
    <div class="">
	<h4>Comment:</h4>

    {% if user %}
	<form id="comment_form" role="form well" data-key="{{ key }}">
   		<div class="form-group">
        	<textarea id="comment_text" class="form-control" rows="3"></textarea>
    	</div>
        <button id="comment_submit" type="button" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
	<br/>
	{% if comments|length > 0 %}
	{% for comment in comments %}
		<div class="well well-small blue">
            <form action="/comments/{{key}}/delete/{{ comment.key }}" method="post">
                <input id="{{ comment.key }}" type="hidden" name="location" value=""/>
                <p class="pull-right"><button class="btn btn-link" type="submit">X</button></p>
                <script>
                    (function() {
                        $('#{{comment.key}}').attr('value', window.location.href);
                    })();
                </script>
            </form>
			<h4>{{ comment.created_by.name }} <small> {{ comment.since }}</small></h4>
			<!--p><strong>{{ comment.title }}</strong></p-->
			<p>{{ comment.text }}</p>
		</div>
	{% endfor %}
	{% else %}
		<p class="well well-lg"><strong>Be the first to comment</strong></p>
	{% endif %}
    </div>
</div>
{%- endmacro %}
