{% macro show_comments(comments, key, user) -%}
<div>
    <br/>
    <div class="well well-sm">
    <form class="comment_form">
        <div class="input-group">
            <input type="text" class="form-control comment_form_text" data-key="{{key}}" id="comment_text_{{key}}" placeholder="Add a comment..">
            <div class="input-group-btn">
                <a href="#" class="comment_submit btn btn-primary btn-md" data-key="{{key}}">Comment</a>
            </div>
        </div>
    </form>
    {% if comments|length > 0 %}
    <br/>
    <br/>
    <ul data-key="{{key}}" id="sortable" class="list-unstyled ui-sortable">
	{% for comment in comments[0:7] %}
        <strong class="pull-left primary-font"><a href="{{comment.created_by.slug}}">{{ comment.created_by.name }}</a></strong>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>&nbsp;{{ comment.since }}<!--7 mins ago--></small>
        <br/>
        <li class="ui-state-default"> {{ comment.data|safe }}</li>
        {% if not loop.last %}
        <hr/>
        {% endif %}
		<!--div class="panel panel-default">
            <div class="panel-body">
            {% if comment.created_by == user %}
            <form action="/comments/{{key}}/delete/{{ comment.key }}" method="post">
                <input id="{{ comment.key }}" type="hidden" name="location" value=""/>
                <p class="pull-right"><button class="btn btn-link" type="submit">X</button></p>
                <script>
                    (function() {
                        $('#{{comment.key}}').attr('value', window.location.href);
                    })();
                </script>
            </form>
            {% endif %}
			<strong><a href="{{comment.created_by.slug}}">{{ comment.created_by.name }}</a> <small> {{ comment.created_on.strftime('%d-%m-%Y %H:%M') }}</small></strong>
			<p>{{ comment.data|safe }}</p>
            </div>
		</div-->
	{% endfor %}
    </ul>
    {% endif %}
    </div>
</div>
{%- endmacro %}