{% macro show_facets(model, facets) -%}
<hr/>
<div class="form-group">
    <label class="col-md-3 control-label">Facets</label>

    <div class="col-md-8">
        {% for title in facets %}
        {% if title in model.__facets__ %}
        <div class="panel-group" id="accordion_{{ title.replace(' ', '-') }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion_{{ title.replace(' ', '-') }}" href="#collapseOne_{{title.replace(' ', '-')}}">
                            <u>{{title}}</u></a>

                    </h4></div>
                <div id="collapseOne_{{title.replace(' ', '-')}}" class="panel-collapse collapse">
                    <div class="panel-body">

                        {% for f in facets.get(title) %}

                        <div class="col-md-offset-1 col-md-12">
                            {% if f.facets|length == 0 %}
                            <input class="" type="checkbox" name="facets" value="{{ f.name }}"/>
                            {% endif %}
                            <strong>{{ f.name }}</strong>
                        </div>

                        <div class="col-md-12">
                            {% for _v in f.facets %}
                            <div class="col-md-offset-2 col-md-4">
                                <input type="checkbox" name="facets" value="{{_v}}"/>
                                <strong>{{_v}}</strong>
                            </div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>


{%- endmacro %}