{% if facet|length > 0 %}	

	<form id="facetform" action="/channel/{{channel.name}}{% if subchannel %}?subchannel={{subchannel}}{% endif %}" class="form-horizontal" role="form" method="GET">
		{% for k in facet %}
		<div class="panel panel-default">
			<div class="panel-heading"><div class="panel-title">{{ k }}</div></div>
				<div class="panel-body">
				{% if facet.get(k) |length > 0 %}
					{% for _f in facet.get(k) %}
						{% if _f.facets|length == 0 %}
						    <strong>{{ _f.name }}</strong>
							<input type="checkbox" class="pull-right" name="facets-{{_f.name}}" value="{{_f.name}}"/>
							<hr/>
						{% else %}

						    <strong>{{_f.name }}</strong>
                            <input type="checkbox" class="pull-right" name="facets-{{_f.name}}" value="{{_f.name}}"/>
							<hr/>
							{% for _fl in _f.facets %}
							    <div class="row-fluid">
								    <input type="checkbox" class="pull-right" name="facets-{{_fl}}" value="{{_fl}}"/>
								    {{ _fl }}
							    </div>
						    {% endfor %}
							<hr/>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</form>
<script>
	function getParameterByName(name) {
    	var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    	return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
	}
	$(document).ready(function(){
		var url_facets = getParameterByName('facets');
		if (url_facets != undefined && url_facets != null) {
			url_facets = url_facets.split(',');
			if (url_facets.length > 0) {
				for(var i = 0; i < url_facets.length; i++) {
					var ip_check = $('#facetform').find('input[value=\'' + url_facets[i] + '\']');
					ip_check.attr('checked', 'true');
				}
			}
		}
		var applyFacet = function(){
			var facets = $('#facetform').find('input');
			for (var $i = 0; $i < facets.length; $i++) {
				if (facets[$i].checked == true) {
					console.log(facets[$i].attr('value'));
				}	
			}
		};

		$('#facetform').on("click", "input[type='checkbox']", function(e) {
			e.stopPropagation();
			console.log(window.location.href );
			var j = window.location.href.indexOf('?');
			var loc = window.location.href.substring(0, j);
			var subchannel = getParameterByName('subchannel');
			var facets = getParameterByName('facets');
			if (this.checked == true ) {
				if (facets != null && facets != undefined && facets.length > 0) {
					var _facet = facets.split(',');
					var found = false;
					for(var k = 0; k<_facet.length;k++) {
						if (_facet[k] == this.value) {
							found = true;
							break;
						}		
					}
					if (!found) {
						facets = facets + ',' + this.value;
					}
				} else {
					facets = this.value;
				}
			} else {
				if (facets != null && facets != undefined && facets.length > 0) {
					_facets = facets.split(',');
					_new_facets = '';
					for (var k = 0; k < _facets.length; k++) {
						if (_facets[k] == this.value) continue;
						_new_facets = _new_facets + _facets[k] + ','
					}
					if (_new_facets.length <= 1)
						_new_facets = undefined;
					facets = _new_facets;
				}
			}
			var final_location = loc + '?';
			if (subchannel != null && subchannel != undefined)
				final_location = final_location + 'subchannel=' + subchannel + "&"
			if (facets != null && facets != undefined)
				final_location = final_location + 'facets=' + facets
			window.location.href = final_location;
		});
	});
</script>
{% endif %}
