{% extends "/generic/main/base.html" %}
{% block body %}
<div class="container">
    <div class="row" style="height: 800px;">
	<div class="col-md-8">
		<div class="jumbotron">
			<h1>Register with us.</h1>
			<p>Be in the know. Adventure news on your finger tips.</p>
            <br/>
            <br/>
			<a href="/register" class="btn btn-lg btn-info">Register</a>
		</div>
	</div>
    <div id="loginbox" style="" class="pull-right col-md-4">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>     
            <div class="panel-body" >
                <form id="loginform" action="/login" method="post" class="form-horizontal" role="form">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" required data-validation-required-message="Please enter your name." class="form-control" name="username" value="" placeholder="email"/>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" required data-validation-required-message="Please enter your Password." class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>
                    <div style="margin-top:10px" >
                        <div class="col-sm-3 controls">
                            <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                        </div>
                    </div>
                    
                    
                  
                        <div class="col-sm-6 controls">
                        <a href="/register" id="btn-login" class="btn btn-success" >   Sign Up </a>
                        </div>
                    
    <!--div class="omb_login">
    	<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">OR</span>
			</div>
		</div>
        <div class="row  omb_socialButtons">
                    <div class="container-fluid">
                    <div class="col-md-6">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
                        </div>
                        
                     <div class="col-md-6">   
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
                         </div>
                        </div>
                        </div>
        	</div>
                    

		</div>
                    <div class="control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >Don't have an account! <a id="signupshow" href="/register">Sign Up Here</a></div>
                    </div -->
                </form>    
                
            </div>                     
        </div>  
    </div>
    </div>
</div>
{% endblock %}
{% block footer %} 
{% endblock %}
