{% extends "/generic/main/base.html" %}
{% block header_script %}
       <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(Object.keys(response));
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '526533334116117',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    FB.api('/me', function(response) {
        console.log(Object.keys(response));
        console.log(response.name);
        console.log(response.email);
        $.ajax({
            type: 'POST',
            url: '/fbsociallogin',
            data: {name: response.name, email: response.email}
        }).done(function(msg) {
            if (msg.status == 'success') {
                window.location = msg.location;
            } else {
                alert("Invalid Login, try again");

            }
        })
    }, {scope: 'email, user_likes'});
  }
</script>


{% endblock %}
{% block body %}
<div class="container">
    <div class="row" style="height: 800px;">
	<div class="col-md-8">
		<div class="jumbotron">
			<h1>Register with us.</h1>
			<p>Be in the know. Adventure news on your finger tips.</p>
            <br/>
            <br/>
			<a href="/register" class="btn btn-lg btn-info">Register</a>
		</div>
	</div>
    <div id="loginbox" style="" class="pull-right col-md-4">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>     
            <div class="panel-body" >
                <form id="loginform" action="/login" method="post" class="form-horizontal" role="form">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" required data-validation-required-message="Please enter your name." class="form-control" name="username" value="" placeholder="email"/>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" required data-validation-required-message="Please enter your Password." class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>
                    <div style="margin-top:10px" >
                        <div class="col-sm-3 controls">
                            <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                        </div>
                    </div>
                    
                    
                  
                        <div class="col-sm-6 controls">
                        <a href="/register" id="btn-login" class="btn btn-success" >   Sign Up </a>
                        </div>

    <!--div class="omb_login">
    	<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">OR</span>
			</div>
		</div>
        <div class="row  omb_socialButtons">
                    <div class="container-fluid">
                    <div class="col-md-6">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
                        </div>

                     <div class="col-md-6">
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
                         </div>
                        </div>
                        </div>
        	</div>
                    

        </div>--><br><Br>
                    <div class="control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >
                            <a id="forgotpassword" data-toggle="modal" data-target="#largeModal1"  href="">Forgot Password?</a>
                            <br/>
                            <br/>

                        </div>
                    </div>
                    <div class="row-fluid">
                            <a href="/glogin?next=/gsocial_login_user_set" class="btn btn-sm btn-danger">
			                    <i class="fa fa-google-plus"></i>
                                <span>Login&nbsp;&nbsp;with&nbsp;&nbsp;Google&nbsp;&nbsp;&nbsp;</span>
		                    </a>
                            <br/>
                            <br/>
                            <fb:login-button data-max-rows="0" data-size="large" scope="public_profile,email" onlogin="checkLoginState();">Login with Facebook</fb:login-button>
                    </div>
                </form>    
                
                    
       <div class="modal fade" id="largeModal1" tabindex="-1" role="dialog" aria-          labelledby="largeModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">
                                   Forgot Password</h4>  
                            </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-sm-5">
                    <div class="panel-body" >
            
                        <form id="loginform" action="#" method="post" class="form-horizontal" role="form">
                            <div style="margin-bottom: 50px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" required data-validation-required-message="Please Enter Your Email." class="form-control" name="email" value="" placeholder="Please Enter Your Email"/>        
                        </div>
                            
                    </div>
                        
        		  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-login" type="submit" class="btn btn-default">Submit  </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
            </div>                     
        </div>  
    </div>
    </div>
</div>
{% endblock %}
{% block footer %} 
{% endblock %}

    