<div class="navbar navbar-default" id="subnav" style="{{additional_styles}}">
    <div class="col-md-12">
	    <div class="collapse navbar-collapse" id="navbar-collapse2">
		    <ul class="nav navbar-nav navbar-right">
			    {% for _menu, multiple, _check in ordered_menu %}
                {% if multiple %}
				    <li class="{% if menu == _check %}active{% endif %}dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _menu }}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
						    {% for k, v in menus[_menu] %}
							    <li class="{% if submenu and (submenu == k or submenu == _check) %}active{% endif %}"><a href="{{v}}">{{ k }}</a></li>
							{% endfor %}
              			</ul>
            		</li>
				{% else %}
					<li class="{% if menu == _check %}active{% endif %}"><a href="{{ menus[_menu] }}">{{ _menu }}</a></li>
				{% endif %}
			    {% endfor %}
          	</ul>
		</div>
	</div>
</div>
