{% extends "/generic/main/base.html" %}
{% block body %}
<div class="container">    
    <div class="row" style="height:800px;">
	<div class="col-md-8">
		<div class="jumbotron">
			<h1><small>Register with Us</small></h1>
            <br/>
            <br/>
			<p>Be in the know. Adventure news on your finger tips.</p>
            <br/>
            <br/>
            <br/>
		</div>
	</div>
	<div id="signupbox" class="col-md-4 col-md-4">
    	<div class="panel panel-info">
        	<div class="panel-heading">
                <div class="panel-title">Sign Up</div>
        	</div>  
            <div class="panel-body" >
                <form id="signupform" action="/register" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="signup-name" type="text" class="form-control col-md-3" name="name" required data-validation-required-message="Please enter your name." placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="signup-email" type="email" class="form-control col-md-3" name="email" data-bv-emailaddress-message="The value is not a valid email address" 
required data-validation-required-message="Please enter your password."placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="signup-password" type="password" class="form-control col-md-3" name="password" required data-validation-required-message="Please enter your password." placeholder="Password">
                        </div>
					</div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="signup-confirm" type="password" class="form-control cold-md-3" name="confirm" required data-validation-required-message="Please reenter Password." placeholder="Confirm">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Sign Up</button>
                            
                            
                           <!-- <a href="/login" class="btn  btn-info">Login</a -->
                        </div>
                    </div>
            	 </form>
                           
            </div>
         </div>
    </div>
    </div>
</div>
{% endblock %}
{% block footer %} 
{% endblock %}
