{% macro show(title, description, link) %}
<div id="share-buttons">
    SHARE&nbsp;via&nbsp;
    <a href="http://www.facebook.com/sharer.php?u=http://www.fitrangi.com{{link}}" target="_blank"><img src="/images/somacro/facebook.png" alt="Facebook" /></a>
    <a href="http://twitter.com/share?url=http://www.fitrangi.com{{link}}&text={{title}}" target="_blank"><img src="/images/somacro/twitter.png" alt="Twitter" /></a>
    <a href="https://plus.google.com/share?url=http://www.fitrangi.com{{link}}" target="_blank"><img src="/images/somacro/google.png" alt="Google" /></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.fitrangi.com{{link}}" target="_blank"><img src="/images/somacro/linkedin.png" alt="LinkedIn" /></a>
    <a href="mailto:?Subject=title&Body={{description}} http://www.fitrangi.com{{link}}"><img src="/images/somacro/email.png" alt="Email"/></a>
</div>
{% endmacro %}